.highlightsContainer {
  background: rgba(161, 90, 149, 0.1);
  padding: 10px 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 10px;
  margin-top: 16px;
}

.highlightItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(46, 43, 44, 1);
  font-weight: 700;
  font-size: 12px;


  .text{
      color: rgba(46, 43, 44, 1);
  font-weight: 700;
  font-size: 12px;
  white-space: nowrap;
  display: inline-block;
  }
}

.icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  background: rgba(158, 0, 126, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    width: 18px;
  }
}
