/*!********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/application-banner.less ***!
  \********************************************************************************************************************************************************************/
.theme-styles-sections-application-banner__imageWrapper--CqR1S img {
  transition: 300ms all cubic-bezier(0, 0, 0.2, 1);
}
.theme-styles-sections-application-banner__imageHoverEnabled--q7ALG img:hover {
  transform: scale(1.1);
}
.theme-styles-sections-application-banner__applicationBannerContainer--dp__1 {
  position: relative;
}
.theme-styles-sections-application-banner__applicationBannerContainer--dp__1 .theme-styles-sections-application-banner__box-wrapper--JjP5l {
  width: var(--box_width);
  height: var(--box_height);
  opacity: 0;
  position: absolute;
  inset-inline-start: var(--x_position);
  top: var(--y_position);
  cursor: pointer;
  transform: translate(var(--x_offset), var(--y_offset));
}
[dir="rtl"] .theme-styles-sections-application-banner__applicationBannerContainer--dp__1 .theme-styles-sections-application-banner__box-wrapper--JjP5l {
  transform: translate(calc(var(--x_offset) * -1), var(--y_offset));
}
.theme-styles-sections-application-banner__applicationBannerContainer--dp__1 .theme-styles-sections-application-banner__box-wrapper-visible--YUcb3 {
  background: red;
  opacity: 0.5;
}

/*!********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/components/hotspot/product-hotspot.less ***!
  \********************************************************************************************************************************************************************/
/**color by character**/
/** Font family **/
/** Font weight **/
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop .theme-components-hotspot-product-hotspot__n2oQ6--ghzVm {
  padding: 0px !important;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop .theme-components-hotspot-product-hotspot__uiz1K--Zzbtq {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop .theme-components-hotspot-product-hotspot__P1CJx--CBJcT {
  border: none !important;
  flex: 1;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop .theme-components-hotspot-product-hotspot__P1CJx--CBJcT img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop .theme-components-hotspot-product-hotspot__kkBOU--shjyE {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="auth-container-auth-container__loginWrapper"] {
  padding: 0px !important;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="login__loginWrapper"] {
  display: flex;
  align-items: center;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="auth-container__loginBannerWrapper"] {
  border: none !important;
  flex: 1;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="auth-container__loginBannerWrapper"] img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="auth-container__loginCard"] {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="auth-container__loginContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="login__loginTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="login__loginSubText"] {
  color: rgba(46, 43, 44, 0.5) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  letter-spacing: -0.5px !important;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="login-otp__loginOtpWrapper"] {
  margin-top: 20px !important;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="term-privacy__byContinuingText"] {
  color: #2e2b2c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="term-privacy__byContinuingText"] a {
  font-weight: 700 !important;
  color: #2e2b2c !important;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="mobile-number__inputTitle"] {
  display: none;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop .theme-components-hotspot-product-hotspot__react-international-phone-country-selector-button--RqHQR {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px!important;
  margin-right: 8px !important;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="react-international-phone-dial-code-preview mobile-number__dialCodePreview"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-right: none !important;
  border-radius: 12px 0 0 12px !important;
  border-inline: 1px solid rgba(0, 0, 0, 0.08) !important;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop .theme-components-hotspot-product-hotspot__react-international-phone-input--YZlbN {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0 12px 12px 0 !important;
  border-left: none !important;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="login-mode-button__loginModeBtn"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="login-mode-button__loginModeBtn"] svg path {
  fill: #9e007e;
}
.theme-components-hotspot-product-hotspot__login-auth-container--Xuvop [class*="login-mode-button__loginModeLabel"] {
  width: auto !important;
  text-transform: capitalize !important;
  margin-inline-end: 0px !important;
}
.theme-components-hotspot-product-hotspot__forget-password-container--d6Un_ [class*="forget-password__forgetPasswordWrapper"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 40px;
  max-width: 500px;
}
.theme-components-hotspot-product-hotspot__forget-password-container--d6Un_ [class*="forgotPasswordTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-components-hotspot-product-hotspot__forget-password-container--d6Un_ form {
  position: relative;
}
.theme-components-hotspot-product-hotspot__forget-password-container--d6Un_ form label {
  left: 5px;
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-hotspot-product-hotspot__forget-password-container--d6Un_ form input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px !important;
}
.theme-components-hotspot-product-hotspot__forget-password-container--d6Un_ form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-hotspot-product-hotspot__forget-password-container--d6Un_ form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-components-hotspot-product-hotspot__forget-password-container--d6Un_ [class*="login-register-toggle__loginRegisterToggle"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-components-hotspot-product-hotspot__forget-password-container--d6Un_ [class*="login-register-toggle__loginRegisterToggle"] span {
  width: auto;
}
.theme-components-hotspot-product-hotspot__forget-password-container--d6Un_ [class*="login-register-toggle__loginRegisterToggle"] svg path {
  fill: #9e007e;
}
@media (max-width: 768px) {
  .theme-components-hotspot-product-hotspot__forget-password-container--d6Un_ [class*="forget-password__forgetPasswordWrapper"] {
    padding: 20px;
    margin: 0 20px;
  }
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq {
  margin-bottom: 50px;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__mainView"] {
  flex-direction: row-reverse;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__profilePageContainer"] {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__profileContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="fy-input__required"] {
  color: #9e007e;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-details__radioContent"] {
  padding: 10px 0;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq form [class*="profile-details__formLabel"] {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq form label {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq form input {
  padding: 10px 0px;
  font-size: 14px;
  color: #1a1a1a !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq form [class*="profile-address-page__commonBtn"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq form .theme-components-hotspot-product-hotspot__ojp_C--R0yL7 {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq form button[type="submit"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #fff !important;
  background-color: #9e007e !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__navContainer"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 16px !important;
  padding: 20px !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="empty-state__heading"] {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq .theme-components-hotspot-product-hotspot__O32OW--C1Wwa {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__nav_"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 12px !important;
  padding: 15px 20px !important;
  margin-bottom: 10px;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__nav_"] span {
  color: #2e2b2c;
  font-size: 14px;
  font-weight: 400;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__nav_"] svg path {
  fill: #9e007e !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__navContainer"] ul > *:nth-child(1),
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__navContainer"] ul > *:nth-child(4) {
  display: none !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__selected"] {
  border: 1px solid #9e007e !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__selected"] svg path {
  fill: #9e007e !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__signOut"] {
  color: #9e007e !important;
}
.theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__accountHeader"] {
  margin-bottom: 10px;
  color: #1a1a1a !important;
}
@media (max-width: 768px) {
  .theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq {
    margin-top: 50px;
  }
  .theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="profile-navigation__profileContent"] {
    padding: 15px;
  }
  .theme-components-hotspot-product-hotspot__profile-navigation-container--Unhkq [class*="address-form__formContainer"] {
    flex-direction: column;
  }
}
.theme-components-hotspot-product-hotspot__collection-hero-banner--NiSmH {
  position: relative;
  width: 100%;
  height: 340px;
  margin: 0 auto;
  overflow: hidden;
}
.theme-components-hotspot-product-hotspot__collection-banner-img--rxzLR {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.theme-components-hotspot-product-hotspot__collection-banner-img-mobile--wfbmc {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.theme-components-hotspot-product-hotspot__collection-banner-content--mj0Mc {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 20px 40px;
  max-width: 50%;
}
.theme-components-hotspot-product-hotspot__collection-banner-content--mj0Mc h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.theme-components-hotspot-product-hotspot__collection-banner-content--mj0Mc p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
@media (max-width: 768px) {
  .theme-components-hotspot-product-hotspot__collection-banner-content--mj0Mc {
    top: auto;
    bottom: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
    padding: 40px 20px;
  }
  .theme-components-hotspot-product-hotspot__collection-banner-img--rxzLR {
    display: none;
  }
  .theme-components-hotspot-product-hotspot__collection-banner-img-mobile--wfbmc {
    display: block;
  }
  .theme-components-hotspot-product-hotspot__collection-banner-content--mj0Mc h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .theme-components-hotspot-product-hotspot__collection-banner-content--mj0Mc p {
    font-size: 14px;
  }
}
.theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE {
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  align-items: center;
}
.theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE .theme-components-hotspot-product-hotspot__banner-overlay--vWb5D {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
}
.theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE .theme-components-hotspot-product-hotspot__banner-content--g7zjO {
  color: #fff;
  max-width: 50%;
}
.theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 150%;
  color: #000000;
}
.theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE p {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  margin-bottom: 16px;
}
.theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE .theme-components-hotspot-product-hotspot__banner-btn--h2eR7 {
  padding: 10px 24px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #9e007e;
  color: #9e007e;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}
.theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE .theme-components-hotspot-product-hotspot__banner-btn--h2eR7:hover {
  background: #9e007e;
  color: #fff;
}
@media (max-width: 768px) {
  .theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE {
    min-height: 170px;
  }
  .theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE .theme-components-hotspot-product-hotspot__banner-overlay--vWb5D {
    padding: 20px 10px;
  }
  .theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE h2 {
    font-size: 14px;
  }
  .theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE p {
    font-size: 10px;
  }
  .theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE .theme-components-hotspot-product-hotspot__banner-btn--h2eR7 {
    font-size: 10px;
    padding: 7px 17px;
  }
  .theme-components-hotspot-product-hotspot__custom-banner-card--HkTXE .theme-components-hotspot-product-hotspot__banner-content--g7zjO {
    max-width: 60%;
  }
}
html body {
  font-family: Verdana !important;
}
html body * {
  font-family: Verdana !important;
}
.theme-components-hotspot-product-hotspot__flexColumn--frzrE {
  display: flex;
  flex-direction: column;
}
.theme-components-hotspot-product-hotspot__flexAlignCenter--JHrkV {
  display: flex;
  align-items: center;
}
.theme-components-hotspot-product-hotspot__flexCenter--N_WZr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-components-hotspot-product-hotspot__justifyStart--BIwjN {
  justify-content: flex-start;
}
.theme-components-hotspot-product-hotspot__justifyBetween--NsqYS {
  justify-content: space-between;
}
.theme-components-hotspot-product-hotspot__slick-dots--VxFMV li.theme-components-hotspot-product-hotspot__slick-active--MuFJT button {
  background-color: #A15A95;
  width: 60px;
  height: 10px;
}
.theme-components-hotspot-product-hotspot__slick-dots--VxFMV li:not(.theme-components-hotspot-product-hotspot__slick-active--MuFJT) button {
  filter: blur(2px);
  border-radius: 100%;
  background-color: #A15A9580;
  width: 10px;
  height: 10px;
}
.theme-components-hotspot-product-hotspot__slick-dots--VxFMV {
  transform: translate(-50%, 100%) !important;
}
.theme-components-hotspot-product-hotspot__legal-data-container--tZjQF {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  max-width: 1300px;
  margin: auto;
  padding: 50px;
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-components-hotspot-product-hotspot__legal-data-container--tZjQF h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 0;
  margin-bottom: 50px;
  color: #9e007e;
}
.theme-components-hotspot-product-hotspot__legal-data-container--tZjQF h2 {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin: 30px 0;
  text-transform: uppercase;
}
.theme-components-hotspot-product-hotspot__legal-data-container--tZjQF p,
.theme-components-hotspot-product-hotspot__legal-data-container--tZjQF a,
.theme-components-hotspot-product-hotspot__legal-data-container--tZjQF li {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-components-hotspot-product-hotspot__legal-data-container--tZjQF p,
.theme-components-hotspot-product-hotspot__legal-data-container--tZjQF li {
  margin-bottom: 12px;
}
.theme-components-hotspot-product-hotspot__legal-data-container--tZjQF a {
  text-decoration: underline;
}
.theme-components-hotspot-product-hotspot__legal-data-container--tZjQF ol,
.theme-components-hotspot-product-hotspot__legal-data-container--tZjQF ul {
  padding-left: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .theme-components-hotspot-product-hotspot__legal-data-container--tZjQF {
    padding: 30px 0px;
    border: none;
    font-size: 12px;
  }
  .theme-components-hotspot-product-hotspot__legal-data-container--tZjQF h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .theme-components-hotspot-product-hotspot__legal-data-container--tZjQF p,
  .theme-components-hotspot-product-hotspot__legal-data-container--tZjQF h2,
  .theme-components-hotspot-product-hotspot__legal-data-container--tZjQF li {
    font-size: 12px;
  }
}
.theme-components-hotspot-product-hotspot__hotspot--TnUDR {
  position: absolute;
  top: var(--top);
  inset-inline-start: var(--left);
  bottom: var(--bottom);
  inset-inline-end: var(--right);
  transform: var(--transform);
}
.theme-components-hotspot-product-hotspot__hotspot--TnUDR:hover {
  z-index: 1;
}
.theme-components-hotspot-product-hotspot__hotspot--TnUDR:hover .theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79 {
  visibility: visible;
}
.theme-components-hotspot-product-hotspot__hotspot__icon--Xw6Sx {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.theme-components-hotspot-product-hotspot__hotspot__tooltip--LGxed {
  background-color: var(--pageBackground, #f8f8f8);
  box-shadow: 0px 6px 12px 0px #00000014;
  border-radius: var(--buttonRadius, 0px);
  position: relative;
}
.theme-components-hotspot-product-hotspot__hotspot__tooltip--LGxed::before {
  content: "";
  width: 15px;
  height: 10px;
  background-color: var(--pageBackground, #f8f8f8);
  position: absolute;
  inset-inline-start: 50%;
  top: -9px;
  transform: translateX(-50%);
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}
[dir="rtl"] .theme-components-hotspot-product-hotspot__hotspot__tooltip--LGxed::before {
  transform: translateX(50%);
}
.theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79 {
  visibility: hidden;
  position: absolute;
  inset-inline-start: 50%;
  top: 100%;
  padding-top: 10px;
  transform: translateX(-50%);
  width: 242px;
  z-index: 99;
}
[dir="rtl"] .theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79 {
  transform: translateX(50%);
}
@media only screen and (min-width: 481px) {
  .theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79 {
    width: 320px;
  }
}
.theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--active--k6qe0 {
  visibility: visible;
}
@media only screen and (min-width: 481px) {
  .theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79.theme-components-hotspot-product-hotspot__tooltip-right--Iu7RS {
    transform: unset;
    inset-inline-start: 0;
  }
  .theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79.theme-components-hotspot-product-hotspot__tooltip-right--Iu7RS .theme-components-hotspot-product-hotspot__hotspot__tooltip--LGxed::before {
    inset-inline-start: 8px;
    transform: unset;
  }
  .theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79.theme-components-hotspot-product-hotspot__tooltip-left--MSKMh {
    transform: unset;
    inset-inline-end: 0;
    inset-inline-start: unset;
  }
  .theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79.theme-components-hotspot-product-hotspot__tooltip-left--MSKMh .theme-components-hotspot-product-hotspot__hotspot__tooltip--LGxed::before {
    inset-inline-end: 8px;
    inset-inline-start: unset;
    transform: unset;
  }
}
@media only screen and (max-width: 480px) {
  .theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79.theme-components-hotspot-product-hotspot__tooltip-mob-right--zLr52 {
    transform: unset;
    inset-inline-start: 0;
  }
  .theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79.theme-components-hotspot-product-hotspot__tooltip-mob-right--zLr52 .theme-components-hotspot-product-hotspot__hotspot__tooltip--LGxed::before {
    inset-inline-start: 8px;
    transform: unset;
  }
  .theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79.theme-components-hotspot-product-hotspot__tooltip-mob-left--hr_Hu {
    transform: unset;
    inset-inline-end: 0;
    inset-inline-start: unset;
  }
  .theme-components-hotspot-product-hotspot__hotspot__tooltip-wrapper--Wza79.theme-components-hotspot-product-hotspot__tooltip-mob-left--hr_Hu .theme-components-hotspot-product-hotspot__hotspot__tooltip--LGxed::before {
    inset-inline-end: 8px;
    inset-inline-start: unset;
    transform: unset;
  }
}
.theme-components-hotspot-product-hotspot__product--KGy4N {
  display: flex;
}
.theme-components-hotspot-product-hotspot__product__image--e87io {
  width: 84px;
  border-radius: var(--buttonRadius, 0px);
}
.theme-components-hotspot-product-hotspot__product__meta--mzBYg {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  padding: 0.75rem 0;
}
.theme-components-hotspot-product-hotspot__product__meta--mzBYg .theme-components-hotspot-product-hotspot__icon-right--OdOP6 {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  transform: rotate(-90deg);
}
[dir="rtl"] .theme-components-hotspot-product-hotspot__product__meta--mzBYg .theme-components-hotspot-product-hotspot__icon-right--OdOP6 {
  transform: rotate(90deg);
}
.theme-components-hotspot-product-hotspot__product__info--gRV4F {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0 0.5rem;
}
.theme-components-hotspot-product-hotspot__product__info--gRV4F:empty {
  display: none;
}
.theme-components-hotspot-product-hotspot__product__brand--gQniV {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
  font-size: 16px;
  line-height: 1.5;
}
.theme-components-hotspot-product-hotspot__product__name--rb9lw {
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
  font-size: 12px;
  line-height: 14px;
}
.theme-components-hotspot-product-hotspot__product__price--cEvaN {
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
  font-size: 14px;
  line-height: 18px;
  color: var(--textHeading, #26201a);
}
.theme-components-hotspot-product-hotspot__product__price--cEvaN.theme-components-hotspot-product-hotspot__linkText--Cyplg {
  text-decoration: underline;
}


/*# sourceMappingURL=ApplicationBannerSectionChunk.css.map*/