/*!****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/book-test-form.less ***!
  \****************************************************************************************************************************************************************/
.theme-styles-sections-book-test-form__booktest_container--F1VAf {
  max-width: 1300px;
  margin: 40px auto;
  padding: 0 16px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__breadcrumbs--mMVst {
  font-size: 12px;
  font-weight: 400;
  color: rgba(26, 26, 26, 0.3);
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__breadcrumbs--mMVst a {
  color: #9e007e;
  font-weight: 700;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__bookTestTabs--Oc7ef {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(158, 0, 126, 0.1);
  border-radius: 500px;
  padding: 8px;
  width: fit-content;
  margin: auto;
  margin-bottom: 40px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__bookTestTabs--Oc7ef div {
  color: #383838;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  padding: 18px 40px;
  border-radius: 500px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__bookTestTabs--Oc7ef .theme-styles-sections-book-test-form__activeTab--Pyi5i {
  color: #9e007e;
  background-color: #fff;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_title--SJV0W {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 40px;
  color: #2e2b2c;
  text-transform: uppercase;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__booktest_content--F2XH1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__image_section--vErR2 {
  border-radius: 32px;
  overflow: hidden;
  position: relative;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__image_section--vErR2 .theme-styles-sections-book-test-form__textOverImage--y6_4W {
  position: absolute;
  bottom: 40px;
  width: calc(100% - 40px);
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__image_section--vErR2 h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__image_section--vErR2 p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.72);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 120%;
  margin-top: 15px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__image_section--vErR2 p b {
  color: #fff;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__image_section--vErR2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc.theme-styles-sections-book-test-form__successBackground--ZkMlu {
  background-color: #9e007e;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR {
  display: flex;
  flex-direction: column;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR:nth-child(3n) {
  grid-column: 1 / -1;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #2e2b2c;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR input,
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR select {
  padding: 18px 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 100%;
  color: rgba(46, 43, 44, 0.5);
  outline: none;
  transition: border 0.2s;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR input::placeholder,
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR select::placeholder {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 100%;
  color: rgba(46, 43, 44, 0.5);
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR input:focus,
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR select:focus {
  border-color: rgba(0, 0, 0, 0.4);
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(http://127.0.0.1:5001/assets/images/b44cd1f5a5465ef6c2bd.png) no-repeat right 16px center;
  background-size: 24px;
  padding-right: 36px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR .theme-styles-sections-book-test-form__checkbox_label--VCl_t {
  display: flex;
  align-items: start;
  gap: 10px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(26, 26, 26, 0.8);
  line-height: 140%;
  letter-spacing: -0.4px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR .theme-styles-sections-book-test-form__checkbox_label--VCl_t input {
  margin-top: 3px;
  border: 1px solid #9e007e;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__fgroup--hhGVR .theme-styles-sections-book-test-form__error_message--MS4jn {
  font-size: 12px;
  color: #d32f2f;
  margin-top: 4px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__sgroup--AgRvz {
  text-align: center;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__sgroup--AgRvz .theme-styles-sections-book-test-form__submit_btn--DmIqO {
  width: 100%;
  background: #9e007e;
  color: #fff;
  text-transform: uppercase;
  padding: 18px 0;
  font-size: 16px;
  font-weight: 700;
  border-radius: 500px;
  line-height: 100%;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form .theme-styles-sections-book-test-form__sgroup--AgRvz .theme-styles-sections-book-test-form__submit_btn--DmIqO:hover {
  background: rgba(158, 0, 126, 0.7);
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc .theme-styles-sections-book-test-form__success_wrapper--OcldW .theme-styles-sections-book-test-form__closeSuccessButton--B5Joa {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc .theme-styles-sections-book-test-form__success_wrapper--OcldW .theme-styles-sections-book-test-form__closeSuccessButton--B5Joa svg {
  width: 30px;
  fill: #fff;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc .theme-styles-sections-book-test-form__success_wrapper--OcldW img {
  width: 180px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc .theme-styles-sections-book-test-form__success_wrapper--OcldW h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc .theme-styles-sections-book-test-form__success_wrapper--OcldW p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin-bottom: 30px;
}
.theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc .theme-styles-sections-book-test-form__success_wrapper--OcldW a {
  display: inline-block;
  background: #1a1a1a;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 50px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 500px;
  line-height: 100%;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
@media (max-width: 768px) {
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__bookTestTabs--Oc7ef {
    margin-bottom: 20px;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__bookTestTabs--Oc7ef div {
    font-size: 12px;
    padding: 12px 24px;
    text-align: center;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_title--SJV0W {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__booktest_content--F2XH1 {
    grid-template-columns: 1fr;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__image_section--vErR2 {
    border-radius: 16px;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__image_section--vErR2 h2 {
    font-size: 18px;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__image_section--vErR2 p {
    font-size: 10px;
    margin-top: 10px;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc {
    padding: 40px 20px;
    border-radius: 16px;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc form {
    grid-template-columns: 1fr;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc .theme-styles-sections-book-test-form__success_wrapper--OcldW .theme-styles-sections-book-test-form__closeSuccessButton--B5Joa {
    top: 20px;
    right: 20px;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc .theme-styles-sections-book-test-form__success_wrapper--OcldW img {
    width: 100px;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc .theme-styles-sections-book-test-form__success_wrapper--OcldW h2 {
    font-size: 28px;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc .theme-styles-sections-book-test-form__success_wrapper--OcldW p {
    font-size: 15px;
  }
  .theme-styles-sections-book-test-form__booktest_container--F1VAf .theme-styles-sections-book-test-form__form_section--tLPyc .theme-styles-sections-book-test-form__success_wrapper--OcldW a {
    font-size: 14px;
    padding: 10px 30px;
  }
}


/*# sourceMappingURL=BookTestFormSectionChunk.css.map*/