/*!***************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/brand-listing.less ***!
  \***************************************************************************************************************************************************************/
/**color by character**/
/** Font family **/
/** Font weight **/
.theme-styles-sections-brand-listing__login-auth-container--L366G .theme-styles-sections-brand-listing__n2oQ6--c5nkI {
  padding: 0px !important;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G .theme-styles-sections-brand-listing__uiz1K--LGQSw {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G .theme-styles-sections-brand-listing__P1CJx--c0W_y {
  border: none !important;
  flex: 1;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G .theme-styles-sections-brand-listing__P1CJx--c0W_y img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G .theme-styles-sections-brand-listing__kkBOU--vBBSH {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="auth-container-auth-container__loginWrapper"] {
  padding: 0px !important;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="login__loginWrapper"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="auth-container__loginBannerWrapper"] {
  border: none !important;
  flex: 1;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="auth-container__loginBannerWrapper"] img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="auth-container__loginCard"] {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="auth-container__loginContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="login__loginTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="login__loginSubText"] {
  color: rgba(46, 43, 44, 0.5) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  letter-spacing: -0.5px !important;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="login-otp__loginOtpWrapper"] {
  margin-top: 20px !important;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="term-privacy__byContinuingText"] {
  color: #2e2b2c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="term-privacy__byContinuingText"] a {
  font-weight: 700 !important;
  color: #2e2b2c !important;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="mobile-number__inputTitle"] {
  display: none;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G .theme-styles-sections-brand-listing__react-international-phone-country-selector-button--WCD1u {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px!important;
  margin-right: 8px !important;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="react-international-phone-dial-code-preview mobile-number__dialCodePreview"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-right: none !important;
  border-radius: 12px 0 0 12px !important;
  border-inline: 1px solid rgba(0, 0, 0, 0.08) !important;
  font-weight: bold;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G .theme-styles-sections-brand-listing__react-international-phone-input--IfKAH {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 0 12px 12px 0 !important;
  border-left: none !important;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="login-mode-button__loginModeBtn"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="login-mode-button__loginModeBtn"] svg path {
  fill: #9e007e;
}
.theme-styles-sections-brand-listing__login-auth-container--L366G [class*="login-mode-button__loginModeLabel"] {
  width: auto !important;
  text-transform: capitalize !important;
  margin-inline-end: 0px !important;
}
.theme-styles-sections-brand-listing__forget-password-container--qVF5w [class*="forget-password__forgetPasswordWrapper"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 40px;
  max-width: 500px;
}
.theme-styles-sections-brand-listing__forget-password-container--qVF5w [class*="forgotPasswordTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-styles-sections-brand-listing__forget-password-container--qVF5w form {
  position: relative;
}
.theme-styles-sections-brand-listing__forget-password-container--qVF5w form label {
  left: 5px;
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-brand-listing__forget-password-container--qVF5w form input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px !important;
}
.theme-styles-sections-brand-listing__forget-password-container--qVF5w form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-brand-listing__forget-password-container--qVF5w form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-styles-sections-brand-listing__forget-password-container--qVF5w [class*="login-register-toggle__loginRegisterToggle"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-styles-sections-brand-listing__forget-password-container--qVF5w [class*="login-register-toggle__loginRegisterToggle"] span {
  width: auto;
}
.theme-styles-sections-brand-listing__forget-password-container--qVF5w [class*="login-register-toggle__loginRegisterToggle"] svg path {
  fill: #9e007e;
}
@media (max-width: 768px) {
  .theme-styles-sections-brand-listing__forget-password-container--qVF5w [class*="forget-password__forgetPasswordWrapper"] {
    padding: 20px;
    margin: 0 20px;
  }
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII {
  margin-bottom: 50px;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__mainView"] {
  flex-direction: row-reverse;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__profilePageContainer"] {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__profileContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="fy-input__required"] {
  color: #9e007e;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-details__radioContent"] {
  padding: 10px 0;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII form [class*="profile-details__formLabel"] {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII form label {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII form input {
  padding: 10px 0px;
  font-size: 14px;
  color: #1a1a1a !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII form [class*="profile-address-page__commonBtn"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII form .theme-styles-sections-brand-listing__ojp_C--il33o {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII form button[type="submit"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #fff !important;
  background-color: #9e007e !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__navContainer"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 16px !important;
  padding: 20px !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="empty-state__heading"] {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII .theme-styles-sections-brand-listing__O32OW--FUZl8 {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__nav_"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 12px !important;
  padding: 15px 20px !important;
  margin-bottom: 10px;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__nav_"] span {
  color: #2e2b2c;
  font-size: 14px;
  font-weight: 400;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__nav_"] svg path {
  fill: #9e007e !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__navContainer"] ul > *:nth-child(1),
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__navContainer"] ul > *:nth-child(4) {
  display: none !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__selected"] {
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__selected"] svg path {
  fill: #9e007e !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__signOut"] {
  color: #9e007e !important;
}
.theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__accountHeader"] {
  margin-bottom: 10px;
  color: #1a1a1a !important;
}
@media (max-width: 768px) {
  .theme-styles-sections-brand-listing__profile-navigation-container--jyRII {
    margin-top: 50px;
  }
  .theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="profile-navigation__profileContent"] {
    padding: 15px;
  }
  .theme-styles-sections-brand-listing__profile-navigation-container--jyRII [class*="address-form__formContainer"] {
    flex-direction: column;
  }
}
.theme-styles-sections-brand-listing__collection-hero-banner--dT1uC {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.theme-styles-sections-brand-listing__collection-banner-img--eHLBl {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.theme-styles-sections-brand-listing__collection-hero-banner--dT1uC::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.theme-styles-sections-brand-listing__collection-unofficial--AmTiY .theme-styles-sections-brand-listing__collection-hero-banner--dT1uC::after,
.theme-styles-sections-brand-listing__collection-dbyd--f4LeD .theme-styles-sections-brand-listing__collection-hero-banner--dT1uC::after {
  display: none;
}
.theme-styles-sections-brand-listing__collection-banner-img-mobile--FLII2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.theme-styles-sections-brand-listing__collection-banner-content--gNhCl {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 1300px;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 20px 40px;
  width: 100%;
  z-index: 3;
}
.theme-styles-sections-brand-listing__collection-unofficial--AmTiY .theme-styles-sections-brand-listing__collection-banner-content--gNhCl,
.theme-styles-sections-brand-listing__collection-dbyd--f4LeD .theme-styles-sections-brand-listing__collection-banner-content--gNhCl {
  display: none;
}
.theme-styles-sections-brand-listing__collection-banner-content--gNhCl h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.theme-styles-sections-brand-listing__collection-banner-content--gNhCl p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
@media (max-width: 768px) {
  .theme-styles-sections-brand-listing__collection-banner-content--gNhCl {
    top: auto;
    bottom: 0px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
    padding: 40px 20px;
  }
  .theme-styles-sections-brand-listing__collection-banner-img--eHLBl {
    display: none;
  }
  .theme-styles-sections-brand-listing__collection-banner-img-mobile--FLII2 {
    display: block;
  }
  .theme-styles-sections-brand-listing__collection-banner-content--gNhCl h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .theme-styles-sections-brand-listing__collection-banner-content--gNhCl p {
    font-size: 14px;
  }
}
.theme-styles-sections-brand-listing__custom-banner-card--um7sz {
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  align-items: center;
}
.theme-styles-sections-brand-listing__custom-banner-card--um7sz .theme-styles-sections-brand-listing__banner-overlay--A0z1W {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
}
.theme-styles-sections-brand-listing__custom-banner-card--um7sz .theme-styles-sections-brand-listing__banner-content--MgmYd {
  color: #fff;
  max-width: 50%;
}
.theme-styles-sections-brand-listing__custom-banner-card--um7sz h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 150%;
  color: #000000;
}
.theme-styles-sections-brand-listing__custom-banner-card--um7sz p {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  margin-bottom: 16px;
}
.theme-styles-sections-brand-listing__custom-banner-card--um7sz .theme-styles-sections-brand-listing__banner-btn--hEr5J {
  padding: 10px 24px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #9e007e;
  color: #9e007e;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}
.theme-styles-sections-brand-listing__custom-banner-card--um7sz .theme-styles-sections-brand-listing__banner-btn--hEr5J:hover {
  background: #9e007e;
  color: #fff;
}
@media (max-width: 768px) {
  .theme-styles-sections-brand-listing__custom-banner-card--um7sz {
    min-height: 170px;
  }
  .theme-styles-sections-brand-listing__custom-banner-card--um7sz .theme-styles-sections-brand-listing__banner-overlay--A0z1W {
    padding: 20px 10px;
  }
  .theme-styles-sections-brand-listing__custom-banner-card--um7sz h2 {
    font-size: 14px;
  }
  .theme-styles-sections-brand-listing__custom-banner-card--um7sz p {
    font-size: 10px;
  }
  .theme-styles-sections-brand-listing__custom-banner-card--um7sz .theme-styles-sections-brand-listing__banner-btn--hEr5J {
    font-size: 10px;
    padding: 7px 17px;
  }
  .theme-styles-sections-brand-listing__custom-banner-card--um7sz .theme-styles-sections-brand-listing__banner-content--MgmYd {
    max-width: 60%;
  }
}
html body {
  font-family: Verdana !important;
}
html body * {
  font-family: Verdana !important;
}
.theme-styles-sections-brand-listing__flexColumn--uJ_iL {
  display: flex;
  flex-direction: column;
}
.theme-styles-sections-brand-listing__flexAlignCenter--ff04I {
  display: flex;
  align-items: center;
}
.theme-styles-sections-brand-listing__flexCenter--w5WB9 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-styles-sections-brand-listing__justifyStart--AQJr6 {
  justify-content: flex-start;
}
.theme-styles-sections-brand-listing__justifyBetween--AsBvm {
  justify-content: space-between;
}
.theme-styles-sections-brand-listing__slick-dots--pkeU9 li.theme-styles-sections-brand-listing__slick-active--NhU_C button {
  background-color: #A15A95;
  width: 60px;
  height: 10px;
}
.theme-styles-sections-brand-listing__slick-dots--pkeU9 li:not(.theme-styles-sections-brand-listing__slick-active--NhU_C) button {
  filter: blur(2px);
  border-radius: 100%;
  background-color: #A15A9580;
  width: 10px;
  height: 10px;
}
.theme-styles-sections-brand-listing__slick-dots--pkeU9 {
  transform: translate(-50%, 100%) !important;
}
#theme-styles-sections-brand-listing__section_glamar-sdk-binding--toQbU button {
  border: 1px solid #9E007E33 !important;
  background-color: rgba(158, 0, 126, 0.04) !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #9e007e !important;
  text-transform: uppercase !important;
  padding: 20px !important;
}
.theme-styles-sections-brand-listing__legal-data-container--BVClB {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  max-width: 1300px;
  margin: auto;
  padding: 50px;
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-styles-sections-brand-listing__legal-data-container--BVClB h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 0;
  margin-bottom: 50px;
  color: #9e007e;
}
.theme-styles-sections-brand-listing__legal-data-container--BVClB h2 {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin: 30px 0;
  text-transform: uppercase;
}
.theme-styles-sections-brand-listing__legal-data-container--BVClB p,
.theme-styles-sections-brand-listing__legal-data-container--BVClB a,
.theme-styles-sections-brand-listing__legal-data-container--BVClB li {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-styles-sections-brand-listing__legal-data-container--BVClB p,
.theme-styles-sections-brand-listing__legal-data-container--BVClB li {
  margin-bottom: 12px;
}
.theme-styles-sections-brand-listing__legal-data-container--BVClB a {
  text-decoration: underline;
}
.theme-styles-sections-brand-listing__legal-data-container--BVClB ol,
.theme-styles-sections-brand-listing__legal-data-container--BVClB ul {
  padding-left: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .theme-styles-sections-brand-listing__legal-data-container--BVClB {
    padding: 30px 0px;
    border: none;
    font-size: 12px;
  }
  .theme-styles-sections-brand-listing__legal-data-container--BVClB h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .theme-styles-sections-brand-listing__legal-data-container--BVClB p,
  .theme-styles-sections-brand-listing__legal-data-container--BVClB h2,
  .theme-styles-sections-brand-listing__legal-data-container--BVClB li {
    font-size: 12px;
  }
}
div[data-cardtype="BRANDS"] {
  border-radius: var(--imageRadius);
  cursor: pointer !important;
}
div[data-cardtype="BRANDS"] img {
  transition: 300ms all cubic-bezier(0, 0, 0.2, 1);
}
div[data-cardtype="BRANDS"]:hover img {
  transform: scale(1.1);
}
div[data-cardtype="BRANDS"] .theme-styles-sections-brand-listing__streach--IcXtv img {
  object-fit: cover !important;
  height: 100% !important;
}
div[data-cardtype="BRANDS"] .theme-styles-sections-brand-listing__streach--IcXtv picture {
  background-color: var(--bg-color) !important;
}
.theme-styles-sections-brand-listing__slick-slide--jZ_yQ[aria-hidden="false"] {
  opacity: 1;
  /* Make hidden slides slightly visible for debugging */
}
.theme-styles-sections-brand-listing__section-heading--lKQHK {
  text-align: center;
  margin-bottom: 4px;
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-brand-listing__section-heading--lKQHK {
    margin-bottom: 16px;
  }
}
.theme-styles-sections-brand-listing__section-heading--lKQHK.theme-styles-sections-brand-listing__logo-only--xxVB9 {
  margin-bottom: 4px;
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-brand-listing__section-heading--lKQHK.theme-styles-sections-brand-listing__logo-only--xxVB9 {
    margin-bottom: 16px;
  }
}
.theme-styles-sections-brand-listing__section-description--cHlDU {
  text-align: center;
  padding: 0 16px;
  margin-bottom: 24px;
  max-width: 750px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-brand-listing__section-description--cHlDU {
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-brand-listing__section-description--cHlDU {
    margin-bottom: 32px;
  }
}
.theme-styles-sections-brand-listing__categories-block--mBJxg {
  padding: 0 16px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}
@supports not (gap: 10px 10px) {
  .theme-styles-sections-brand-listing__categories-block--mBJxg {
    margin-inline-start: -5px;
    margin-inline-end: -5px;
    margin-bottom: -10px;
  }
  .theme-styles-sections-brand-listing__categories-block--mBJxg > * {
    padding-inline-start: 10px / 2;
    padding-inline-end: 10px / 2;
    margin-bottom: 10px;
  }
}
@supports (gap: 10px 10px) {
  .theme-styles-sections-brand-listing__categories-block--mBJxg {
    gap: 10px 10px;
  }
}
@media only screen and (min-width: 481px) {
  .theme-styles-sections-brand-listing__categories-block--mBJxg {
    padding: 0 24px;
    grid-template-columns: repeat(auto-fit, calc((100% - 24px) / 3));
  }
  @supports not (gap: 24px 12px) {
    .theme-styles-sections-brand-listing__categories-block--mBJxg {
      margin-inline-start: -6px;
      margin-inline-end: -6px;
      margin-bottom: -24px;
    }
    .theme-styles-sections-brand-listing__categories-block--mBJxg > * {
      padding-inline-start: 12px / 2;
      padding-inline-end: 12px / 2;
      margin-bottom: 24px;
    }
  }
  @supports (gap: 24px 12px) {
    .theme-styles-sections-brand-listing__categories-block--mBJxg {
      gap: 24px 12px;
    }
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-brand-listing__categories-block--mBJxg {
    padding: 0 40px;
    grid-template-columns: repeat(auto-fit, calc((100% - (24px * (var(--brand-item) - 1))) / var(--brand-item)));
  }
  @supports not (gap: 32px 24px) {
    .theme-styles-sections-brand-listing__categories-block--mBJxg {
      margin-inline-start: -12px;
      margin-inline-end: -12px;
      margin-bottom: -32px;
    }
    .theme-styles-sections-brand-listing__categories-block--mBJxg > * {
      padding-inline-start: 24px / 2;
      padding-inline-end: 24px / 2;
      margin-bottom: 32px;
    }
  }
  @supports (gap: 32px 24px) {
    .theme-styles-sections-brand-listing__categories-block--mBJxg {
      gap: 32px 24px;
    }
  }
  @supports not (gap: 24px 24px) {
    .theme-styles-sections-brand-listing__categories-block--mBJxg.theme-styles-sections-brand-listing__card-count-4--MoXSp {
      margin-inline-start: -12px;
      margin-inline-end: -12px;
      margin-bottom: -24px;
    }
    .theme-styles-sections-brand-listing__categories-block--mBJxg.theme-styles-sections-brand-listing__card-count-4--MoXSp > * {
      padding-inline-start: 24px / 2;
      padding-inline-end: 24px / 2;
      margin-bottom: 24px;
    }
  }
  @supports (gap: 24px 24px) {
    .theme-styles-sections-brand-listing__categories-block--mBJxg.theme-styles-sections-brand-listing__card-count-4--MoXSp {
      gap: 24px 24px;
    }
  }
}
.theme-styles-sections-brand-listing__categories-block--mBJxg.theme-styles-sections-brand-listing__left--M_RIF {
  justify-content: start;
}
.theme-styles-sections-brand-listing__categories-block--mBJxg.theme-styles-sections-brand-listing__right--SkQOK {
  justify-content: end;
}
.theme-styles-sections-brand-listing__categories-horizontal--JCURm {
  width: 100%;
  --gap: 8px;
  padding-top: 0px;
  padding-inline-end: 0px;
  padding-bottom: 0px;
  padding-inline-start: 16px;
}
@media only screen and (min-width: 481px) {
  .theme-styles-sections-brand-listing__categories-horizontal--JCURm {
    --gap: 24px;
    padding: 0 24px;
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-brand-listing__categories-horizontal--JCURm {
    --gap: 24px;
    padding: 0 40px;
  }
}
.theme-styles-sections-brand-listing__categories-horizontal--JCURm.theme-styles-sections-brand-listing__single-card--j87lO {
  padding: 0 16px;
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-brand-listing__categories-horizontal--JCURm.theme-styles-sections-brand-listing__logoWidth--LHw3P {
    --gap: 11px;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-brand-listing__categories-horizontal--JCURm.theme-styles-sections-brand-listing__logoWidth--LHw3P {
    padding: 0 16px;
  }
}
.theme-styles-sections-brand-listing__categories-horizontal--JCURm .theme-styles-sections-brand-listing__custom-slick-list--jYJ7u {
  margin: 0 calc(var(--gap) / 2 * -1);
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-brand-listing__categories-horizontal--JCURm .theme-styles-sections-brand-listing__custom-slick-list--jYJ7u {
    padding-inline-start: 0 !important;
  }
}
.theme-styles-sections-brand-listing__categories-horizontal--JCURm .theme-styles-sections-brand-listing__custom-slick-slide--RqZRw {
  padding: 0 calc(var(--gap) / 2);
}
.theme-styles-sections-brand-listing__slider-container--okk4k {
  width: 100%;
  /* Or a fixed width */
  height: auto;
  /* Or a fixed height */
}
.theme-styles-sections-brand-listing__slick-slide--jZ_yQ {
  width: 262px !important;
  /* Avoid overriding widths */
}
.theme-styles-sections-brand-listing__brand-info--u9a51 {
  position: absolute;
  border: none;
  background-color: #fff;
  height: 60px;
  inset-inline-start: 12px;
  inset-inline-end: 12px;
  bottom: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--buttonRadius, 0px);
}
.theme-styles-sections-brand-listing__brand-info--u9a51 .theme-styles-sections-brand-listing__brand-logo--ERt_Z {
  width: 50px;
  margin-right: 16px;
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-brand-listing__brand-info--u9a51 .theme-styles-sections-brand-listing__brand-logo--ERt_Z {
    width: 40px;
  }
}
.theme-styles-sections-brand-listing__pos-relative--FPkLB {
  position: relative;
}
.theme-styles-sections-brand-listing__logoWidth--LHw3P {
  border-radius: var(--imageRadius, 0px);
  grid-template-columns: repeat(auto-fit, calc((100% - 22px) / 3));
  padding: 0 16px;
}
@supports not (gap: 11px 11px) {
  .theme-styles-sections-brand-listing__logoWidth--LHw3P {
    margin-inline-start: -5.5px;
    margin-inline-end: -5.5px;
    margin-bottom: -11px;
  }
  .theme-styles-sections-brand-listing__logoWidth--LHw3P > * {
    padding-inline-start: 11px / 2;
    padding-inline-end: 11px / 2;
    margin-bottom: 11px;
  }
}
@supports (gap: 11px 11px) {
  .theme-styles-sections-brand-listing__logoWidth--LHw3P {
    gap: 11px 11px;
  }
}
@media only screen and (min-width: 481px) {
  .theme-styles-sections-brand-listing__logoWidth--LHw3P {
    grid-template-columns: repeat(auto-fit, calc((100% - 24px) / 3));
    padding: 0 120px;
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-brand-listing__logoWidth--LHw3P {
    margin: 0 auto;
    padding: 0 40px;
    grid-template-columns: repeat(auto-fit, calc((100% - (24px * (var(--brand-item) - 1))) / var(--brand-item)));
  }
  @supports not (gap: 24px 24px) {
    .theme-styles-sections-brand-listing__logoWidth--LHw3P {
      margin-inline-start: -12px;
      margin-inline-end: -12px;
      margin-bottom: -24px;
    }
    .theme-styles-sections-brand-listing__logoWidth--LHw3P > * {
      padding-inline-start: 24px / 2;
      padding-inline-end: 24px / 2;
      margin-bottom: 24px;
    }
  }
  @supports (gap: 24px 24px) {
    .theme-styles-sections-brand-listing__logoWidth--LHw3P {
      gap: 24px 24px;
    }
  }
  .theme-styles-sections-brand-listing__logoWidth--LHw3P.theme-styles-sections-brand-listing__card-count-3--dUKFz {
    max-width: 737px;
  }
  .theme-styles-sections-brand-listing__logoWidth--LHw3P.theme-styles-sections-brand-listing__card-count-4--MoXSp {
    max-width: 964px;
  }
  .theme-styles-sections-brand-listing__logoWidth--LHw3P.theme-styles-sections-brand-listing__card-count-5--Zr7WD {
    max-width: 1191px;
  }
}
.theme-styles-sections-brand-listing__gap-above-button--y8brk {
  text-align: center;
  padding: 24px 0 4px;
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-brand-listing__gap-above-button--y8brk {
    padding: 32px 0 4px;
  }
}
.theme-styles-sections-brand-listing__section-button--y6AXU {
  padding: 12px 24px;
  cursor: pointer;
  font-family: var(--font-body);
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-brand-listing__section-button--y6AXU {
    padding: 12px 20px;
  }
}
.theme-styles-sections-brand-listing__glide--swipeable--JWcux {
  cursor: auto;
}
.theme-styles-sections-brand-listing__brand-image--GSOGU,
.theme-styles-sections-brand-listing__imgRad--LNMaj {
  border-radius: var(--imageRadius);
}
.theme-styles-sections-brand-listing__brand-image--GSOGU img,
.theme-styles-sections-brand-listing__imgRad--LNMaj img {
  border-radius: var(--imageRadius);
}
.theme-styles-sections-brand-listing__brandNameSec--cQrhX {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
}
.theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF {
  padding: 0 16px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}
@supports not (gap: 10px 10px) {
  .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF {
    margin-inline-start: -5px;
    margin-inline-end: -5px;
    margin-bottom: -10px;
  }
  .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF > * {
    padding-inline-start: 10px / 2;
    padding-inline-end: 10px / 2;
    margin-bottom: 10px;
  }
}
@supports (gap: 10px 10px) {
  .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF {
    gap: 10px 10px;
  }
}
@media only screen and (min-width: 481px) {
  .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF {
    padding: 0 24px;
    grid-template-columns: repeat(auto-fit, calc((100% - 24px) / 3));
  }
  @supports not (gap: 24px 12px) {
    .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF {
      margin-inline-start: -6px;
      margin-inline-end: -6px;
      margin-bottom: -24px;
    }
    .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF > * {
      padding-inline-start: 12px / 2;
      padding-inline-end: 12px / 2;
      margin-bottom: 24px;
    }
  }
  @supports (gap: 24px 12px) {
    .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF {
      gap: 24px 12px;
    }
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF {
    padding: 0 40px;
    grid-template-columns: repeat(auto-fit, calc((100% - (24px * (4 - 1))) / 4));
  }
  @supports not (gap: 32px 24px) {
    .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF {
      margin-inline-start: -12px;
      margin-inline-end: -12px;
      margin-bottom: -32px;
    }
    .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF > * {
      padding-inline-start: 24px / 2;
      padding-inline-end: 24px / 2;
      margin-bottom: 32px;
    }
  }
  @supports (gap: 32px 24px) {
    .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF {
      gap: 32px 24px;
    }
  }
  @supports not (gap: 24px 24px) {
    .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF.theme-styles-sections-brand-listing__card-count-4--MoXSp {
      margin-inline-start: -12px;
      margin-inline-end: -12px;
      margin-bottom: -24px;
    }
    .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF.theme-styles-sections-brand-listing__card-count-4--MoXSp > * {
      padding-inline-start: 24px / 2;
      padding-inline-end: 24px / 2;
      margin-bottom: 24px;
    }
  }
  @supports (gap: 24px 24px) {
    .theme-styles-sections-brand-listing__defaultBrandBlock--yvXuF.theme-styles-sections-brand-listing__card-count-4--MoXSp {
      gap: 24px 24px;
    }
  }
}
.theme-styles-sections-brand-listing__left--M_RIF .slick-track {
  margin-inline-start: 0;
}
.theme-styles-sections-brand-listing__right--SkQOK .slick-track {
  margin-inline-end: 0;
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-brand-listing__hideOnDesktop--B1HOq {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-brand-listing__hideOnDesktop--B1HOq {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-brand-listing__hideOnMobile--o1beu {
    display: none;
  }
  .theme-styles-sections-brand-listing__hideOnDesktop--B1HOq {
    display: block;
  }
}


/*# sourceMappingURL=BrandListingSectionChunk.css.map*/