/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/category-listing.less ***!
  \******************************************************************************************************************************************************************/
/**color by character**/
/** Font family **/
/** Font weight **/
.theme-styles-sections-category-listing__login-auth-container--jFRSH .theme-styles-sections-category-listing__n2oQ6--pKnDn {
  padding: 0px !important;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH .theme-styles-sections-category-listing__uiz1K--gnqLV {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH .theme-styles-sections-category-listing__P1CJx--2rNtE {
  border: none !important;
  flex: 1;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH .theme-styles-sections-category-listing__P1CJx--2rNtE img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH .theme-styles-sections-category-listing__kkBOU--UQttQ {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="auth-container-auth-container__loginWrapper"] {
  padding: 0px !important;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="login__loginWrapper"] {
  display: flex;
  align-items: center;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="auth-container__loginBannerWrapper"] {
  border: none !important;
  flex: 1;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="auth-container__loginBannerWrapper"] img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="auth-container__loginCard"] {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="auth-container__loginContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="login__loginTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="login__loginSubText"] {
  color: rgba(46, 43, 44, 0.5) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  letter-spacing: -0.5px !important;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="login-otp__loginOtpWrapper"] {
  margin-top: 20px !important;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="term-privacy__byContinuingText"] {
  color: #2e2b2c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="term-privacy__byContinuingText"] a {
  font-weight: 700 !important;
  color: #2e2b2c !important;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="mobile-number__inputTitle"] {
  display: none;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH .theme-styles-sections-category-listing__react-international-phone-country-selector-button--zNXTN {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px!important;
  margin-right: 8px !important;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="react-international-phone-dial-code-preview mobile-number__dialCodePreview"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-right: none !important;
  border-radius: 12px 0 0 12px !important;
  border-inline: 1px solid rgba(0, 0, 0, 0.08) !important;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH .theme-styles-sections-category-listing__react-international-phone-input--rlfma {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0 12px 12px 0 !important;
  border-left: none !important;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="login-mode-button__loginModeBtn"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="login-mode-button__loginModeBtn"] svg path {
  fill: #9e007e;
}
.theme-styles-sections-category-listing__login-auth-container--jFRSH [class*="login-mode-button__loginModeLabel"] {
  width: auto !important;
  text-transform: capitalize !important;
  margin-inline-end: 0px !important;
}
.theme-styles-sections-category-listing__forget-password-container--lEJKc [class*="forget-password__forgetPasswordWrapper"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 40px;
  max-width: 500px;
}
.theme-styles-sections-category-listing__forget-password-container--lEJKc [class*="forgotPasswordTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-styles-sections-category-listing__forget-password-container--lEJKc form {
  position: relative;
}
.theme-styles-sections-category-listing__forget-password-container--lEJKc form label {
  left: 5px;
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-category-listing__forget-password-container--lEJKc form input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px !important;
}
.theme-styles-sections-category-listing__forget-password-container--lEJKc form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-category-listing__forget-password-container--lEJKc form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-styles-sections-category-listing__forget-password-container--lEJKc [class*="login-register-toggle__loginRegisterToggle"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-styles-sections-category-listing__forget-password-container--lEJKc [class*="login-register-toggle__loginRegisterToggle"] span {
  width: auto;
}
.theme-styles-sections-category-listing__forget-password-container--lEJKc [class*="login-register-toggle__loginRegisterToggle"] svg path {
  fill: #9e007e;
}
@media (max-width: 768px) {
  .theme-styles-sections-category-listing__forget-password-container--lEJKc [class*="forget-password__forgetPasswordWrapper"] {
    padding: 20px;
    margin: 0 20px;
  }
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS {
  margin-bottom: 50px;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__mainView"] {
  flex-direction: row-reverse;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__profilePageContainer"] {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__profileContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="fy-input__required"] {
  color: #9e007e;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-details__radioContent"] {
  padding: 10px 0;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS form [class*="profile-details__formLabel"] {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS form label {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS form input {
  padding: 10px 0px;
  font-size: 14px;
  color: #1a1a1a !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS form [class*="profile-address-page__commonBtn"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS form .theme-styles-sections-category-listing__ojp_C--KSZLZ {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS form button[type="submit"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #fff !important;
  background-color: #9e007e !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__navContainer"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 16px !important;
  padding: 20px !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="empty-state__heading"] {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS .theme-styles-sections-category-listing__O32OW--sAijW {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__nav_"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 12px !important;
  padding: 15px 20px !important;
  margin-bottom: 10px;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__nav_"] span {
  color: #2e2b2c;
  font-size: 14px;
  font-weight: 400;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__nav_"] svg path {
  fill: #9e007e !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__navContainer"] ul > *:nth-child(1),
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__navContainer"] ul > *:nth-child(4) {
  display: none !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__selected"] {
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__selected"] svg path {
  fill: #9e007e !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__signOut"] {
  color: #9e007e !important;
}
.theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__accountHeader"] {
  margin-bottom: 10px;
  color: #1a1a1a !important;
}
@media (max-width: 768px) {
  .theme-styles-sections-category-listing__profile-navigation-container--KxVVS {
    margin-top: 50px;
  }
  .theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="profile-navigation__profileContent"] {
    padding: 15px;
  }
  .theme-styles-sections-category-listing__profile-navigation-container--KxVVS [class*="address-form__formContainer"] {
    flex-direction: column;
  }
}
.theme-styles-sections-category-listing__collection-hero-banner--sMlCZ {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.theme-styles-sections-category-listing__collection-banner-img--eCkiO {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.theme-styles-sections-category-listing__collection-hero-banner--sMlCZ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.theme-styles-sections-category-listing__collection-unofficial--_RiUZ .theme-styles-sections-category-listing__collection-hero-banner--sMlCZ::after,
.theme-styles-sections-category-listing__collection-dbyd--LFFxm .theme-styles-sections-category-listing__collection-hero-banner--sMlCZ::after {
  display: none;
}
.theme-styles-sections-category-listing__collection-banner-img-mobile--vrqfq {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.theme-styles-sections-category-listing__collection-banner-content--i4kX6 {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 1300px;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 20px 40px;
  width: 100%;
  z-index: 3;
}
.theme-styles-sections-category-listing__collection-unofficial--_RiUZ .theme-styles-sections-category-listing__collection-banner-content--i4kX6,
.theme-styles-sections-category-listing__collection-dbyd--LFFxm .theme-styles-sections-category-listing__collection-banner-content--i4kX6 {
  display: none;
}
.theme-styles-sections-category-listing__collection-banner-content--i4kX6 h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.theme-styles-sections-category-listing__collection-banner-content--i4kX6 p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
@media (max-width: 768px) {
  .theme-styles-sections-category-listing__collection-banner-content--i4kX6 {
    top: auto;
    bottom: 0px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
    padding: 40px 20px;
  }
  .theme-styles-sections-category-listing__collection-banner-img--eCkiO {
    display: none;
  }
  .theme-styles-sections-category-listing__collection-banner-img-mobile--vrqfq {
    display: block;
  }
  .theme-styles-sections-category-listing__collection-banner-content--i4kX6 h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .theme-styles-sections-category-listing__collection-banner-content--i4kX6 p {
    font-size: 14px;
  }
}
.theme-styles-sections-category-listing__custom-banner-card--_Y2Wv {
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  align-items: center;
}
.theme-styles-sections-category-listing__custom-banner-card--_Y2Wv .theme-styles-sections-category-listing__banner-overlay--dPnJL {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
}
.theme-styles-sections-category-listing__custom-banner-card--_Y2Wv .theme-styles-sections-category-listing__banner-content--zUgaF {
  color: #fff;
  max-width: 50%;
}
.theme-styles-sections-category-listing__custom-banner-card--_Y2Wv h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 150%;
  color: #000000;
}
.theme-styles-sections-category-listing__custom-banner-card--_Y2Wv p {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  margin-bottom: 16px;
}
.theme-styles-sections-category-listing__custom-banner-card--_Y2Wv .theme-styles-sections-category-listing__banner-btn--b89E_ {
  padding: 10px 24px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #9e007e;
  color: #9e007e;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}
.theme-styles-sections-category-listing__custom-banner-card--_Y2Wv .theme-styles-sections-category-listing__banner-btn--b89E_:hover {
  background: #9e007e;
  color: #fff;
}
@media (max-width: 768px) {
  .theme-styles-sections-category-listing__custom-banner-card--_Y2Wv {
    min-height: 170px;
  }
  .theme-styles-sections-category-listing__custom-banner-card--_Y2Wv .theme-styles-sections-category-listing__banner-overlay--dPnJL {
    padding: 20px 10px;
  }
  .theme-styles-sections-category-listing__custom-banner-card--_Y2Wv h2 {
    font-size: 14px;
  }
  .theme-styles-sections-category-listing__custom-banner-card--_Y2Wv p {
    font-size: 10px;
  }
  .theme-styles-sections-category-listing__custom-banner-card--_Y2Wv .theme-styles-sections-category-listing__banner-btn--b89E_ {
    font-size: 10px;
    padding: 7px 17px;
  }
  .theme-styles-sections-category-listing__custom-banner-card--_Y2Wv .theme-styles-sections-category-listing__banner-content--zUgaF {
    max-width: 60%;
  }
}
html body {
  font-family: Verdana !important;
}
html body * {
  font-family: Verdana !important;
}
.theme-styles-sections-category-listing__flexColumn--ODMlk {
  display: flex;
  flex-direction: column;
}
.theme-styles-sections-category-listing__flexAlignCenter--xJDp7 {
  display: flex;
  align-items: center;
}
.theme-styles-sections-category-listing__flexCenter--c1Xtz {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-styles-sections-category-listing__justifyStart--aMDsq {
  justify-content: flex-start;
}
.theme-styles-sections-category-listing__justifyBetween--REN5q {
  justify-content: space-between;
}
.theme-styles-sections-category-listing__slick-dots--gDwrr li.theme-styles-sections-category-listing__slick-active--obSlZ button {
  background-color: #A15A95;
  width: 60px;
  height: 10px;
}
.theme-styles-sections-category-listing__slick-dots--gDwrr li:not(.theme-styles-sections-category-listing__slick-active--obSlZ) button {
  filter: blur(2px);
  border-radius: 100%;
  background-color: #A15A9580;
  width: 10px;
  height: 10px;
}
.theme-styles-sections-category-listing__slick-dots--gDwrr {
  transform: translate(-50%, 100%) !important;
}
.theme-styles-sections-category-listing__legal-data-container--u7xsn {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  max-width: 1300px;
  margin: auto;
  padding: 50px;
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-styles-sections-category-listing__legal-data-container--u7xsn h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 0;
  margin-bottom: 50px;
  color: #9e007e;
}
.theme-styles-sections-category-listing__legal-data-container--u7xsn h2 {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin: 30px 0;
  text-transform: uppercase;
}
.theme-styles-sections-category-listing__legal-data-container--u7xsn p,
.theme-styles-sections-category-listing__legal-data-container--u7xsn a,
.theme-styles-sections-category-listing__legal-data-container--u7xsn li {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-styles-sections-category-listing__legal-data-container--u7xsn p,
.theme-styles-sections-category-listing__legal-data-container--u7xsn li {
  margin-bottom: 12px;
}
.theme-styles-sections-category-listing__legal-data-container--u7xsn a {
  text-decoration: underline;
}
.theme-styles-sections-category-listing__legal-data-container--u7xsn ol,
.theme-styles-sections-category-listing__legal-data-container--u7xsn ul {
  padding-left: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .theme-styles-sections-category-listing__legal-data-container--u7xsn {
    padding: 30px 0px;
    border: none;
    font-size: 12px;
  }
  .theme-styles-sections-category-listing__legal-data-container--u7xsn h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .theme-styles-sections-category-listing__legal-data-container--u7xsn p,
  .theme-styles-sections-category-listing__legal-data-container--u7xsn h2,
  .theme-styles-sections-category-listing__legal-data-container--u7xsn li {
    font-size: 12px;
  }
}
.theme-styles-sections-category-listing__titleBlock--sxtkS {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding-inline: 40px;
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-category-listing__titleBlock--sxtkS {
    gap: 8px;
    padding-inline: 24px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-category-listing__titleBlock--sxtkS {
    padding-inline: 16px;
  }
}
.theme-styles-sections-category-listing__categoryGrid--GeikP {
  display: grid;
  gap: 24px;
  padding-inline: 40px;
  grid-template-columns: repeat(var(--per_row), 1fr);
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-category-listing__categoryGrid--GeikP {
    grid-template-columns: repeat(var(--brand-item), 1fr);
    gap: 12px;
    padding-inline: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-category-listing__categoryGrid--GeikP {
    grid-template-columns: repeat(var(--per-row-mobile), 1fr);
    padding-inline: 16px;
  }
}
.theme-styles-sections-category-listing__categoryGrid--GeikP .theme-styles-sections-category-listing__gridItem--XIzOc {
  min-width: 0;
}
.theme-styles-sections-category-listing__categoryGrid--GeikP.theme-styles-sections-category-listing__singleItem--MnNqX {
  display: flex;
  justify-content: center;
}
.theme-styles-sections-category-listing__categoryGrid--GeikP.theme-styles-sections-category-listing__singleItem--MnNqX > * {
  flex: 0 1 calc(100% / var(--per_row));
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-category-listing__categoryGrid--GeikP.theme-styles-sections-category-listing__singleItem--MnNqX > * {
    flex: 1;
  }
}
.theme-styles-sections-category-listing__categorySlider--dSed0 {
  --gap: 24px;
  padding-inline: 40px;
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-category-listing__categorySlider--dSed0 {
    --gap: 16px;
    padding-inline: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-category-listing__categorySlider--dSed0 {
    --gap: 12px;
    padding: 0;
  }
}
.theme-styles-sections-category-listing__categorySlider--dSed0 .slick-list {
  margin: 0 calc(var(--gap) / 2 * -1);
}
.theme-styles-sections-category-listing__categorySlider--dSed0 .theme-styles-sections-category-listing__sliderItem--LuYO4 {
  padding: 0 calc(var(--gap) / 2);
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-category-listing__categorySlider--dSed0.theme-styles-sections-category-listing__singleItem--MnNqX {
    padding-inline: 16px;
  }
}
.theme-styles-sections-category-listing__gap-above-button--h_MRl {
  text-align: center;
  padding-top: 32px;
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-category-listing__gap-above-button--h_MRl {
    padding-top: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-category-listing__gap-above-button--h_MRl {
    padding-top: 24px;
  }
}
.theme-styles-sections-category-listing__sectionButton--p2tSU {
  padding: 12px 20px;
  display: inline-block;
  border-radius: var(--buttonRadius, 0px);
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-category-listing__hideOnDesktop--ztJdh {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-category-listing__hideOnDesktop--ztJdh {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-category-listing__hideOnMobile--_GeG2 {
    display: none;
  }
  .theme-styles-sections-category-listing__hideOnDesktop--ztJdh {
    display: block;
  }
}

/*!****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/components/categories-card/categories-card.less ***!
  \****************************************************************************************************************************************************************************/
/**color by character**/
/** Font family **/
/** Font weight **/
.theme-components-categories-card-categories-card__login-auth-container--qtFGc .theme-components-categories-card-categories-card__n2oQ6--wcphH {
  padding: 0px !important;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc .theme-components-categories-card-categories-card__uiz1K--MNeDU {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc .theme-components-categories-card-categories-card__P1CJx--MWpz1 {
  border: none !important;
  flex: 1;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc .theme-components-categories-card-categories-card__P1CJx--MWpz1 img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc .theme-components-categories-card-categories-card__kkBOU--vFdvt {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="auth-container-auth-container__loginWrapper"] {
  padding: 0px !important;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="login__loginWrapper"] {
  display: flex;
  align-items: center;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="auth-container__loginBannerWrapper"] {
  border: none !important;
  flex: 1;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="auth-container__loginBannerWrapper"] img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="auth-container__loginCard"] {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="auth-container__loginContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="login__loginTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="login__loginSubText"] {
  color: rgba(46, 43, 44, 0.5) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  letter-spacing: -0.5px !important;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="login-otp__loginOtpWrapper"] {
  margin-top: 20px !important;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="term-privacy__byContinuingText"] {
  color: #2e2b2c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="term-privacy__byContinuingText"] a {
  font-weight: 700 !important;
  color: #2e2b2c !important;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="mobile-number__inputTitle"] {
  display: none;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc .theme-components-categories-card-categories-card__react-international-phone-country-selector-button--dMMME {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px!important;
  margin-right: 8px !important;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="react-international-phone-dial-code-preview mobile-number__dialCodePreview"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-right: none !important;
  border-radius: 12px 0 0 12px !important;
  border-inline: 1px solid rgba(0, 0, 0, 0.08) !important;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc .theme-components-categories-card-categories-card__react-international-phone-input--ond7T {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0 12px 12px 0 !important;
  border-left: none !important;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="login-mode-button__loginModeBtn"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="login-mode-button__loginModeBtn"] svg path {
  fill: #9e007e;
}
.theme-components-categories-card-categories-card__login-auth-container--qtFGc [class*="login-mode-button__loginModeLabel"] {
  width: auto !important;
  text-transform: capitalize !important;
  margin-inline-end: 0px !important;
}
.theme-components-categories-card-categories-card__forget-password-container--HqZrL [class*="forget-password__forgetPasswordWrapper"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 40px;
  max-width: 500px;
}
.theme-components-categories-card-categories-card__forget-password-container--HqZrL [class*="forgotPasswordTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-components-categories-card-categories-card__forget-password-container--HqZrL form {
  position: relative;
}
.theme-components-categories-card-categories-card__forget-password-container--HqZrL form label {
  left: 5px;
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-categories-card-categories-card__forget-password-container--HqZrL form input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px !important;
}
.theme-components-categories-card-categories-card__forget-password-container--HqZrL form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-categories-card-categories-card__forget-password-container--HqZrL form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-components-categories-card-categories-card__forget-password-container--HqZrL [class*="login-register-toggle__loginRegisterToggle"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-components-categories-card-categories-card__forget-password-container--HqZrL [class*="login-register-toggle__loginRegisterToggle"] span {
  width: auto;
}
.theme-components-categories-card-categories-card__forget-password-container--HqZrL [class*="login-register-toggle__loginRegisterToggle"] svg path {
  fill: #9e007e;
}
@media (max-width: 768px) {
  .theme-components-categories-card-categories-card__forget-password-container--HqZrL [class*="forget-password__forgetPasswordWrapper"] {
    padding: 20px;
    margin: 0 20px;
  }
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG {
  margin-bottom: 50px;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__mainView"] {
  flex-direction: row-reverse;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__profilePageContainer"] {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__profileContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="fy-input__required"] {
  color: #9e007e;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-details__radioContent"] {
  padding: 10px 0;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG form [class*="profile-details__formLabel"] {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG form label {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG form input {
  padding: 10px 0px;
  font-size: 14px;
  color: #1a1a1a !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG form [class*="profile-address-page__commonBtn"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG form .theme-components-categories-card-categories-card__ojp_C--euiiB {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG form button[type="submit"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #fff !important;
  background-color: #9e007e !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__navContainer"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 16px !important;
  padding: 20px !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="empty-state__heading"] {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG .theme-components-categories-card-categories-card__O32OW--RoBRv {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__nav_"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 12px !important;
  padding: 15px 20px !important;
  margin-bottom: 10px;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__nav_"] span {
  color: #2e2b2c;
  font-size: 14px;
  font-weight: 400;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__nav_"] svg path {
  fill: #9e007e !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__navContainer"] ul > *:nth-child(1),
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__navContainer"] ul > *:nth-child(4) {
  display: none !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__selected"] {
  border: 1px solid #9e007e !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__selected"] svg path {
  fill: #9e007e !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__signOut"] {
  color: #9e007e !important;
}
.theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__accountHeader"] {
  margin-bottom: 10px;
  color: #1a1a1a !important;
}
@media (max-width: 768px) {
  .theme-components-categories-card-categories-card__profile-navigation-container--X10gG {
    margin-top: 50px;
  }
  .theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="profile-navigation__profileContent"] {
    padding: 15px;
  }
  .theme-components-categories-card-categories-card__profile-navigation-container--X10gG [class*="address-form__formContainer"] {
    flex-direction: column;
  }
}
.theme-components-categories-card-categories-card__collection-hero-banner--_aBC1 {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.theme-components-categories-card-categories-card__collection-banner-img--_lqSP {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.theme-components-categories-card-categories-card__collection-hero-banner--_aBC1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.theme-components-categories-card-categories-card__collection-unofficial--sbA0s .theme-components-categories-card-categories-card__collection-hero-banner--_aBC1::after,
.theme-components-categories-card-categories-card__collection-dbyd--IbMNr .theme-components-categories-card-categories-card__collection-hero-banner--_aBC1::after {
  display: none;
}
.theme-components-categories-card-categories-card__collection-banner-img-mobile--XyDCv {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.theme-components-categories-card-categories-card__collection-banner-content--ttWZ4 {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 1300px;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 20px 40px;
  width: 100%;
  z-index: 3;
}
.theme-components-categories-card-categories-card__collection-unofficial--sbA0s .theme-components-categories-card-categories-card__collection-banner-content--ttWZ4,
.theme-components-categories-card-categories-card__collection-dbyd--IbMNr .theme-components-categories-card-categories-card__collection-banner-content--ttWZ4 {
  display: none;
}
.theme-components-categories-card-categories-card__collection-banner-content--ttWZ4 h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.theme-components-categories-card-categories-card__collection-banner-content--ttWZ4 p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
@media (max-width: 768px) {
  .theme-components-categories-card-categories-card__collection-banner-content--ttWZ4 {
    top: auto;
    bottom: 0px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
    padding: 40px 20px;
  }
  .theme-components-categories-card-categories-card__collection-banner-img--_lqSP {
    display: none;
  }
  .theme-components-categories-card-categories-card__collection-banner-img-mobile--XyDCv {
    display: block;
  }
  .theme-components-categories-card-categories-card__collection-banner-content--ttWZ4 h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .theme-components-categories-card-categories-card__collection-banner-content--ttWZ4 p {
    font-size: 14px;
  }
}
.theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 {
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  align-items: center;
}
.theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 .theme-components-categories-card-categories-card__banner-overlay--VWUsK {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
}
.theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 .theme-components-categories-card-categories-card__banner-content--jfQiI {
  color: #fff;
  max-width: 50%;
}
.theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 150%;
  color: #000000;
}
.theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 p {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  margin-bottom: 16px;
}
.theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 .theme-components-categories-card-categories-card__banner-btn--eLSud {
  padding: 10px 24px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #9e007e;
  color: #9e007e;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}
.theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 .theme-components-categories-card-categories-card__banner-btn--eLSud:hover {
  background: #9e007e;
  color: #fff;
}
@media (max-width: 768px) {
  .theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 {
    min-height: 170px;
  }
  .theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 .theme-components-categories-card-categories-card__banner-overlay--VWUsK {
    padding: 20px 10px;
  }
  .theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 h2 {
    font-size: 14px;
  }
  .theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 p {
    font-size: 10px;
  }
  .theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 .theme-components-categories-card-categories-card__banner-btn--eLSud {
    font-size: 10px;
    padding: 7px 17px;
  }
  .theme-components-categories-card-categories-card__custom-banner-card--ZSwG1 .theme-components-categories-card-categories-card__banner-content--jfQiI {
    max-width: 60%;
  }
}
html body {
  font-family: Verdana !important;
}
html body * {
  font-family: Verdana !important;
}
.theme-components-categories-card-categories-card__flexColumn--dwz2j {
  display: flex;
  flex-direction: column;
}
.theme-components-categories-card-categories-card__flexAlignCenter--LLBoq {
  display: flex;
  align-items: center;
}
.theme-components-categories-card-categories-card__flexCenter--MI9q_ {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-components-categories-card-categories-card__justifyStart--OOn2i {
  justify-content: flex-start;
}
.theme-components-categories-card-categories-card__justifyBetween--RTcYa {
  justify-content: space-between;
}
.theme-components-categories-card-categories-card__slick-dots--TvE3S li.theme-components-categories-card-categories-card__slick-active--QhpWZ button {
  background-color: #A15A95;
  width: 60px;
  height: 10px;
}
.theme-components-categories-card-categories-card__slick-dots--TvE3S li:not(.theme-components-categories-card-categories-card__slick-active--QhpWZ) button {
  filter: blur(2px);
  border-radius: 100%;
  background-color: #A15A9580;
  width: 10px;
  height: 10px;
}
.theme-components-categories-card-categories-card__slick-dots--TvE3S {
  transform: translate(-50%, 100%) !important;
}
.theme-components-categories-card-categories-card__legal-data-container--tak1O {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  max-width: 1300px;
  margin: auto;
  padding: 50px;
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-components-categories-card-categories-card__legal-data-container--tak1O h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 0;
  margin-bottom: 50px;
  color: #9e007e;
}
.theme-components-categories-card-categories-card__legal-data-container--tak1O h2 {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin: 30px 0;
  text-transform: uppercase;
}
.theme-components-categories-card-categories-card__legal-data-container--tak1O p,
.theme-components-categories-card-categories-card__legal-data-container--tak1O a,
.theme-components-categories-card-categories-card__legal-data-container--tak1O li {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-components-categories-card-categories-card__legal-data-container--tak1O p,
.theme-components-categories-card-categories-card__legal-data-container--tak1O li {
  margin-bottom: 12px;
}
.theme-components-categories-card-categories-card__legal-data-container--tak1O a {
  text-decoration: underline;
}
.theme-components-categories-card-categories-card__legal-data-container--tak1O ol,
.theme-components-categories-card-categories-card__legal-data-container--tak1O ul {
  padding-left: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .theme-components-categories-card-categories-card__legal-data-container--tak1O {
    padding: 30px 0px;
    border: none;
    font-size: 12px;
  }
  .theme-components-categories-card-categories-card__legal-data-container--tak1O h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .theme-components-categories-card-categories-card__legal-data-container--tak1O p,
  .theme-components-categories-card-categories-card__legal-data-container--tak1O h2,
  .theme-components-categories-card-categories-card__legal-data-container--tak1O li {
    font-size: 12px;
  }
}
.theme-components-categories-card-categories-card__imageGallery--nsCt0 {
  border-radius: var(--imageRadius, 0px);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.theme-components-categories-card-categories-card__streach--PRdJh img {
  object-fit: cover !important;
  height: 100% !important;
}
.theme-components-categories-card-categories-card__streach--PRdJh picture {
  background-color: var(--bg-color) !important;
}
.theme-components-categories-card-categories-card__categoriesName--ZnVP0 {
  position: absolute;
  border: 1px solid var(--dividerStokes, #d4d1d1);
  background-color: var(--themeAccentL5, #fff);
  border-radius: var(--buttonRadius, 0px);
  padding: 7px 15px;
  text-align: center;
  bottom: 12px;
  left: 12px;
  right: 12px;
  margin: 0 auto;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--textBody, #3c3131);
}
.theme-components-categories-card-categories-card__categoriesName--ZnVP0.theme-components-categories-card-categories-card__top--TResd {
  bottom: unset;
  top: 12px;
}
.theme-components-categories-card-categories-card__categoriesName--ZnVP0.theme-components-categories-card-categories-card__center--ooMIB {
  top: 50%;
  transform: translateY(-50%);
  bottom: unset;
}
.theme-components-categories-card-categories-card__categoriesName--ZnVP0.theme-components-categories-card-categories-card__text-left--zoVk0 {
  text-align: left;
}
.theme-components-categories-card-categories-card__categoriesName--ZnVP0.theme-components-categories-card-categories-card__text-right--kebPg {
  text-align: right;
}
@media only screen and (min-width: 769px) {
  .theme-components-categories-card-categories-card__categoriesName--ZnVP0 {
    padding: 14px 15px;
  }
}
.theme-components-categories-card-categories-card__cardContainer--dnIrt {
  position: relative;
}
.theme-components-categories-card-categories-card__cardContainer--dnIrt .theme-components-categories-card-categories-card__imageWrapper--igi1C {
  border-radius: var(--imageRadius, 0px);
  overflow: hidden;
}
.theme-components-categories-card-categories-card__cardContainer--dnIrt .theme-components-categories-card-categories-card__imageGallery--nsCt0 {
  transition: 300ms transform cubic-bezier(0, 0, 0.2, 1);
}
.theme-components-categories-card-categories-card__cardContainer--dnIrt:hover .theme-components-categories-card-categories-card__imageGallery--nsCt0 {
  transform: scale(1.1);
}
.theme-components-categories-card-categories-card__outside--zoTC0 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.theme-components-categories-card-categories-card__outside--zoTC0.theme-components-categories-card-categories-card__top--TResd {
  flex-direction: column-reverse;
  height: 100%;
  justify-content: space-between;
}
.theme-components-categories-card-categories-card__outside--zoTC0 .theme-components-categories-card-categories-card__categoriesName--ZnVP0 {
  position: static;
  width: 100%;
}
.theme-components-categories-card-categories-card__outside--zoTC0 .theme-components-categories-card-categories-card__categoriesName--ZnVP0.theme-components-categories-card-categories-card__center--ooMIB {
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
}


/*# sourceMappingURL=CategoriesListingSectionChunk.css.map*/