/*!*********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/collections-listing.less ***!
  \*********************************************************************************************************************************************************************/
/**color by character**/
/** Font family **/
/** Font weight **/
.theme-styles-sections-collections-listing__login-auth-container--WtUKf .theme-styles-sections-collections-listing__n2oQ6--yas_m {
  padding: 0px !important;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf .theme-styles-sections-collections-listing__uiz1K--LNHOz {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf .theme-styles-sections-collections-listing__P1CJx--yqCx1 {
  border: none !important;
  flex: 1;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf .theme-styles-sections-collections-listing__P1CJx--yqCx1 img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf .theme-styles-sections-collections-listing__kkBOU--QDhwN {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="auth-container-auth-container__loginWrapper"] {
  padding: 0px !important;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="login__loginWrapper"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="auth-container__loginBannerWrapper"] {
  border: none !important;
  flex: 1;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="auth-container__loginBannerWrapper"] img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="auth-container__loginCard"] {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="auth-container__loginContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="login__loginTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="login__loginSubText"] {
  color: rgba(46, 43, 44, 0.5) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  letter-spacing: -0.5px !important;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="login-otp__loginOtpWrapper"] {
  margin-top: 20px !important;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="term-privacy__byContinuingText"] {
  color: #2e2b2c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="term-privacy__byContinuingText"] a {
  font-weight: 700 !important;
  color: #2e2b2c !important;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="mobile-number__inputTitle"] {
  display: none;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf .theme-styles-sections-collections-listing__react-international-phone-country-selector-button--ZJYJp {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px!important;
  margin-right: 8px !important;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="react-international-phone-dial-code-preview mobile-number__dialCodePreview"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-right: none !important;
  border-radius: 12px 0 0 12px !important;
  border-inline: 1px solid rgba(0, 0, 0, 0.08) !important;
  font-weight: bold;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf .theme-styles-sections-collections-listing__react-international-phone-input--t7XPN {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 0 12px 12px 0 !important;
  border-left: none !important;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="login-mode-button__loginModeBtn"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="login-mode-button__loginModeBtn"] svg path {
  fill: #9e007e;
}
.theme-styles-sections-collections-listing__login-auth-container--WtUKf [class*="login-mode-button__loginModeLabel"] {
  width: auto !important;
  text-transform: capitalize !important;
  margin-inline-end: 0px !important;
}
.theme-styles-sections-collections-listing__forget-password-container--hyJhv [class*="forget-password__forgetPasswordWrapper"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 40px;
  max-width: 500px;
}
.theme-styles-sections-collections-listing__forget-password-container--hyJhv [class*="forgotPasswordTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-styles-sections-collections-listing__forget-password-container--hyJhv form {
  position: relative;
}
.theme-styles-sections-collections-listing__forget-password-container--hyJhv form label {
  left: 5px;
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-collections-listing__forget-password-container--hyJhv form input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px !important;
}
.theme-styles-sections-collections-listing__forget-password-container--hyJhv form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-collections-listing__forget-password-container--hyJhv form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-styles-sections-collections-listing__forget-password-container--hyJhv [class*="login-register-toggle__loginRegisterToggle"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-styles-sections-collections-listing__forget-password-container--hyJhv [class*="login-register-toggle__loginRegisterToggle"] span {
  width: auto;
}
.theme-styles-sections-collections-listing__forget-password-container--hyJhv [class*="login-register-toggle__loginRegisterToggle"] svg path {
  fill: #9e007e;
}
@media (max-width: 768px) {
  .theme-styles-sections-collections-listing__forget-password-container--hyJhv [class*="forget-password__forgetPasswordWrapper"] {
    padding: 20px;
    margin: 0 20px;
  }
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY {
  margin-bottom: 50px;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__mainView"] {
  flex-direction: row-reverse;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__profilePageContainer"] {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__profileContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="fy-input__required"] {
  color: #9e007e;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-details__radioContent"] {
  padding: 10px 0;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY form [class*="profile-details__formLabel"] {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY form label {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY form input {
  padding: 10px 0px;
  font-size: 14px;
  color: #1a1a1a !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY form [class*="profile-address-page__commonBtn"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY form .theme-styles-sections-collections-listing__ojp_C--cTRJi {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY form button[type="submit"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #fff !important;
  background-color: #9e007e !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__navContainer"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 16px !important;
  padding: 20px !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="empty-state__heading"] {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY .theme-styles-sections-collections-listing__O32OW--oqYnw {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__nav_"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 12px !important;
  padding: 15px 20px !important;
  margin-bottom: 10px;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__nav_"] span {
  color: #2e2b2c;
  font-size: 14px;
  font-weight: 400;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__nav_"] svg path {
  fill: #9e007e !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__navContainer"] ul > *:nth-child(1),
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__navContainer"] ul > *:nth-child(4) {
  display: none !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__selected"] {
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__selected"] svg path {
  fill: #9e007e !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__signOut"] {
  color: #9e007e !important;
}
.theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__accountHeader"] {
  margin-bottom: 10px;
  color: #1a1a1a !important;
}
@media (max-width: 768px) {
  .theme-styles-sections-collections-listing__profile-navigation-container--ZsedY {
    margin-top: 50px;
  }
  .theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="profile-navigation__profileContent"] {
    padding: 15px;
  }
  .theme-styles-sections-collections-listing__profile-navigation-container--ZsedY [class*="address-form__formContainer"] {
    flex-direction: column;
  }
}
.theme-styles-sections-collections-listing__collection-hero-banner--y3UlX {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.theme-styles-sections-collections-listing__collection-banner-img--cAEST {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.theme-styles-sections-collections-listing__collection-hero-banner--y3UlX::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.theme-styles-sections-collections-listing__collection-unofficial--_EyIa .theme-styles-sections-collections-listing__collection-hero-banner--y3UlX::after,
.theme-styles-sections-collections-listing__collection-dbyd--fXWFn .theme-styles-sections-collections-listing__collection-hero-banner--y3UlX::after {
  display: none;
}
.theme-styles-sections-collections-listing__collection-banner-img-mobile--R7h8q {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.theme-styles-sections-collections-listing__collection-banner-content--lG0br {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 1300px;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 20px 40px;
  width: 100%;
  z-index: 3;
}
.theme-styles-sections-collections-listing__collection-unofficial--_EyIa .theme-styles-sections-collections-listing__collection-banner-content--lG0br,
.theme-styles-sections-collections-listing__collection-dbyd--fXWFn .theme-styles-sections-collections-listing__collection-banner-content--lG0br {
  display: none;
}
.theme-styles-sections-collections-listing__collection-banner-content--lG0br h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.theme-styles-sections-collections-listing__collection-banner-content--lG0br p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
@media (max-width: 768px) {
  .theme-styles-sections-collections-listing__collection-banner-content--lG0br {
    top: auto;
    bottom: 0px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
    padding: 40px 20px;
  }
  .theme-styles-sections-collections-listing__collection-banner-img--cAEST {
    display: none;
  }
  .theme-styles-sections-collections-listing__collection-banner-img-mobile--R7h8q {
    display: block;
  }
  .theme-styles-sections-collections-listing__collection-banner-content--lG0br h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .theme-styles-sections-collections-listing__collection-banner-content--lG0br p {
    font-size: 14px;
  }
}
.theme-styles-sections-collections-listing__custom-banner-card--s4trl {
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  align-items: center;
}
.theme-styles-sections-collections-listing__custom-banner-card--s4trl .theme-styles-sections-collections-listing__banner-overlay--VaBbV {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
}
.theme-styles-sections-collections-listing__custom-banner-card--s4trl .theme-styles-sections-collections-listing__banner-content--gquTI {
  color: #fff;
  max-width: 50%;
}
.theme-styles-sections-collections-listing__custom-banner-card--s4trl h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 150%;
  color: #000000;
}
.theme-styles-sections-collections-listing__custom-banner-card--s4trl p {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  margin-bottom: 16px;
}
.theme-styles-sections-collections-listing__custom-banner-card--s4trl .theme-styles-sections-collections-listing__banner-btn--QijxP {
  padding: 10px 24px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #9e007e;
  color: #9e007e;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}
.theme-styles-sections-collections-listing__custom-banner-card--s4trl .theme-styles-sections-collections-listing__banner-btn--QijxP:hover {
  background: #9e007e;
  color: #fff;
}
@media (max-width: 768px) {
  .theme-styles-sections-collections-listing__custom-banner-card--s4trl {
    min-height: 170px;
  }
  .theme-styles-sections-collections-listing__custom-banner-card--s4trl .theme-styles-sections-collections-listing__banner-overlay--VaBbV {
    padding: 20px 10px;
  }
  .theme-styles-sections-collections-listing__custom-banner-card--s4trl h2 {
    font-size: 14px;
  }
  .theme-styles-sections-collections-listing__custom-banner-card--s4trl p {
    font-size: 10px;
  }
  .theme-styles-sections-collections-listing__custom-banner-card--s4trl .theme-styles-sections-collections-listing__banner-btn--QijxP {
    font-size: 10px;
    padding: 7px 17px;
  }
  .theme-styles-sections-collections-listing__custom-banner-card--s4trl .theme-styles-sections-collections-listing__banner-content--gquTI {
    max-width: 60%;
  }
}
html body {
  font-family: Verdana !important;
}
html body * {
  font-family: Verdana !important;
}
.theme-styles-sections-collections-listing__flexColumn--mSU2b {
  display: flex;
  flex-direction: column;
}
.theme-styles-sections-collections-listing__flexAlignCenter--wn9jI {
  display: flex;
  align-items: center;
}
.theme-styles-sections-collections-listing__flexCenter--mEJ_P {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-styles-sections-collections-listing__justifyStart--NhxMM {
  justify-content: flex-start;
}
.theme-styles-sections-collections-listing__justifyBetween--lann0 {
  justify-content: space-between;
}
.theme-styles-sections-collections-listing__slick-dots--exqlS li.theme-styles-sections-collections-listing__slick-active--bhqHP button {
  background-color: #A15A95;
  width: 60px;
  height: 10px;
}
.theme-styles-sections-collections-listing__slick-dots--exqlS li:not(.theme-styles-sections-collections-listing__slick-active--bhqHP) button {
  filter: blur(2px);
  border-radius: 100%;
  background-color: #A15A9580;
  width: 10px;
  height: 10px;
}
.theme-styles-sections-collections-listing__slick-dots--exqlS {
  transform: translate(-50%, 100%) !important;
}
#theme-styles-sections-collections-listing__section_glamar-sdk-binding--Y1jnm button {
  border: 1px solid #9E007E33 !important;
  background-color: rgba(158, 0, 126, 0.04) !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #9e007e !important;
  text-transform: uppercase !important;
  padding: 20px !important;
}
.theme-styles-sections-collections-listing__legal-data-container--lAZW5 {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  max-width: 1300px;
  margin: auto;
  padding: 50px;
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-styles-sections-collections-listing__legal-data-container--lAZW5 h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 0;
  margin-bottom: 50px;
  color: #9e007e;
}
.theme-styles-sections-collections-listing__legal-data-container--lAZW5 h2 {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin: 30px 0;
  text-transform: uppercase;
}
.theme-styles-sections-collections-listing__legal-data-container--lAZW5 p,
.theme-styles-sections-collections-listing__legal-data-container--lAZW5 a,
.theme-styles-sections-collections-listing__legal-data-container--lAZW5 li {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-styles-sections-collections-listing__legal-data-container--lAZW5 p,
.theme-styles-sections-collections-listing__legal-data-container--lAZW5 li {
  margin-bottom: 12px;
}
.theme-styles-sections-collections-listing__legal-data-container--lAZW5 a {
  text-decoration: underline;
}
.theme-styles-sections-collections-listing__legal-data-container--lAZW5 ol,
.theme-styles-sections-collections-listing__legal-data-container--lAZW5 ul {
  padding-left: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .theme-styles-sections-collections-listing__legal-data-container--lAZW5 {
    padding: 30px 0px;
    border: none;
    font-size: 12px;
  }
  .theme-styles-sections-collections-listing__legal-data-container--lAZW5 h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .theme-styles-sections-collections-listing__legal-data-container--lAZW5 p,
  .theme-styles-sections-collections-listing__legal-data-container--lAZW5 h2,
  .theme-styles-sections-collections-listing__legal-data-container--lAZW5 li {
    font-size: 12px;
  }
}
.theme-styles-sections-collections-listing__collections__template--LYpPv .theme-styles-sections-collections-listing__section-title-block--I0Joc {
  text-align: center;
  padding-inline: 16px;
}
@media only screen and (min-width: 481px) {
  .theme-styles-sections-collections-listing__collections__template--LYpPv .theme-styles-sections-collections-listing__section-title-block--I0Joc {
    padding-inline: 24px;
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-collections-listing__collections__template--LYpPv .theme-styles-sections-collections-listing__section-title-block--I0Joc {
    padding-inline: 40px;
  }
}
.theme-styles-sections-collections-listing__collections__template--LYpPv .theme-styles-sections-collections-listing__section-title-block--I0Joc .theme-styles-sections-collections-listing__section-title--dSK7_ {
  color: var(--textHeading, #26201a);
  margin-bottom: 8px;
}
@media only screen and (min-width: 481px) {
  .theme-styles-sections-collections-listing__collections__template--LYpPv .theme-styles-sections-collections-listing__section-title-block--I0Joc .theme-styles-sections-collections-listing__section-title--dSK7_ {
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-collections-listing__collections__template--LYpPv .theme-styles-sections-collections-listing__section-title-block--I0Joc .theme-styles-sections-collections-listing__section-title--dSK7_ {
    margin-bottom: 16px;
  }
}
.theme-styles-sections-collections-listing__collections__template--LYpPv .theme-styles-sections-collections-listing__section-title-block--I0Joc .theme-styles-sections-collections-listing__section-description--dtGZ0 {
  color: var(--textBody, #3c3131);
  margin: 0 auto 32px;
  font-size: 14px;
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-collections-listing__collections__template--LYpPv .theme-styles-sections-collections-listing__section-title-block--I0Joc .theme-styles-sections-collections-listing__section-description--dtGZ0 {
    max-width: 590px;
  }
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-collections-listing__collections__template--LYpPv .theme-styles-sections-collections-listing__section-title-block--I0Joc .theme-styles-sections-collections-listing__section-description--dtGZ0 {
    font-size: 12px;
    margin: 0 auto 24px;
  }
}
.theme-styles-sections-collections-listing__collectionGrid--tBrJy {
  padding-inline: 16px;
  display: grid;
  justify-content: center;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 481px) {
  .theme-styles-sections-collections-listing__collectionGrid--tBrJy {
    padding-inline: 24px;
    gap: 24px 12px;
    grid-template-columns: repeat(auto-fit, calc((100% - 24px) / 3));
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-collections-listing__collectionGrid--tBrJy {
    padding-inline: 40px;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, calc((100% - (24px * (var(--grid-columns) - 1))) / var(--grid-columns)));
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-collections-listing__defaultGrid--tf3_C {
    --grid-columns: 3;
  }
}
.theme-styles-sections-collections-listing__collectionSlider--K0d9R {
  --gap: 24px;
  padding-inline: 40px;
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-collections-listing__collectionSlider--K0d9R {
    --gap: 12px;
    padding-inline: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-collections-listing__collectionSlider--K0d9R {
    padding: 0;
  }
}
.theme-styles-sections-collections-listing__collectionSlider--K0d9R .slick-list {
  margin: 0 calc(var(--gap) / 2 * -1);
}
.theme-styles-sections-collections-listing__collectionSlider--K0d9R .theme-styles-sections-collections-listing__sliderItem--h9qH7 {
  padding-inline: calc(var(--gap) / 2);
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-collections-listing__collectionSlider--K0d9R.theme-styles-sections-collections-listing__singleItem--YaG5y {
    padding-inline: 16px;
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-collections-listing__hideOnDesktop--vjexU {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-collections-listing__hideOnTablet--eV8as {
    --gap: 12px;
    padding-inline: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-collections-listing__hideOnTablet--eV8as {
    padding: 0;
  }
}
.theme-styles-sections-collections-listing__hideOnTablet--eV8as .slick-list {
  margin: 0 calc(var(--gap) / 2 * -1);
}
.theme-styles-sections-collections-listing__hideOnTablet--eV8as .theme-styles-sections-collections-listing__sliderItem--h9qH7 {
  padding-inline: calc(var(--gap) / 2);
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-collections-listing__hideOnTablet--eV8as.theme-styles-sections-collections-listing__singleItem--YaG5y {
    padding-inline: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-collections-listing__hideOnMobile--m10nb {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  .theme-styles-sections-collections-listing__showOnMobile--sRJr_ {
    display: none;
  }
}

/*!****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/components/collection-card/collection-card.less ***!
  \****************************************************************************************************************************************************************************/
/**color by character**/
/** Font family **/
/** Font weight **/
.theme-components-collection-card-collection-card__login-auth-container--o_Huq .theme-components-collection-card-collection-card__n2oQ6--tzLXA {
  padding: 0px !important;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq .theme-components-collection-card-collection-card__uiz1K--OjS5j {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq .theme-components-collection-card-collection-card__P1CJx--utNEW {
  border: none !important;
  flex: 1;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq .theme-components-collection-card-collection-card__P1CJx--utNEW img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq .theme-components-collection-card-collection-card__kkBOU--GdcUy {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="auth-container-auth-container__loginWrapper"] {
  padding: 0px !important;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="login__loginWrapper"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="auth-container__loginBannerWrapper"] {
  border: none !important;
  flex: 1;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="auth-container__loginBannerWrapper"] img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="auth-container__loginCard"] {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="auth-container__loginContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="login__loginTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="login__loginSubText"] {
  color: rgba(46, 43, 44, 0.5) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  letter-spacing: -0.5px !important;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="login-otp__loginOtpWrapper"] {
  margin-top: 20px !important;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="term-privacy__byContinuingText"] {
  color: #2e2b2c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="term-privacy__byContinuingText"] a {
  font-weight: 700 !important;
  color: #2e2b2c !important;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="mobile-number__inputTitle"] {
  display: none;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq .theme-components-collection-card-collection-card__react-international-phone-country-selector-button--ZbelF {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px!important;
  margin-right: 8px !important;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="react-international-phone-dial-code-preview mobile-number__dialCodePreview"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-right: none !important;
  border-radius: 12px 0 0 12px !important;
  border-inline: 1px solid rgba(0, 0, 0, 0.08) !important;
  font-weight: bold;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq .theme-components-collection-card-collection-card__react-international-phone-input--nFQSO {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 0 12px 12px 0 !important;
  border-left: none !important;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="login-mode-button__loginModeBtn"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="login-mode-button__loginModeBtn"] svg path {
  fill: #9e007e;
}
.theme-components-collection-card-collection-card__login-auth-container--o_Huq [class*="login-mode-button__loginModeLabel"] {
  width: auto !important;
  text-transform: capitalize !important;
  margin-inline-end: 0px !important;
}
.theme-components-collection-card-collection-card__forget-password-container--uWTaD [class*="forget-password__forgetPasswordWrapper"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 40px;
  max-width: 500px;
}
.theme-components-collection-card-collection-card__forget-password-container--uWTaD [class*="forgotPasswordTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-components-collection-card-collection-card__forget-password-container--uWTaD form {
  position: relative;
}
.theme-components-collection-card-collection-card__forget-password-container--uWTaD form label {
  left: 5px;
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-collection-card-collection-card__forget-password-container--uWTaD form input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px !important;
}
.theme-components-collection-card-collection-card__forget-password-container--uWTaD form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-collection-card-collection-card__forget-password-container--uWTaD form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-components-collection-card-collection-card__forget-password-container--uWTaD [class*="login-register-toggle__loginRegisterToggle"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-components-collection-card-collection-card__forget-password-container--uWTaD [class*="login-register-toggle__loginRegisterToggle"] span {
  width: auto;
}
.theme-components-collection-card-collection-card__forget-password-container--uWTaD [class*="login-register-toggle__loginRegisterToggle"] svg path {
  fill: #9e007e;
}
@media (max-width: 768px) {
  .theme-components-collection-card-collection-card__forget-password-container--uWTaD [class*="forget-password__forgetPasswordWrapper"] {
    padding: 20px;
    margin: 0 20px;
  }
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK {
  margin-bottom: 50px;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__mainView"] {
  flex-direction: row-reverse;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__profilePageContainer"] {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__profileContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="fy-input__required"] {
  color: #9e007e;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-details__radioContent"] {
  padding: 10px 0;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK form [class*="profile-details__formLabel"] {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK form label {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK form input {
  padding: 10px 0px;
  font-size: 14px;
  color: #1a1a1a !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK form [class*="profile-address-page__commonBtn"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK form .theme-components-collection-card-collection-card__ojp_C--GisZ_ {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK form button[type="submit"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #fff !important;
  background-color: #9e007e !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__navContainer"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 16px !important;
  padding: 20px !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="empty-state__heading"] {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK .theme-components-collection-card-collection-card__O32OW--y1pug {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__nav_"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 12px !important;
  padding: 15px 20px !important;
  margin-bottom: 10px;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__nav_"] span {
  color: #2e2b2c;
  font-size: 14px;
  font-weight: 400;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__nav_"] svg path {
  fill: #9e007e !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__navContainer"] ul > *:nth-child(1),
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__navContainer"] ul > *:nth-child(4) {
  display: none !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__selected"] {
  border: 1px solid #9e007e !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__selected"] svg path {
  fill: #9e007e !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__signOut"] {
  color: #9e007e !important;
}
.theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__accountHeader"] {
  margin-bottom: 10px;
  color: #1a1a1a !important;
}
@media (max-width: 768px) {
  .theme-components-collection-card-collection-card__profile-navigation-container--p0huK {
    margin-top: 50px;
  }
  .theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="profile-navigation__profileContent"] {
    padding: 15px;
  }
  .theme-components-collection-card-collection-card__profile-navigation-container--p0huK [class*="address-form__formContainer"] {
    flex-direction: column;
  }
}
.theme-components-collection-card-collection-card__collection-hero-banner--YFiKI {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.theme-components-collection-card-collection-card__collection-banner-img--j5xIw {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.theme-components-collection-card-collection-card__collection-hero-banner--YFiKI::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.theme-components-collection-card-collection-card__collection-unofficial--v0s8t .theme-components-collection-card-collection-card__collection-hero-banner--YFiKI::after,
.theme-components-collection-card-collection-card__collection-dbyd--TSuKr .theme-components-collection-card-collection-card__collection-hero-banner--YFiKI::after {
  display: none;
}
.theme-components-collection-card-collection-card__collection-banner-img-mobile--kgRCp {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.theme-components-collection-card-collection-card__collection-banner-content--rptuw {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 1300px;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 20px 40px;
  width: 100%;
  z-index: 3;
}
.theme-components-collection-card-collection-card__collection-unofficial--v0s8t .theme-components-collection-card-collection-card__collection-banner-content--rptuw,
.theme-components-collection-card-collection-card__collection-dbyd--TSuKr .theme-components-collection-card-collection-card__collection-banner-content--rptuw {
  display: none;
}
.theme-components-collection-card-collection-card__collection-banner-content--rptuw h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.theme-components-collection-card-collection-card__collection-banner-content--rptuw p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
@media (max-width: 768px) {
  .theme-components-collection-card-collection-card__collection-banner-content--rptuw {
    top: auto;
    bottom: 0px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
    padding: 40px 20px;
  }
  .theme-components-collection-card-collection-card__collection-banner-img--j5xIw {
    display: none;
  }
  .theme-components-collection-card-collection-card__collection-banner-img-mobile--kgRCp {
    display: block;
  }
  .theme-components-collection-card-collection-card__collection-banner-content--rptuw h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .theme-components-collection-card-collection-card__collection-banner-content--rptuw p {
    font-size: 14px;
  }
}
.theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 {
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  align-items: center;
}
.theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 .theme-components-collection-card-collection-card__banner-overlay--lWDyM {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
}
.theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 .theme-components-collection-card-collection-card__banner-content--VNgGH {
  color: #fff;
  max-width: 50%;
}
.theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 150%;
  color: #000000;
}
.theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 p {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  margin-bottom: 16px;
}
.theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 .theme-components-collection-card-collection-card__banner-btn--PcS3u {
  padding: 10px 24px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #9e007e;
  color: #9e007e;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}
.theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 .theme-components-collection-card-collection-card__banner-btn--PcS3u:hover {
  background: #9e007e;
  color: #fff;
}
@media (max-width: 768px) {
  .theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 {
    min-height: 170px;
  }
  .theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 .theme-components-collection-card-collection-card__banner-overlay--lWDyM {
    padding: 20px 10px;
  }
  .theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 h2 {
    font-size: 14px;
  }
  .theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 p {
    font-size: 10px;
  }
  .theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 .theme-components-collection-card-collection-card__banner-btn--PcS3u {
    font-size: 10px;
    padding: 7px 17px;
  }
  .theme-components-collection-card-collection-card__custom-banner-card--Jqrj3 .theme-components-collection-card-collection-card__banner-content--VNgGH {
    max-width: 60%;
  }
}
html body {
  font-family: Verdana !important;
}
html body * {
  font-family: Verdana !important;
}
.theme-components-collection-card-collection-card__flexColumn--Z9nNw {
  display: flex;
  flex-direction: column;
}
.theme-components-collection-card-collection-card__flexAlignCenter--J7Al4 {
  display: flex;
  align-items: center;
}
.theme-components-collection-card-collection-card__flexCenter--B3nWx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-components-collection-card-collection-card__justifyStart--c95I9 {
  justify-content: flex-start;
}
.theme-components-collection-card-collection-card__justifyBetween--DNpt3 {
  justify-content: space-between;
}
.theme-components-collection-card-collection-card__slick-dots--CJcOn li.theme-components-collection-card-collection-card__slick-active--gIW6k button {
  background-color: #A15A95;
  width: 60px;
  height: 10px;
}
.theme-components-collection-card-collection-card__slick-dots--CJcOn li:not(.theme-components-collection-card-collection-card__slick-active--gIW6k) button {
  filter: blur(2px);
  border-radius: 100%;
  background-color: #A15A9580;
  width: 10px;
  height: 10px;
}
.theme-components-collection-card-collection-card__slick-dots--CJcOn {
  transform: translate(-50%, 100%) !important;
}
#theme-components-collection-card-collection-card__section_glamar-sdk-binding--QjTcs button {
  border: 1px solid #9E007E33 !important;
  background-color: rgba(158, 0, 126, 0.04) !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #9e007e !important;
  text-transform: uppercase !important;
  padding: 20px !important;
}
.theme-components-collection-card-collection-card__legal-data-container--LiESY {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  max-width: 1300px;
  margin: auto;
  padding: 50px;
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-components-collection-card-collection-card__legal-data-container--LiESY h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 0;
  margin-bottom: 50px;
  color: #9e007e;
}
.theme-components-collection-card-collection-card__legal-data-container--LiESY h2 {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin: 30px 0;
  text-transform: uppercase;
}
.theme-components-collection-card-collection-card__legal-data-container--LiESY p,
.theme-components-collection-card-collection-card__legal-data-container--LiESY a,
.theme-components-collection-card-collection-card__legal-data-container--LiESY li {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-components-collection-card-collection-card__legal-data-container--LiESY p,
.theme-components-collection-card-collection-card__legal-data-container--LiESY li {
  margin-bottom: 12px;
}
.theme-components-collection-card-collection-card__legal-data-container--LiESY a {
  text-decoration: underline;
}
.theme-components-collection-card-collection-card__legal-data-container--LiESY ol,
.theme-components-collection-card-collection-card__legal-data-container--LiESY ul {
  padding-left: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .theme-components-collection-card-collection-card__legal-data-container--LiESY {
    padding: 30px 0px;
    border: none;
    font-size: 12px;
  }
  .theme-components-collection-card-collection-card__legal-data-container--LiESY h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .theme-components-collection-card-collection-card__legal-data-container--LiESY p,
  .theme-components-collection-card-collection-card__legal-data-container--LiESY h2,
  .theme-components-collection-card-collection-card__legal-data-container--LiESY li {
    font-size: 12px;
  }
}
.theme-components-collection-card-collection-card__collectionCard--zC8ng {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.theme-components-collection-card-collection-card__collectionCard--zC8ng .theme-components-collection-card-collection-card__collectionImage--SSa9o {
  border-radius: var(--imageRadius, 0px);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.theme-components-collection-card-collection-card__collectionCard--zC8ng .theme-components-collection-card-collection-card__collectionTitleWrapper--tBUCK {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.theme-components-collection-card-collection-card__collectionCard--zC8ng .theme-components-collection-card-collection-card__collectionTitleWrapper--tBUCK .theme-components-collection-card-collection-card__collectionTitle--Yd73Z {
  text-transform: capitalize;
  color: var(--textHeading, #26201a);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.theme-components-collection-card-collection-card__collectionCard--zC8ng .theme-components-collection-card-collection-card__collectionTitleWrapper--tBUCK .theme-components-collection-card-collection-card__collectionButton--WFxAg {
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 12px;
  line-height: 14px;
  border-radius: var(--buttonRadius, 0px);
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 12px 16px;
  color: var(--buttonSecondary, #fff);
  background-color: var(--buttonPrimary, #4e3f09);
  border: none;
  min-width: auto;
  align-self: center;
}
@media only screen and (min-width: 769px) {
  .theme-components-collection-card-collection-card__collectionCard--zC8ng .theme-components-collection-card-collection-card__collectionTitleWrapper--tBUCK .theme-components-collection-card-collection-card__collectionButton--WFxAg {
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 14px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 839px) {
  .theme-components-collection-card-collection-card__collectionCard--zC8ng .theme-components-collection-card-collection-card__collectionTitleWrapper--tBUCK .theme-components-collection-card-collection-card__collectionButton--WFxAg {
    display: inline-block;
  }
}
@media only screen and (min-width: 840px) {
  .theme-components-collection-card-collection-card__collectionCard--zC8ng .theme-components-collection-card-collection-card__collectionTitleWrapper--tBUCK .theme-components-collection-card-collection-card__collectionButton--WFxAg {
    padding: 12px 32px;
    background-color: var(--buttonSecondary, #fff);
    color: var(--buttonPrimary, #4e3f09);
    border: 1px solid var(--buttonPrimary, #4e3f09);
    width: 100%;
    max-width: 216px;
  }
}
.theme-components-collection-card-collection-card__collectionCard--zC8ng:not(.theme-components-collection-card-collection-card__inside--xL3kg) .theme-components-collection-card-collection-card__collectionTitleWrapper--tBUCK .theme-components-collection-card-collection-card__collectionButton--WFxAg {
  background-color: var(--buttonSecondary, #fff);
  color: var(--buttonPrimary, #4e3f09);
  border: 1px solid var(--buttonPrimary, #4e3f09);
}
@media only screen and (min-width: 840px) {
  .theme-components-collection-card-collection-card__collectionCard--zC8ng:not(.theme-components-collection-card-collection-card__inside--xL3kg) .theme-components-collection-card-collection-card__collectionTitleWrapper--tBUCK .theme-components-collection-card-collection-card__collectionButton--WFxAg:hover {
    background-color: var(--buttonPrimary, #4e3f09);
    color: var(--buttonSecondary, #fff);
  }
}
.theme-components-collection-card-collection-card__collectionCard--zC8ng.theme-components-collection-card-collection-card__inside--xL3kg {
  position: relative;
}
@media only screen and (min-width: 840px) {
  .theme-components-collection-card-collection-card__collectionCard--zC8ng.theme-components-collection-card-collection-card__inside--xL3kg .theme-components-collection-card-collection-card__collectionTitleWrapper--tBUCK {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 12px;
    isolation: isolate;
    padding: 16px;
    border-radius: var(--buttonRadius, 0px);
    overflow: hidden;
  }
  .theme-components-collection-card-collection-card__collectionCard--zC8ng.theme-components-collection-card-collection-card__inside--xL3kg .theme-components-collection-card-collection-card__collectionTitleWrapper--tBUCK::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--overlay, #14130e);
    opacity: 0.6;
    z-index: -1;
  }
}
@media only screen and (min-width: 840px) {
  .theme-components-collection-card-collection-card__collectionCard--zC8ng.theme-components-collection-card-collection-card__inside--xL3kg .theme-components-collection-card-collection-card__collectionTitleWrapper--tBUCK .theme-components-collection-card-collection-card__collectionTitle--Yd73Z {
    color: var(--themeAccentL5, #fff);
  }
}


/*# sourceMappingURL=CollectionsListingSectionChunk.css.map*/