/*!*******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/custom-image-text.less ***!
  \*******************************************************************************************************************************************************************/
.theme-styles-sections-custom-image-text__sectionWrapper--NlY1E {
  width: 100%;
  box-sizing: border-box;
}
.theme-styles-sections-custom-image-text__container--QYwsZ {
  display: flex;
  align-items: center;
  gap: 45px;
}
.theme-styles-sections-custom-image-text__reverse--Y_FNh {
  flex-direction: row-reverse;
}
.theme-styles-sections-custom-image-text__fullWidth--bayNf {
  display: block;
}
.theme-styles-sections-custom-image-text__imageWrapper--yHJPY {
  width: 40%;
}
.theme-styles-sections-custom-image-text__imageWrapper--yHJPY img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.theme-styles-sections-custom-image-text__textWrapper--DM2sI {
  flex: 1;
}
.theme-styles-sections-custom-image-text__heading--S__5U {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  color: #1a1a1a;
  margin-bottom: 30px;
}
.theme-styles-sections-custom-image-text__content--GJiiP {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 140%;
}
.theme-styles-sections-custom-image-text__content--GJiiP p {
  margin-bottom: 15px;
}
.theme-styles-sections-custom-image-text__button--zxLov {
  display: inline-block;
  padding: 15px 50px;
  border-radius: 500px;
  background: #9e007e;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 700;
  margin-top: 30px;
}
.theme-styles-sections-custom-image-text__bottomContent--EGVRk {
  padding: 60px;
  border-radius: 16px;
  margin-top: 30px;
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 140%;
}
.theme-styles-sections-custom-image-text__bottomContent--EGVRk p {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 140%;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .theme-styles-sections-custom-image-text__container--QYwsZ {
    flex-direction: column  !important;
  }
  .theme-styles-sections-custom-image-text__button--zxLov {
    font-size: 14px;
    padding: 15px 30px;
  }
  .theme-styles-sections-custom-image-text__bottomContent--EGVRk {
    padding: 30px 20px  !important;
  }
  .theme-styles-sections-custom-image-text__bottomContent--EGVRk p {
    margin-bottom: 10px;
  }
  .theme-styles-sections-custom-image-text__heading--S__5U {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .theme-styles-sections-custom-image-text__imageWrapper--yHJPY {
    width: 100%;
  }
  .theme-styles-sections-custom-image-text__container--QYwsZ {
    gap: 30px;
  }
  .theme-styles-sections-custom-image-text__sectionWrapper--NlY1E {
    margin-left: 20px !important;
    margin-right: 20px !important;
    padding: 20px !important;
    border-radius: 16px !important;
    width: auto !important;
  }
}


/*# sourceMappingURL=CustomMediaWithTextSectionChunk.css.map*/