/*!*******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/custom-contact-us.less ***!
  \*******************************************************************************************************************************************************************/
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q {
  display: flex;
  align-items: center;
  max-width: 1300px;
  background-color: rgba(158, 0, 126, 0.04);
  border-radius: 32px;
  margin: 30px auto;
  padding: 50px;
  gap: 120px;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__logo--qiV3Q {
  max-width: 230px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd {
  flex: 1;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd h1 {
  color: #1a1a1a;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd .theme-styles-sections-custom-contact-us__storeDescription--tCtDM {
  color: rgba(26, 26, 26, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.5px;
  margin: 0;
  margin-bottom: 50px;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd .theme-styles-sections-custom-contact-us__iconItemContainer--UFmDu {
  display: flex;
  gap: 8px;
  margin-top: 24px;
  align-items: start;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd .theme-styles-sections-custom-contact-us__iconItemContainer--UFmDu img {
  width: 48px;
  border-radius: 50%;
  min-width: 48px;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd .theme-styles-sections-custom-contact-us__iconItemContainer--UFmDu h2 {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.5px;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd .theme-styles-sections-custom-contact-us__iconItemContainer--UFmDu p {
  color: rgba(26, 26, 26, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.5px;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactFormContainer--iONDP {
  position: relative;
  flex: 1;
  padding: 48px;
  border-radius: 32px;
  background-color: #ffffff;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactFormContainer--iONDP.theme-styles-sections-custom-contact-us__successBackground--U26r1 {
  background-color: #9e007e;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactForm--GvibM label {
  font-size: 14px;
  font-weight: 700;
  color: #2e2b2c;
  margin-bottom: 10px;
  display: inline-block;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactForm--GvibM input,
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactForm--GvibM textarea {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  color: rgba(46, 43, 44, 0.5);
  font-size: 12px;
  font-weight: 400;
  padding: 20px;
  width: 100%;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactForm--GvibM .theme-styles-sections-custom-contact-us__submitButton--ZjXCP {
  border-radius: 500px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 18px 36px;
  margin-top: 20px;
  background-color: #9e007e;
}
.theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactForm--GvibM .theme-styles-sections-custom-contact-us__inputFlexGroup--tXi8f {
  display: flex;
  gap: 15px;
}
.theme-styles-sections-custom-contact-us__successWrapper--E13fX {
  text-align: center;
}
.theme-styles-sections-custom-contact-us__successWrapper--E13fX .theme-styles-sections-custom-contact-us__closeSuccessButton--qPynE {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
.theme-styles-sections-custom-contact-us__successWrapper--E13fX .theme-styles-sections-custom-contact-us__closeSuccessButton--qPynE svg {
  width: 30px;
  fill: #fff;
}
.theme-styles-sections-custom-contact-us__successWrapper--E13fX img {
  width: 180px;
}
.theme-styles-sections-custom-contact-us__successWrapper--E13fX h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}
.theme-styles-sections-custom-contact-us__successWrapper--E13fX p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q {
    flex-direction: column;
    margin: 0;
    border-radius: 0;
    padding: 50px 20px;
    gap: 50px;
  }
  .theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__logo--qiV3Q {
    max-width: 180px;
  }
  .theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd .theme-styles-sections-custom-contact-us__storeDescription--tCtDM {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd .theme-styles-sections-custom-contact-us__iconItemContainer--UFmDu img {
    min-width: 40px;
    width: 40px;
  }
  .theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd .theme-styles-sections-custom-contact-us__iconItemContainer--UFmDu h2 {
    font-size: 15px;
  }
  .theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactInfo--O4ghd .theme-styles-sections-custom-contact-us__iconItemContainer--UFmDu p {
    font-size: 14px;
  }
  .theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactFormContainer--iONDP {
    border-radius: 16px;
    padding: 40px 20px;
  }
  .theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactForm--GvibM .theme-styles-sections-custom-contact-us__inputFlexGroup--tXi8f {
    flex-direction: column;
    gap: 0px;
  }
  .theme-styles-sections-custom-contact-us__contactPageContainer--fYx9Q .theme-styles-sections-custom-contact-us__contactForm--GvibM .theme-styles-sections-custom-contact-us__submitButton--ZjXCP {
    padding: 12px 24px;
    font-size: 14px;
    margin-top: 15px;
  }
  .theme-styles-sections-custom-contact-us__successWrapper--E13fX .theme-styles-sections-custom-contact-us__closeSuccessButton--qPynE {
    top: 20px;
    right: 20px;
  }
  .theme-styles-sections-custom-contact-us__successWrapper--E13fX img {
    width: 100px;
  }
  .theme-styles-sections-custom-contact-us__successWrapper--E13fX h2 {
    font-size: 28px;
  }
  .theme-styles-sections-custom-contact-us__successWrapper--E13fX p {
    font-size: 15px;
  }
}


/*# sourceMappingURL=CustomContactUsSectionChunk.css.map*/