/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/exclusive-offers.less ***!
  \******************************************************************************************************************************************************************/
.theme-styles-sections-exclusive-offers__slideWrapper--Qyh3q {
  position: relative;
  display: flex !important;
  justify-content: center !important;
}
.theme-styles-sections-exclusive-offers__slideContenttt--TKdEr {
  width: fit-content !important;
  position: relative;
}
.theme-styles-sections-exclusive-offers__textOverlayy--vevNI {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  color: #fff;
  max-width: 500px;
  z-index: 10;
}
.theme-styles-sections-exclusive-offers__textOverlayy--vevNI h2 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  line-height: 120%;
  letter-spacing: 0;
  margin-bottom: 20px;
}
.theme-styles-sections-exclusive-offers__textOverlayy--vevNI p {
  font-size: 14px;
  color: #2E2B2C;
  font-weight: 400;
  margin-bottom: 20px;
}
.theme-styles-sections-exclusive-offers__textOverlayy--vevNI .theme-styles-sections-exclusive-offers__buttons--bW5iO {
  display: flex;
  gap: 1rem;
}
.theme-styles-sections-exclusive-offers__textOverlayy--vevNI .theme-styles-sections-exclusive-offers__primaryBtn--bXMGF {
  background-color: #fff;
}
.theme-styles-sections-exclusive-offers__textOverlayy--vevNI .theme-styles-sections-exclusive-offers__secondaryBtn--S2v7i {
  background-color: transparent;
  border: 2px solid #E8D2E4;
}
.theme-styles-sections-exclusive-offers__textOverlayy--vevNI .theme-styles-sections-exclusive-offers__primaryBtn--bXMGF,
.theme-styles-sections-exclusive-offers__textOverlayy--vevNI .theme-styles-sections-exclusive-offers__secondaryBtn--S2v7i {
  color: #2E2B2C;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
  text-transform: uppercase;
  align-items: center;
  display: flex;
}
.theme-styles-sections-exclusive-offers__slideContenttt--TKdEr img {
  object-fit: cover !important;
  max-height: 340px !important;
  aspect-ratio: unset;
  border-radius: 10px;
  object-position: unset !important;
  display: inline-flex;
  width: unset !important;
}
.theme-styles-sections-exclusive-offers__slideContenttt--TKdEr picture {
  display: block;
  text-align: end;
  border-radius: 1.25rem;
  justify-content: center;
}
.theme-styles-sections-exclusive-offers__textOverlayy--vevNI .theme-styles-sections-exclusive-offers__brand_name--XwvBF {
  aspect-ratio: unset !important;
  border-radius: unset !important;
  max-height: 340px !important;
  object-fit: unset !important;
  width: unset !important;
}
.theme-styles-sections-exclusive-offers__exclusive-collections-section--T3YPC h2 {
  font-family: Verdana;
  font-weight: 700;
  font-size: 32px;
  padding-top: 5rem;
  padding-bottom: 2rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  text-transform: uppercase;
  color: #2E2B2C;
}
.theme-styles-sections-exclusive-offers__centerText--Ls_S8 {
  text-align: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  left: 0 !important;
}
.theme-styles-sections-exclusive-offers__centerText--Ls_S8 h2,
.theme-styles-sections-exclusive-offers__centerText--Ls_S8 p,
.theme-styles-sections-exclusive-offers__centerText--Ls_S8 .theme-styles-sections-exclusive-offers__buttons--bW5iO {
  justify-content: center;
}
.theme-styles-sections-exclusive-offers__mainoffers--mrGdJ {
  padding: 0 20px;
}
.theme-styles-sections-exclusive-offers__mainoffers--mrGdJ .theme-styles-sections-exclusive-offers__sectionHeading--JtT71 {
  font-size: 32px;
  font-weight: 700;
  color: #1a1a1a;
  text-align: center;
  text-transform: uppercase;
  margin: 1.25rem 0;
}
@media (max-width: 1025px) {
  .theme-styles-sections-exclusive-offers__slideWrapper--Qyh3q {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .theme-styles-sections-exclusive-offers__slideContenttt--TKdEr img {
    object-fit: cover !important;
    max-height: unset !important;
    aspect-ratio: unset;
    width: 100% !important;
    border-radius: 20px;
  }
  .theme-styles-sections-exclusive-offers__textOverlayy--vevNI {
    top: unset;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    transform: unset;
  }
  .theme-styles-sections-exclusive-offers__textOverlayy--vevNI h2 {
    font-size: 1.4rem;
  }
  .theme-styles-sections-exclusive-offers__textOverlayy--vevNI p {
    font-size: 0.9rem;
    color: #2E2B2C;
    font-weight: 400;
    margin: 0 0 1.5rem;
  }
  .theme-styles-sections-exclusive-offers__mainoffers--mrGdJ .theme-styles-sections-exclusive-offers__sectionHeading--JtT71 {
    font-size: 22px;
  }
}
.exclusive-collections-section {
  padding-bottom: 60px;
}
.exclusive-collections-section .slick-dots li.slick-active button {
  background-color: #A15A95;
  width: 60px;
  height: 10px;
}
.exclusive-collections-section .slick-dots li:not(.slick-active) button {
  filter: blur(2px);
  border-radius: 100%;
  background-color: #A15A9580;
  width: 10px;
  height: 10px;
}
.exclusive-collections-section .slick-slider {
  max-width: 1140px;
  margin: auto;
}
.exclusive-collections-section .slick-next {
  top: 45%;
  right: -50px;
  z-index: 10;
  border-radius: 100%;
  background: #A15A9533 !important;
  transform: unset;
}
.exclusive-collections-section .slick-prev {
  top: 45%;
  transform: unset;
  left: -50px;
  z-index: 10;
  border-radius: 100%;
  background: #A15A9533 !important;
}
.exclusive-collections-section .slick-prev path, .exclusive-collections-section .slick-next path {
  stroke: #FFFFFF;
}
.exclusive-collections-section .slick-slider:has(.slick-dots) {
  padding-bottom: 20px;
}
.exclusive-collections-section .slick-arrow + .slick-dots {
  padding: 0;
}
@media (max-width: 767px) {
  .exclusive-collections-section .slick-dots li.slick-active button {
    background-color: #A15A95;
    width: 36px;
    height: 8px;
  }
  .exclusive-collections-section .slick-dots li:not(.slick-active) button {
    width: 8px;
    height: 8px;
  }
}


/*# sourceMappingURL=ExclusiveOffersSectionChunk.css.map*/