/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/eye-check-cities.less ***!
  \******************************************************************************************************************************************************************/
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD {
  max-width: 1225px;
  margin: 80px auto;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-section-container--vGaQa {
  padding: 60px;
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 20px 20px 0 0;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__content-wrapper--Sy_Ec {
  max-width: 635px;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__heading--l4PV2 {
  font-size: 32px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__subheading--E9AlT {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #2e2b2c;
  line-height: 150%;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__button-group--nJl8L {
  display: flex;
  gap: 15px;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__button-group--nJl8L .theme-styles-sections-eye-check-cities__btn-primary--vK7X0,
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__button-group--nJl8L .theme-styles-sections-eye-check-cities__btn-secondary--AQcTG {
  padding: 14px 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s ease;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__button-group--nJl8L .theme-styles-sections-eye-check-cities__btn-primary--vK7X0 {
  background-color: #9e007e;
  color: #ffffff;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__button-group--nJl8L .theme-styles-sections-eye-check-cities__btn-secondary--AQcTG {
  background-color: transparent;
  color: #9e007e;
  border: 1px solid #9e007e;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__button-group--nJl8L .theme-styles-sections-eye-check-cities__btn-primary--vK7X0:hover,
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__button-group--nJl8L .theme-styles-sections-eye-check-cities__btn-secondary--AQcTG:hover {
  opacity: 0.8;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-bottom-row--HEgvc {
  padding-top: 6px;
  display: flex;
  align-items: stretch;
  gap: 6px;
  overflow: hidden;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-bottom-row--HEgvc .theme-styles-sections-eye-check-cities__city-item-title--Wg4X4 {
  display: flex;
  align-items: center;
  background-color: rgba(158, 0, 126, 0.1);
  border-radius: 0 8px 0 8px;
  padding: 10px 16px;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-bottom-row--HEgvc .theme-styles-sections-eye-check-cities__city-item-title--Wg4X4 .theme-styles-sections-eye-check-cities__city-list-title--_1lj2 {
  color: #9e007e;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__cities-list--V0ABM {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  overflow: scroll;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-item--Sikha {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(158, 0, 126, 0.1);
  border-radius: 8px;
  padding: 10px 16px;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-item--Sikha picture {
  width: 30px;
  height: 30px;
  aspect-ratio: auto;
  background: transparent !important;
}
.theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-item--Sikha .theme-styles-sections-eye-check-cities__city-name--vPMDR {
  font-size: 14px;
  color: #9e007e;
  font-weight: 400;
}
@media (max-width: 1025px) {
  .theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__content-wrapper--Sy_Ec {
    max-width: 500px;
  }
}
@media (max-width: 800px) and (min-width: 768px) {
  .theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-section-container--vGaQa {
    background-position: center -100px;
  }
}
@media (max-width: 768px) {
  .theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD {
    padding: 0 20px;
    margin: 50px 0;
  }
  .theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-section-container--vGaQa {
    padding: 20px;
    padding-top: 150px;
    border-radius: 24px;
    margin-bottom: 10px;
  }
  .theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-section-container--vGaQa .theme-styles-sections-eye-check-cities__button-group--nJl8L {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-bottom-row--HEgvc {
    flex-direction: column;
  }
  .theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-bottom-row--HEgvc .theme-styles-sections-eye-check-cities__city-item-title--Wg4X4 {
    border-radius: 8px;
    text-align: center;
    justify-content: center;
  }
  .theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-bottom-row--HEgvc .theme-styles-sections-eye-check-cities__cities-list--V0ABM {
    gap: 8px;
    flex-wrap: wrap;
  }
  .theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-bottom-row--HEgvc .theme-styles-sections-eye-check-cities__city-item--Sikha picture {
    width: 24px;
    height: 24px;
  }
  .theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-bottom-row--HEgvc .theme-styles-sections-eye-check-cities__city-item--Sikha picture img {
    width: 24px;
    height: 24px;
  }
  .theme-styles-sections-eye-check-cities__city-highlight-section--ep2JD .theme-styles-sections-eye-check-cities__city-highlight-bottom-row--HEgvc .theme-styles-sections-eye-check-cities__city-name--vPMDR {
    font-size: 10px;
  }
}


/*# sourceMappingURL=EyeCheckCitiesSectionChunk.css.map*/