/*!**********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/filter-category-tabs.less ***!
  \**********************************************************************************************************************************************************************/
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__header-row--yd1jE {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__header-row--yd1jE h2 {
  font-family: Verdana;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;
  color: #2e2b2c;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg .theme-styles-sections-filter-category-tabs__item--mvZ6V {
  text-align: center;
  cursor: pointer;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg .theme-styles-sections-filter-category-tabs__item--mvZ6V .theme-styles-sections-filter-category-tabs__imageWrapper--EL_pG {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg .theme-styles-sections-filter-category-tabs__item--mvZ6V .theme-styles-sections-filter-category-tabs__imageWrapper--EL_pG::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: rgba(161, 90, 149, 0.04);
  width: 100%;
  height: 100%;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg .theme-styles-sections-filter-category-tabs__item--mvZ6V .theme-styles-sections-filter-category-tabs__imageWrapper--EL_pG .theme-styles-sections-filter-category-tabs__hoverImage--yhXHX {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: opacity 0.6s ease;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg .theme-styles-sections-filter-category-tabs__item--mvZ6V .theme-styles-sections-filter-category-tabs__imageWrapper--EL_pG .theme-styles-sections-filter-category-tabs__mainImage--dfW_2 {
  transition: opacity 0.4s ease;
  z-index: 1;
  opacity: 1;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg .theme-styles-sections-filter-category-tabs__item--mvZ6V .theme-styles-sections-filter-category-tabs__imageWrapper--EL_pG .theme-styles-sections-filter-category-tabs__hoverImage--yhXHX {
  z-index: 2;
  opacity: 0;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg .theme-styles-sections-filter-category-tabs__item--mvZ6V .theme-styles-sections-filter-category-tabs__imageWrapper--EL_pG:hover .theme-styles-sections-filter-category-tabs__hoverImage--yhXHX {
  opacity: 1;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg .theme-styles-sections-filter-category-tabs__item--mvZ6V .theme-styles-sections-filter-category-tabs__imageWrapper--EL_pG:hover .theme-styles-sections-filter-category-tabs__mainImage--dfW_2 {
  opacity: 0;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg .theme-styles-sections-filter-category-tabs__item--mvZ6V img {
  width: 100%;
  max-width: 100%;
  border-radius: 50%;
}
.theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg .theme-styles-sections-filter-category-tabs__item--mvZ6V h4 {
  margin-top: 10px;
  font-family: Verdana;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  text-align: center;
  color: #2e2b2c;
}
@media (max-width: 768px) {
  .theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 {
    padding: 50px 20px;
  }
  .theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__header-row--yd1jE {
    flex-direction: column;
    gap: 16px;
  }
  .theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__header-row--yd1jE h2 {
    font-size: 18px;
  }
  .theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg {
    grid-template-columns: repeat(3, 1fr);
  }
  .theme-styles-sections-filter-category-tabs__filteredCategorySection--fgvB5 .theme-styles-sections-filter-category-tabs__item-grid--grDYg h4 {
    font-size: 12px !important;
  }
}


/*# sourceMappingURL=FilterCategoryTabsSectionChunk.css.map*/