/*!************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/find-store.less ***!
  \************************************************************************************************************************************************************/
.theme-styles-sections-find-store__findStoreSection--onp6b {
  background-size: cover;
  background-position: top center;
  color: #fff;
  position: relative;
  padding: 100px 20px;
  display: flex;
  align-items: center;
}
.theme-styles-sections-find-store__overlay--cEIPk {
  width: 100%;
}
.theme-styles-sections-find-store__homepageFindStore--DL6Z6 .theme-styles-sections-find-store__contentWrapper--MZVga h2 {
  max-width: 400px;
}
.theme-styles-sections-find-store__contentWrapper--MZVga {
  max-width: 1200px;
  margin: auto;
}
.theme-styles-sections-find-store__contentWrapper--MZVga h2 {
  color: #fff;
  font-size: 48px;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 20px;
}
.theme-styles-sections-find-store__contentWrapper--MZVga p {
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}
.theme-styles-sections-find-store__contentWrapper--MZVga .theme-styles-sections-find-store__inputGroup--o94ml {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  border: 2px solid #fff;
  width: fit-content;
}
.theme-styles-sections-find-store__contentWrapper--MZVga .theme-styles-sections-find-store__inputGroup--o94ml .theme-styles-sections-find-store__pincodeInput--6Wy5O {
  width: 200px;
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
  background: transparent;
}
.theme-styles-sections-find-store__contentWrapper--MZVga .theme-styles-sections-find-store__inputGroup--o94ml .theme-styles-sections-find-store__findButton--I5SKJ {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #9e007e;
  color: white;
  padding: 18px 30px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}
.theme-styles-sections-find-store__contentWrapper--MZVga .theme-styles-sections-find-store__inputGroup--o94ml .theme-styles-sections-find-store__findButton--I5SKJ img {
  width: 24px;
}
@media (max-width: 768px) {
  .theme-styles-sections-find-store__findStoreSection--onp6b {
    padding: 30px 20px;
    padding-top: 300px;
  }
  .theme-styles-sections-find-store__contentWrapper--MZVga h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .theme-styles-sections-find-store__contentWrapper--MZVga p {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .theme-styles-sections-find-store__contentWrapper--MZVga .theme-styles-sections-find-store__inputGroup--o94ml .theme-styles-sections-find-store__pincodeInput--6Wy5O {
    width: 60%;
  }
  .theme-styles-sections-find-store__contentWrapper--MZVga .theme-styles-sections-find-store__inputGroup--o94ml .theme-styles-sections-find-store__findButton--I5SKJ {
    padding: 8px 16px;
    font-size: 14px;
    white-space: nowrap;
  }
}


/*# sourceMappingURL=FindStoreSectionChunk.css.map*/