/*!**************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/components/page-not-found/page-not-found.less ***!
  \**************************************************************************************************************************************************************************/
/**color by character**/
/** Font family **/
/** Font weight **/
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 .theme-components-page-not-found-page-not-found__n2oQ6--tBWaD {
  padding: 0px !important;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 .theme-components-page-not-found-page-not-found__uiz1K--f4HKc {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 .theme-components-page-not-found-page-not-found__P1CJx--aICGf {
  border: none !important;
  flex: 1;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 .theme-components-page-not-found-page-not-found__P1CJx--aICGf img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 .theme-components-page-not-found-page-not-found__kkBOU--gCpcP {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="auth-container-auth-container__loginWrapper"] {
  padding: 0px !important;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="login__loginWrapper"] {
  display: flex;
  align-items: center;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="auth-container__loginBannerWrapper"] {
  border: none !important;
  flex: 1;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="auth-container__loginBannerWrapper"] img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="auth-container__loginCard"] {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="auth-container__loginContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="login__loginTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="login__loginSubText"] {
  color: rgba(46, 43, 44, 0.5) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  letter-spacing: -0.5px !important;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="login-otp__loginOtpWrapper"] {
  margin-top: 20px !important;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="term-privacy__byContinuingText"] {
  color: #2e2b2c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="term-privacy__byContinuingText"] a {
  font-weight: 700 !important;
  color: #2e2b2c !important;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="mobile-number__inputTitle"] {
  display: none;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 .theme-components-page-not-found-page-not-found__react-international-phone-country-selector-button--ROUrl {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px!important;
  margin-right: 8px !important;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="react-international-phone-dial-code-preview mobile-number__dialCodePreview"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-right: none !important;
  border-radius: 12px 0 0 12px !important;
  border-inline: 1px solid rgba(0, 0, 0, 0.08) !important;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 .theme-components-page-not-found-page-not-found__react-international-phone-input--WqhWY {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0 12px 12px 0 !important;
  border-left: none !important;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="login-mode-button__loginModeBtn"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="login-mode-button__loginModeBtn"] svg path {
  fill: #9e007e;
}
.theme-components-page-not-found-page-not-found__login-auth-container--qa7J2 [class*="login-mode-button__loginModeLabel"] {
  width: auto !important;
  text-transform: capitalize !important;
  margin-inline-end: 0px !important;
}
.theme-components-page-not-found-page-not-found__forget-password-container--V5mJE [class*="forget-password__forgetPasswordWrapper"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 40px;
  max-width: 500px;
}
.theme-components-page-not-found-page-not-found__forget-password-container--V5mJE [class*="forgotPasswordTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-components-page-not-found-page-not-found__forget-password-container--V5mJE form {
  position: relative;
}
.theme-components-page-not-found-page-not-found__forget-password-container--V5mJE form label {
  left: 5px;
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-page-not-found-page-not-found__forget-password-container--V5mJE form input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px !important;
}
.theme-components-page-not-found-page-not-found__forget-password-container--V5mJE form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-page-not-found-page-not-found__forget-password-container--V5mJE form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-components-page-not-found-page-not-found__forget-password-container--V5mJE [class*="login-register-toggle__loginRegisterToggle"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-components-page-not-found-page-not-found__forget-password-container--V5mJE [class*="login-register-toggle__loginRegisterToggle"] span {
  width: auto;
}
.theme-components-page-not-found-page-not-found__forget-password-container--V5mJE [class*="login-register-toggle__loginRegisterToggle"] svg path {
  fill: #9e007e;
}
@media (max-width: 768px) {
  .theme-components-page-not-found-page-not-found__forget-password-container--V5mJE [class*="forget-password__forgetPasswordWrapper"] {
    padding: 20px;
    margin: 0 20px;
  }
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 {
  margin-bottom: 50px;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__mainView"] {
  flex-direction: row-reverse;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__profilePageContainer"] {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__profileContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="fy-input__required"] {
  color: #9e007e;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-details__radioContent"] {
  padding: 10px 0;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 form [class*="profile-details__formLabel"] {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 form label {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 form input {
  padding: 10px 0px;
  font-size: 14px;
  color: #1a1a1a !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 form [class*="profile-address-page__commonBtn"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 form .theme-components-page-not-found-page-not-found__ojp_C--ai2co {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 form button[type="submit"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #fff !important;
  background-color: #9e007e !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__navContainer"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 16px !important;
  padding: 20px !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="empty-state__heading"] {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 .theme-components-page-not-found-page-not-found__O32OW--TmXAc {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__nav_"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 12px !important;
  padding: 15px 20px !important;
  margin-bottom: 10px;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__nav_"] span {
  color: #2e2b2c;
  font-size: 14px;
  font-weight: 400;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__nav_"] svg path {
  fill: #9e007e !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__navContainer"] ul > *:nth-child(1),
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__navContainer"] ul > *:nth-child(4) {
  display: none !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__selected"] {
  border: 1px solid #9e007e !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__selected"] svg path {
  fill: #9e007e !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__signOut"] {
  color: #9e007e !important;
}
.theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__accountHeader"] {
  margin-bottom: 10px;
  color: #1a1a1a !important;
}
@media (max-width: 768px) {
  .theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 {
    margin-top: 50px;
  }
  .theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="profile-navigation__profileContent"] {
    padding: 15px;
  }
  .theme-components-page-not-found-page-not-found__profile-navigation-container--m5Ym5 [class*="address-form__formContainer"] {
    flex-direction: column;
  }
}
.theme-components-page-not-found-page-not-found__collection-hero-banner--ueUhC {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.theme-components-page-not-found-page-not-found__collection-banner-img--qOA2c {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.theme-components-page-not-found-page-not-found__collection-hero-banner--ueUhC::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.theme-components-page-not-found-page-not-found__collection-unofficial--Gjk1H .theme-components-page-not-found-page-not-found__collection-hero-banner--ueUhC::after,
.theme-components-page-not-found-page-not-found__collection-dbyd--IFw2A .theme-components-page-not-found-page-not-found__collection-hero-banner--ueUhC::after {
  display: none;
}
.theme-components-page-not-found-page-not-found__collection-banner-img-mobile--G1KBB {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.theme-components-page-not-found-page-not-found__collection-banner-content--TYhTN {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 1300px;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 20px 40px;
  width: 100%;
  z-index: 3;
}
.theme-components-page-not-found-page-not-found__collection-unofficial--Gjk1H .theme-components-page-not-found-page-not-found__collection-banner-content--TYhTN,
.theme-components-page-not-found-page-not-found__collection-dbyd--IFw2A .theme-components-page-not-found-page-not-found__collection-banner-content--TYhTN {
  display: none;
}
.theme-components-page-not-found-page-not-found__collection-banner-content--TYhTN h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.theme-components-page-not-found-page-not-found__collection-banner-content--TYhTN p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
@media (max-width: 768px) {
  .theme-components-page-not-found-page-not-found__collection-banner-content--TYhTN {
    top: auto;
    bottom: 0px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
    padding: 40px 20px;
  }
  .theme-components-page-not-found-page-not-found__collection-banner-img--qOA2c {
    display: none;
  }
  .theme-components-page-not-found-page-not-found__collection-banner-img-mobile--G1KBB {
    display: block;
  }
  .theme-components-page-not-found-page-not-found__collection-banner-content--TYhTN h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .theme-components-page-not-found-page-not-found__collection-banner-content--TYhTN p {
    font-size: 14px;
  }
}
.theme-components-page-not-found-page-not-found__custom-banner-card--snqHV {
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  align-items: center;
}
.theme-components-page-not-found-page-not-found__custom-banner-card--snqHV .theme-components-page-not-found-page-not-found__banner-overlay--UdXyl {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
}
.theme-components-page-not-found-page-not-found__custom-banner-card--snqHV .theme-components-page-not-found-page-not-found__banner-content--PuQCH {
  color: #fff;
  max-width: 50%;
}
.theme-components-page-not-found-page-not-found__custom-banner-card--snqHV h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 150%;
  color: #000000;
}
.theme-components-page-not-found-page-not-found__custom-banner-card--snqHV p {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  margin-bottom: 16px;
}
.theme-components-page-not-found-page-not-found__custom-banner-card--snqHV .theme-components-page-not-found-page-not-found__banner-btn--sVq2k {
  padding: 10px 24px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #9e007e;
  color: #9e007e;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}
.theme-components-page-not-found-page-not-found__custom-banner-card--snqHV .theme-components-page-not-found-page-not-found__banner-btn--sVq2k:hover {
  background: #9e007e;
  color: #fff;
}
@media (max-width: 768px) {
  .theme-components-page-not-found-page-not-found__custom-banner-card--snqHV {
    min-height: 170px;
  }
  .theme-components-page-not-found-page-not-found__custom-banner-card--snqHV .theme-components-page-not-found-page-not-found__banner-overlay--UdXyl {
    padding: 20px 10px;
  }
  .theme-components-page-not-found-page-not-found__custom-banner-card--snqHV h2 {
    font-size: 14px;
  }
  .theme-components-page-not-found-page-not-found__custom-banner-card--snqHV p {
    font-size: 10px;
  }
  .theme-components-page-not-found-page-not-found__custom-banner-card--snqHV .theme-components-page-not-found-page-not-found__banner-btn--sVq2k {
    font-size: 10px;
    padding: 7px 17px;
  }
  .theme-components-page-not-found-page-not-found__custom-banner-card--snqHV .theme-components-page-not-found-page-not-found__banner-content--PuQCH {
    max-width: 60%;
  }
}
html body {
  font-family: Verdana !important;
}
html body * {
  font-family: Verdana !important;
}
.theme-components-page-not-found-page-not-found__flexColumn--KMyRs {
  display: flex;
  flex-direction: column;
}
.theme-components-page-not-found-page-not-found__flexAlignCenter--Flp86 {
  display: flex;
  align-items: center;
}
.theme-components-page-not-found-page-not-found__flexCenter--cenFb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-components-page-not-found-page-not-found__justifyStart--j02sP {
  justify-content: flex-start;
}
.theme-components-page-not-found-page-not-found__justifyBetween--jXNvD {
  justify-content: space-between;
}
.theme-components-page-not-found-page-not-found__slick-dots--lC3V8 li.theme-components-page-not-found-page-not-found__slick-active--vS75N button {
  background-color: #A15A95;
  width: 60px;
  height: 10px;
}
.theme-components-page-not-found-page-not-found__slick-dots--lC3V8 li:not(.theme-components-page-not-found-page-not-found__slick-active--vS75N) button {
  filter: blur(2px);
  border-radius: 100%;
  background-color: #A15A9580;
  width: 10px;
  height: 10px;
}
.theme-components-page-not-found-page-not-found__slick-dots--lC3V8 {
  transform: translate(-50%, 100%) !important;
}
.theme-components-page-not-found-page-not-found__legal-data-container--ONqwW {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  max-width: 1300px;
  margin: auto;
  padding: 50px;
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-components-page-not-found-page-not-found__legal-data-container--ONqwW h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 0;
  margin-bottom: 50px;
  color: #9e007e;
}
.theme-components-page-not-found-page-not-found__legal-data-container--ONqwW h2 {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin: 30px 0;
  text-transform: uppercase;
}
.theme-components-page-not-found-page-not-found__legal-data-container--ONqwW p,
.theme-components-page-not-found-page-not-found__legal-data-container--ONqwW a,
.theme-components-page-not-found-page-not-found__legal-data-container--ONqwW li {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-components-page-not-found-page-not-found__legal-data-container--ONqwW p,
.theme-components-page-not-found-page-not-found__legal-data-container--ONqwW li {
  margin-bottom: 12px;
}
.theme-components-page-not-found-page-not-found__legal-data-container--ONqwW a {
  text-decoration: underline;
}
.theme-components-page-not-found-page-not-found__legal-data-container--ONqwW ol,
.theme-components-page-not-found-page-not-found__legal-data-container--ONqwW ul {
  padding-left: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .theme-components-page-not-found-page-not-found__legal-data-container--ONqwW {
    padding: 30px 0px;
    border: none;
    font-size: 12px;
  }
  .theme-components-page-not-found-page-not-found__legal-data-container--ONqwW h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .theme-components-page-not-found-page-not-found__legal-data-container--ONqwW p,
  .theme-components-page-not-found-page-not-found__legal-data-container--ONqwW h2,
  .theme-components-page-not-found-page-not-found__legal-data-container--ONqwW li {
    font-size: 12px;
  }
}
.theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}
@media only screen and (max-width: 480px) {
  .theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL {
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 40px 0;
  }
}
.theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS {
  text-align: center;
}
.theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS .theme-components-page-not-found-page-not-found__errorImgMobile--ywfeY {
  display: none;
  max-width: 100%;
}
@media only screen and (max-width: 480px) {
  .theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS .theme-components-page-not-found-page-not-found__errorImgMobile--ywfeY {
    display: block;
  }
}
.theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS h1 {
  font-size: 38px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0px;
  line-height: 120%;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS h1 {
    font-size: 28px;
  }
}
.theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS .theme-components-page-not-found-page-not-found__errorImgDesktop--t4mWn {
  max-width: 100%;
}
@media only screen and (max-width: 480px) {
  .theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS .theme-components-page-not-found-page-not-found__errorImgDesktop--t4mWn {
    display: none;
  }
}
.theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS h2 {
  font-size: 32px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0px;
  line-height: 120%;
  margin-bottom: 16px;
}
@media only screen and (max-width: 480px) {
  .theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS h2 {
    font-size: 20px;
  }
}
.theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0px;
  line-height: 120%;
  margin-bottom: 24px;
}
@media only screen and (max-width: 480px) {
  .theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS p {
    font-size: 14px;
  }
}
.theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS button {
  padding: 15px 50px;
  background-color: #9e007e;
  color: #fff;
  border-radius: 500px !important;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
}
@media only screen and (max-width: 768px) {
  .theme-components-page-not-found-page-not-found__notFoundContainer--MjnXL .theme-components-page-not-found-page-not-found__container--L3iSS button {
    font-size: 14px;
    padding: 20px 45px;
  }
}

/*!****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/@gofynd/theme-template/dist/components/core/fy-button/fy-button.css ***!
  \****************************************************************************************************************************************************************/
/**color by character**/
/** Font family **/
/** Font weight **/
.fy-button__display-block___vef36 {
  display: block;
}
.fy-button__inline-block___AP9JK,
.fy-button__inlineBlock___xYCrv {
  display: inline-block;
}
.fy-button__flex-row___PMsJD {
  display: flex;
}
.fy-button__flex-column___vcBv1,
.fy-button__flexColumn___ReqFL {
  display: flex;
  flex-direction: column;
}
.fy-button__flex-align-center___QErLo,
.fy-button__flexAlignCenter___byvov {
  display: flex;
  align-items: center;
}
.fy-button__flex-justify-center___myq9D,
.fy-button__flexJustifyCenter___mJQrA {
  display: flex;
  justify-content: center;
}
.fy-button__flex-center____Om97,
.fy-button__flexCenter___PHlCU {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fy-button__justify-start___vgs9K,
.fy-button__justifyStart___NggTJ {
  justify-content: flex-start;
}
.fy-button__justify-end___evwo6,
.fy-button__justifyEnd___fDa0b {
  justify-content: flex-end;
}
.fy-button__justify-between___gbKe9,
.fy-button__justifyBetween___XdXo5 {
  justify-content: space-between;
}
.fy-button__justify-around___O7fq3,
.fy-button__justifyAround___NdK7j {
  justify-content: space-around;
}
.fy-button__justify-evenly___Fukno,
.fy-button__justifyEvenly____8lbT {
  justify-content: space-evenly;
}
h1,
.fy-button__h1___ljmcG {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.03em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h1,
  .fy-button__h1___ljmcG {
    font-size: 36px;
    line-height: 48px;
  }
}
h2,
.fy-button__h2___dtda8 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h2,
  .fy-button__h2___dtda8 {
    font-size: 32px;
    line-height: 42px;
  }
}
h3,
.fy-button__h3___HHfmk {
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
  font-size: 24px;
  line-height: 32px;
}
@media only screen and (min-width: 769px) {
  h3,
  .fy-button__h3___HHfmk {
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--textHeading, #26201a);
    font-size: 28px;
    line-height: 36px;
  }
}
h4,
.fy-button__h4___SvINy {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
  font-size: 16px;
  line-height: 1.5;
}
@media only screen and (min-width: 769px) {
  h4,
  .fy-button__h4___SvINy {
    font-weight: 600;
    letter-spacing: -0.02em;
    color: var(--textHeading, #26201a);
    font-size: 20px;
    line-height: 1.5;
  }
}
h5,
.fy-button__h5___LNYpO {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h5,
  .fy-button__h5___LNYpO {
    font-size: 16px;
    line-height: 18px;
  }
}
.fy-button__b1___cBoS2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
}
@media only screen and (min-width: 769px) {
  .fy-button__b1___cBoS2 {
    font-size: 16px;
    line-height: 20px;
  }
}
.fy-button__b-small___s1m8o,
.fy-button__bSmall___fny2f,
.fy-button__b2___gOnJ1 {
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 769px) {
  .fy-button__b-small___s1m8o,
  .fy-button__bSmall___fny2f,
  .fy-button__b2___gOnJ1 {
    font-weight: 400;
    letter-spacing: -0.02em;
    color: var(--textBody, #3c3131);
    font-size: 14px;
    line-height: 18px;
  }
}
.fy-button__d1___jr5H6 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 769px) {
  .fy-button__d1___jr5H6 {
    font-size: 64px;
    line-height: 85px;
    letter-spacing: -0.03em;
  }
}
.fy-button__caption-medium___PSB4T,
.fy-button__captionMedium___iW0z_ {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .fy-button__caption-medium___PSB4T,
  .fy-button__captionMedium___iW0z_ {
    font-size: 11px;
  }
}
.fy-button__caption-semi-bold___FFG2N,
.fy-button__captionSemiBold___czTMx {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .fy-button__caption-semi-bold___FFG2N,
  .fy-button__captionSemiBold___czTMx {
    font-size: 11px;
  }
}
.fy-button__btn-link___bKkQ1,
.fy-button__btnLink___jOAiL {
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 12px;
  line-height: 14px;
  border-radius: var(--buttonRadius, 0px);
  cursor: pointer;
  color: var(--buttonLink, #b1655b);
  text-decoration: underline;
  background: none;
  border: none;
}
@media only screen and (min-width: 769px) {
  .fy-button__btn-link___bKkQ1,
  .fy-button__btnLink___jOAiL {
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 14px;
    line-height: 16px;
  }
}
.fy-button__btn-link___bKkQ1:hover,
.fy-button__btnLink___jOAiL:hover {
  color: var(--buttonLinkL1, #c1847c);
}
.fy-button__btn-link___bKkQ1:disabled,
.fy-button__btnLink___jOAiL:disabled {
  color: var(--buttonLinkL2, #d0a39d);
}
.fy-button__btn-link___bKkQ1:active,
.fy-button__btnLink___jOAiL:active {
  opacity: 0.8;
}
.fy-button__user-select-none___CegHT,
.fy-button__userSelectNone___DdRnr {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.fy-button__margin-0-auto___f2LiK,
.fy-button__margin0auto___LCb81 {
  margin: 0 auto;
}
.fy-button__base-page-container___blkPJ,
.fy-button__basePageContainer___ciPsX {
  max-width: 1440px !important;
}
.fy-button__remove-scroll___Kd5MZ,
.fy-button__removeScroll___UpL4U {
  overflow-y: hidden !important;
}
.fy-button__mr-5___A5qJJ,
.fy-button__mr5___BRUgW {
  margin-inline-end: 30px !important;
}
.fy-button__mr-2___Qtkhv,
.fy-button__mr2___ajbyt {
  margin-inline-end: 5px !important;
}
.fy-button__py-5___y7k5w,
.fy-button__py5___Zi5JN {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important;
}
.fy-button__view-all-text___U6bgs,
.fy-button__viewAllText___CpXoj {
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  text-decoration: underline;
}
.fy-button__view-all-mobile___T8nf5,
.fy-button__viewAllMobile___yLYMO {
  display: none;
}
@media only screen and (max-width: 768px) {
  .fy-button__view-all-mobile___T8nf5,
  .fy-button__viewAllMobile___yLYMO {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .fy-button__view-all-mobile___T8nf5,
  .fy-button__viewAllMobile___yLYMO {
    margin-top: 24px;
  }
}
.fy-button__accent-btn___xbDFn,
.fy-button__accentBtn___opgXg {
  background-color: var(--accentColor);
  color: #fff;
}
.fy-button__no-scroll___oFpSx,
.fy-button__noScroll___ghKBa {
  overflow-y: hidden;
}
.fy-button__hide-overflow___wDMEA,
.fy-button__hideOverflow___F8mRq {
  overflow: hidden;
}
.fy-button__markdown-body___uimil h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 480px) {
  .fy-button__markdown-body___uimil {
    font-size: 12px !important;
    padding: 5px !important;
  }
}
.fy-button__view3d-canvas___E1pOb {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 480px) {
  .fy-button__view-mobile-up___sto08 {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) {
  .fy-button__view-mobile___yMsQF {
    display: none !important;
  }
}
.fy-button__button___UES8C {
  font-family: inherit;
  border: none;
  border-radius: var(--buttonRadius, 0px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6px;
  transition: background-color 0.3s ease;
}
.fy-button__button___UES8C span {
  display: inline-flex;
}
.fy-button__button___UES8C:focus-visible {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.fy-button__button___UES8C:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
.fy-button__button___UES8C .fy-button__loaderContainer___BYHJs {
  position: unset;
  background: transparent;
  height: auto;
  z-index: 0;
}
.fy-button__button___UES8C .fy-button__loader___eJW6i {
  height: 14px;
  width: unset;
  aspect-ratio: 1;
  border: 2px solid var(--buttonPrimaryL3, #b8b29d);
  border-top: 2px solid var(--buttonPrimary, #4e3f09);
  padding: 0;
  margin-left: 0;
}
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__contained___F5O7g.fy-button__primary___xKz1S {
  border-top-color: #ffffff;
}
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__text___HwP6V.fy-button__secondary___z_hBB,
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__outlined___WccQN.fy-button__secondary___z_hBB {
  border: 2px solid var(--buttonPrimaryL3, #b8b29d);
  border-top: 2px solid var(--buttonPrimary, #4e3f09);
}
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__text___HwP6V.fy-button__error___guhqH,
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__outlined___WccQN.fy-button__error___guhqH {
  border: 2px solid var(--errorBackground, #e6d5d5);
  border-top: 2px solid var(--errorText, #b24141);
}
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__text___HwP6V.fy-button__success___M7fJl,
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__outlined___WccQN.fy-button__success___M7fJl {
  border: 2px solid var(--successBackground, #c2dbc9);
  border-top: 2px solid var(--successText, #1c958f);
}
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__error___guhqH {
  border: 2px solid #ffffff;
  border-top: 2px solid var(--errorText, #b24141);
}
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__success___M7fJl {
  border: 2px solid #ffffff;
  border-top: 2px solid var(--successText, #1c958f);
}
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__secondary___z_hBB {
  border: 2px solid #ffffff;
  border-top: 2px solid var(--buttonPrimary, #4e3f09);
}
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__medium___uyLw8 {
  height: 30px;
  border-width: 4px;
}
.fy-button__button___UES8C .fy-button__loader___eJW6i.fy-button__large___nv2sC {
  height: 40px;
  border-width: 4px;
}
.fy-button__fullWidth___FLrWt {
  width: 100%;
}
.fy-button__text___HwP6V {
  background-color: transparent;
  color: var(--buttonPrimary, #4e3f09);
}
.fy-button__text___HwP6V.fy-button__secondary___z_hBB {
  color: var(--buttonPrimary, #4e3f09);
}
.fy-button__text___HwP6V.fy-button__error___guhqH {
  color: var(--errorText, #b24141);
}
.fy-button__text___HwP6V.fy-button__success___M7fJl {
  color: var(--successText, #1c958f);
}
.fy-button__contained___F5O7g {
  background-color: var(--buttonPrimary, #4e3f09);
  color: #ffffff;
}
.fy-button__contained___F5O7g.fy-button__primary___xKz1S:hover {
  background-color: var(--buttonPrimaryL1, #71653a);
  color: #ffffff;
}
.fy-button__contained___F5O7g.fy-button__secondary___z_hBB {
  background-color: var(--buttonSecondary, #fff);
  color: var(--buttonPrimary, #4e3f09);
}
.fy-button__contained___F5O7g.fy-button__secondary___z_hBB:hover {
  background-color: var(--buttonPrimaryL1, #71653a);
  color: #ffffff;
}
.fy-button__contained___F5O7g.fy-button__error___guhqH {
  background-color: var(--errorBackground, #e6d5d5);
  color: var(--errorText, #b24141);
}
.fy-button__contained___F5O7g.fy-button__success___M7fJl {
  background-color: var(--successBackground, #c2dbc9);
  color: var(--successText, #1c958f);
}
.fy-button__outlined___WccQN {
  background-color: transparent;
  border: 1px solid var(--buttonPrimary, #4e3f09);
  color: var(--buttonPrimary, #4e3f09);
}
.fy-button__outlined___WccQN.fy-button__primary___xKz1S:hover {
  background-color: var(--buttonPrimary, #4e3f09);
  color: var(--buttonSecondary, #fff);
}
.fy-button__outlined___WccQN.fy-button__primary___xKz1S:hover svg path {
  fill: var(--buttonSecondary, #fff);
}
.fy-button__outlined___WccQN.fy-button__secondary___z_hBB {
  border: 1px solid var(--buttonSecondary, #fff);
  color: var(--buttonPrimary, #4e3f09);
}
.fy-button__outlined___WccQN.fy-button__secondary___z_hBB:hover {
  background-color: var(--buttonPrimary, #4e3f09);
  color: #ffffff;
}
.fy-button__outlined___WccQN.fy-button__error___guhqH {
  border: 1px solid var(--errorBackground, #e6d5d5);
  color: var(--errorText, #b24141);
}
.fy-button__outlined___WccQN.fy-button__success___M7fJl {
  border: 1px solid var(--successBackground, #c2dbc9);
  color: var(--successText, #1c958f);
}
.fy-button__info___zO7uV {
  background-color: var(--informationBackground, #ebd3bc);
  color: var(--informationText, #d28f51);
  cursor: unset;
}
.fy-button__small___MktU8 {
  padding: 5px 10px;
  font-size: 12px;
}
.fy-button__medium___uyLw8 {
  height: 48px;
  padding: 12px 28px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
}
.fy-button__large___nv2sC {
  padding: 15px 20px;
  font-size: 16px;
}

/**color by character**/
/** Font family **/
/** Font weight **/
.loader__display-block___C28Wh {
  display: block;
}
.loader__inline-block___qe6ST,
.loader__inlineBlock___RbcTU {
  display: inline-block;
}
.loader__flex-row___jtutA {
  display: flex;
}
.loader__flex-column___Xo1gh,
.loader__flexColumn___BZ1uV {
  display: flex;
  flex-direction: column;
}
.loader__flex-align-center___QKakD,
.loader__flexAlignCenter____hCbC {
  display: flex;
  align-items: center;
}
.loader__flex-justify-center___iXbnu,
.loader__flexJustifyCenter___x_1Sc {
  display: flex;
  justify-content: center;
}
.loader__flex-center___cERbN,
.loader__flexCenter___FRjsH {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__justify-start___PXa_q,
.loader__justifyStart___RIbpq {
  justify-content: flex-start;
}
.loader__justify-end___N_MxT,
.loader__justifyEnd___c9Puj {
  justify-content: flex-end;
}
.loader__justify-between___ryNlc,
.loader__justifyBetween___bNm10 {
  justify-content: space-between;
}
.loader__justify-around___kWvQU,
.loader__justifyAround___TO6v6 {
  justify-content: space-around;
}
.loader__justify-evenly___r6oLK,
.loader__justifyEvenly___NI1zZ {
  justify-content: space-evenly;
}
h1,
.loader__h1___N9UmV {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.03em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h1,
  .loader__h1___N9UmV {
    font-size: 36px;
    line-height: 48px;
  }
}
h2,
.loader__h2___tLPka {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h2,
  .loader__h2___tLPka {
    font-size: 32px;
    line-height: 42px;
  }
}
h3,
.loader__h3___lpAs2 {
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
  font-size: 24px;
  line-height: 32px;
}
@media only screen and (min-width: 769px) {
  h3,
  .loader__h3___lpAs2 {
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--textHeading, #26201a);
    font-size: 28px;
    line-height: 36px;
  }
}
h4,
.loader__h4___I9T7x {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
  font-size: 16px;
  line-height: 1.5;
}
@media only screen and (min-width: 769px) {
  h4,
  .loader__h4___I9T7x {
    font-weight: 600;
    letter-spacing: -0.02em;
    color: var(--textHeading, #26201a);
    font-size: 20px;
    line-height: 1.5;
  }
}
h5,
.loader__h5___U0S2a {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--textHeading, #26201a);
}
@media only screen and (min-width: 769px) {
  h5,
  .loader__h5___U0S2a {
    font-size: 16px;
    line-height: 18px;
  }
}
.loader__b1___ava08 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
}
@media only screen and (min-width: 769px) {
  .loader__b1___ava08 {
    font-size: 16px;
    line-height: 20px;
  }
}
.loader__b-small___MxINE,
.loader__bSmall___vHKDM,
.loader__b2___yNXNt {
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--textBody, #3c3131);
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 769px) {
  .loader__b-small___MxINE,
  .loader__bSmall___vHKDM,
  .loader__b2___yNXNt {
    font-weight: 400;
    letter-spacing: -0.02em;
    color: var(--textBody, #3c3131);
    font-size: 14px;
    line-height: 18px;
  }
}
.loader__d1___zLD7l {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 769px) {
  .loader__d1___zLD7l {
    font-size: 64px;
    line-height: 85px;
    letter-spacing: -0.03em;
  }
}
.loader__caption-medium___Urevx,
.loader__captionMedium___AiB4A {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .loader__caption-medium___Urevx,
  .loader__captionMedium___AiB4A {
    font-size: 11px;
  }
}
.loader__caption-semi-bold___F9hrq,
.loader__captionSemiBold___GwZZD {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .loader__caption-semi-bold___F9hrq,
  .loader__captionSemiBold___GwZZD {
    font-size: 11px;
  }
}
.loader__btn-link___z7cQQ,
.loader__btnLink___hjxLE {
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 12px;
  line-height: 14px;
  border-radius: var(--buttonRadius, 0px);
  cursor: pointer;
  color: var(--buttonLink, #b1655b);
  text-decoration: underline;
  background: none;
  border: none;
}
@media only screen and (min-width: 769px) {
  .loader__btn-link___z7cQQ,
  .loader__btnLink___hjxLE {
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 14px;
    line-height: 16px;
  }
}
.loader__btn-link___z7cQQ:hover,
.loader__btnLink___hjxLE:hover {
  color: var(--buttonLinkL1, #c1847c);
}
.loader__btn-link___z7cQQ:disabled,
.loader__btnLink___hjxLE:disabled {
  color: var(--buttonLinkL2, #d0a39d);
}
.loader__btn-link___z7cQQ:active,
.loader__btnLink___hjxLE:active {
  opacity: 0.8;
}
.loader__user-select-none___M5hoJ,
.loader__userSelectNone___iA0b1 {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.loader__margin-0-auto___T2r2j,
.loader__margin0auto___ZVL7u {
  margin: 0 auto;
}
.loader__base-page-container____Zsxk,
.loader__basePageContainer___DLiFl {
  max-width: 1440px !important;
}
.loader__remove-scroll___hWs9Y,
.loader__removeScroll___HDDzE {
  overflow-y: hidden !important;
}
.loader__mr-5___eLBs7,
.loader__mr5___zJD9I {
  margin-inline-end: 30px !important;
}
.loader__mr-2___tbwub,
.loader__mr2___X89Qh {
  margin-inline-end: 5px !important;
}
.loader__py-5___pdJLF,
.loader__py5___AvRNG {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important;
}
.loader__view-all-text___liiUk,
.loader__viewAllText___Y96u7 {
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  text-decoration: underline;
}
.loader__view-all-mobile___ZXDhV,
.loader__viewAllMobile___h_w0I {
  display: none;
}
@media only screen and (max-width: 768px) {
  .loader__view-all-mobile___ZXDhV,
  .loader__viewAllMobile___h_w0I {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .loader__view-all-mobile___ZXDhV,
  .loader__viewAllMobile___h_w0I {
    margin-top: 24px;
  }
}
.loader__accent-btn___P6FBY,
.loader__accentBtn___VC5di {
  background-color: var(--accentColor);
  color: #fff;
}
.loader__no-scroll___vVb6b,
.loader__noScroll___ddkr9 {
  overflow-y: hidden;
}
.loader__hide-overflow___sIszC,
.loader__hideOverflow___qX4zB {
  overflow: hidden;
}
.loader__markdown-body___ZDTE_ h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 480px) {
  .loader__markdown-body___ZDTE_ {
    font-size: 12px !important;
    padding: 5px !important;
  }
}
.loader__view3d-canvas___Y51aL {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 480px) {
  .loader__view-mobile-up___tbZ1n {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) {
  .loader__view-mobile___zSuiC {
    display: none !important;
  }
}
.loader__loading___r6ySa {
  position: fixed;
  z-index: 2000;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  inset-inline-start: 0;
  bottom: 0;
  inset-inline-end: 0;
}
/* Transparent Overlay */
.loader__loading___r6ySa:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
  background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
}
/* :not(:required) hides these rules from IE9 and below */
.loader__loading___r6ySa:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.loader__loading___r6ySa:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: loader__spinner___zNEkS 150ms infinite linear;
  -moz-animation: loader__spinner___zNEkS 150ms infinite linear;
  -ms-animation: loader__spinner___zNEkS 150ms infinite linear;
  -o-animation: loader__spinner___zNEkS 150ms infinite linear;
  animation: loader__spinner___zNEkS 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}
/* Animation */
@-webkit-keyframes loader__spinner___zNEkS {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loader__spinner___zNEkS {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loader__spinner___zNEkS {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader__spinner___zNEkS {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader__page-loader-container___jJHee {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 222;
}
.loader__loader___ytdT3 {
  border: 8px solid var(--themeAccentL4, #f9f6f0);
  border-top: 8px solid var(--themeAccentD3, #5c584e);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: loader__spin___omoke 2s linear infinite;
  margin-inline-start: 10%;
}
@keyframes loader__spin___omoke {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader__page-loader-container___jJHee p {
  margin-inline-start: 10px;
  font-weight: bold;
  color: #333;
  /* Dark grey */
}



/*# sourceMappingURL=getNotFound.css.map*/