/*!************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/hero-video.less ***!
  \************************************************************************************************************************************************************/
/**color by character**/
/** Font family **/
/** Font weight **/
.theme-styles-sections-hero-video__login-auth-container--rVb3y .theme-styles-sections-hero-video__n2oQ6--pkpak {
  padding: 0px !important;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y .theme-styles-sections-hero-video__uiz1K--Tf_Vq {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y .theme-styles-sections-hero-video__P1CJx--wOn1c {
  border: none !important;
  flex: 1;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y .theme-styles-sections-hero-video__P1CJx--wOn1c img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y .theme-styles-sections-hero-video__kkBOU--K_NEP {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="auth-container-auth-container__loginWrapper"] {
  padding: 0px !important;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="login__loginWrapper"] {
  display: flex;
  align-items: center;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="auth-container__loginBannerWrapper"] {
  border: none !important;
  flex: 1;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="auth-container__loginBannerWrapper"] img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="auth-container__loginCard"] {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="auth-container__loginContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="login__loginTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="login__loginSubText"] {
  color: rgba(46, 43, 44, 0.5) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  letter-spacing: -0.5px !important;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="login-otp__loginOtpWrapper"] {
  margin-top: 20px !important;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="term-privacy__byContinuingText"] {
  color: #2e2b2c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="term-privacy__byContinuingText"] a {
  font-weight: 700 !important;
  color: #2e2b2c !important;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="mobile-number__inputTitle"] {
  display: none;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y .theme-styles-sections-hero-video__react-international-phone-country-selector-button--cDGGW {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px!important;
  margin-right: 8px !important;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="react-international-phone-dial-code-preview mobile-number__dialCodePreview"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-right: none !important;
  border-radius: 12px 0 0 12px !important;
  border-inline: 1px solid rgba(0, 0, 0, 0.08) !important;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y .theme-styles-sections-hero-video__react-international-phone-input--aOnDg {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0 12px 12px 0 !important;
  border-left: none !important;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="login-mode-button__loginModeBtn"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="login-mode-button__loginModeBtn"] svg path {
  fill: #9e007e;
}
.theme-styles-sections-hero-video__login-auth-container--rVb3y [class*="login-mode-button__loginModeLabel"] {
  width: auto !important;
  text-transform: capitalize !important;
  margin-inline-end: 0px !important;
}
.theme-styles-sections-hero-video__forget-password-container--r1_yV [class*="forget-password__forgetPasswordWrapper"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 40px;
  max-width: 500px;
}
.theme-styles-sections-hero-video__forget-password-container--r1_yV [class*="forgotPasswordTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-styles-sections-hero-video__forget-password-container--r1_yV form {
  position: relative;
}
.theme-styles-sections-hero-video__forget-password-container--r1_yV form label {
  left: 5px;
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-hero-video__forget-password-container--r1_yV form input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px !important;
}
.theme-styles-sections-hero-video__forget-password-container--r1_yV form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-hero-video__forget-password-container--r1_yV form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-styles-sections-hero-video__forget-password-container--r1_yV [class*="login-register-toggle__loginRegisterToggle"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-styles-sections-hero-video__forget-password-container--r1_yV [class*="login-register-toggle__loginRegisterToggle"] span {
  width: auto;
}
.theme-styles-sections-hero-video__forget-password-container--r1_yV [class*="login-register-toggle__loginRegisterToggle"] svg path {
  fill: #9e007e;
}
@media (max-width: 768px) {
  .theme-styles-sections-hero-video__forget-password-container--r1_yV [class*="forget-password__forgetPasswordWrapper"] {
    padding: 20px;
    margin: 0 20px;
  }
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq {
  margin-bottom: 50px;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__mainView"] {
  flex-direction: row-reverse;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__profilePageContainer"] {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__profileContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="fy-input__required"] {
  color: #9e007e;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-details__radioContent"] {
  padding: 10px 0;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq form [class*="profile-details__formLabel"] {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq form label {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq form input {
  padding: 10px 0px;
  font-size: 14px;
  color: #1a1a1a !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq form [class*="profile-address-page__commonBtn"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq form .theme-styles-sections-hero-video__ojp_C--JH56s {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq form button[type="submit"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #fff !important;
  background-color: #9e007e !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__navContainer"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 16px !important;
  padding: 20px !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="empty-state__heading"] {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq .theme-styles-sections-hero-video__O32OW--qS6Uq {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__nav_"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 12px !important;
  padding: 15px 20px !important;
  margin-bottom: 10px;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__nav_"] span {
  color: #2e2b2c;
  font-size: 14px;
  font-weight: 400;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__nav_"] svg path {
  fill: #9e007e !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__navContainer"] ul > *:nth-child(1),
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__navContainer"] ul > *:nth-child(4) {
  display: none !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__selected"] {
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__selected"] svg path {
  fill: #9e007e !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__signOut"] {
  color: #9e007e !important;
}
.theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__accountHeader"] {
  margin-bottom: 10px;
  color: #1a1a1a !important;
}
@media (max-width: 768px) {
  .theme-styles-sections-hero-video__profile-navigation-container--au4bq {
    margin-top: 50px;
  }
  .theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="profile-navigation__profileContent"] {
    padding: 15px;
  }
  .theme-styles-sections-hero-video__profile-navigation-container--au4bq [class*="address-form__formContainer"] {
    flex-direction: column;
  }
}
.theme-styles-sections-hero-video__collection-hero-banner--BBixS {
  position: relative;
  width: 100%;
  height: 340px;
  margin: 0 auto;
  overflow: hidden;
}
.theme-styles-sections-hero-video__collection-banner-img--TB77Q {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.theme-styles-sections-hero-video__collection-banner-img-mobile--NGdQu {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.theme-styles-sections-hero-video__collection-banner-content--NRMwY {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 20px 40px;
  max-width: 50%;
}
.theme-styles-sections-hero-video__collection-banner-content--NRMwY h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.theme-styles-sections-hero-video__collection-banner-content--NRMwY p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
@media (max-width: 768px) {
  .theme-styles-sections-hero-video__collection-banner-content--NRMwY {
    top: auto;
    bottom: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
    padding: 40px 20px;
  }
  .theme-styles-sections-hero-video__collection-banner-img--TB77Q {
    display: none;
  }
  .theme-styles-sections-hero-video__collection-banner-img-mobile--NGdQu {
    display: block;
  }
  .theme-styles-sections-hero-video__collection-banner-content--NRMwY h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .theme-styles-sections-hero-video__collection-banner-content--NRMwY p {
    font-size: 14px;
  }
}
.theme-styles-sections-hero-video__custom-banner-card--tGXHd {
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  align-items: center;
}
.theme-styles-sections-hero-video__custom-banner-card--tGXHd .theme-styles-sections-hero-video__banner-overlay--vx46N {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
}
.theme-styles-sections-hero-video__custom-banner-card--tGXHd .theme-styles-sections-hero-video__banner-content--AVNIa {
  color: #fff;
  max-width: 50%;
}
.theme-styles-sections-hero-video__custom-banner-card--tGXHd h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 150%;
  color: #000000;
}
.theme-styles-sections-hero-video__custom-banner-card--tGXHd p {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  margin-bottom: 16px;
}
.theme-styles-sections-hero-video__custom-banner-card--tGXHd .theme-styles-sections-hero-video__banner-btn--A1WeA {
  padding: 10px 24px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #9e007e;
  color: #9e007e;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}
.theme-styles-sections-hero-video__custom-banner-card--tGXHd .theme-styles-sections-hero-video__banner-btn--A1WeA:hover {
  background: #9e007e;
  color: #fff;
}
@media (max-width: 768px) {
  .theme-styles-sections-hero-video__custom-banner-card--tGXHd {
    min-height: 170px;
  }
  .theme-styles-sections-hero-video__custom-banner-card--tGXHd .theme-styles-sections-hero-video__banner-overlay--vx46N {
    padding: 20px 10px;
  }
  .theme-styles-sections-hero-video__custom-banner-card--tGXHd h2 {
    font-size: 14px;
  }
  .theme-styles-sections-hero-video__custom-banner-card--tGXHd p {
    font-size: 10px;
  }
  .theme-styles-sections-hero-video__custom-banner-card--tGXHd .theme-styles-sections-hero-video__banner-btn--A1WeA {
    font-size: 10px;
    padding: 7px 17px;
  }
  .theme-styles-sections-hero-video__custom-banner-card--tGXHd .theme-styles-sections-hero-video__banner-content--AVNIa {
    max-width: 60%;
  }
}
html body {
  font-family: Verdana !important;
}
html body * {
  font-family: Verdana !important;
}
.theme-styles-sections-hero-video__flexColumn--KTyVu {
  display: flex;
  flex-direction: column;
}
.theme-styles-sections-hero-video__flexAlignCenter--Mq4hS {
  display: flex;
  align-items: center;
}
.theme-styles-sections-hero-video__flexCenter--bHe_c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-styles-sections-hero-video__justifyStart--rOlsx {
  justify-content: flex-start;
}
.theme-styles-sections-hero-video__justifyBetween--f2coA {
  justify-content: space-between;
}
.theme-styles-sections-hero-video__slick-dots--SbELW li.theme-styles-sections-hero-video__slick-active--q94h6 button {
  background-color: #A15A95;
  width: 60px;
  height: 10px;
}
.theme-styles-sections-hero-video__slick-dots--SbELW li:not(.theme-styles-sections-hero-video__slick-active--q94h6) button {
  filter: blur(2px);
  border-radius: 100%;
  background-color: #A15A9580;
  width: 10px;
  height: 10px;
}
.theme-styles-sections-hero-video__slick-dots--SbELW {
  transform: translate(-50%, 100%) !important;
}
.theme-styles-sections-hero-video__legal-data-container--UAtpd {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  max-width: 1300px;
  margin: auto;
  padding: 50px;
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-styles-sections-hero-video__legal-data-container--UAtpd h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 0;
  margin-bottom: 50px;
  color: #9e007e;
}
.theme-styles-sections-hero-video__legal-data-container--UAtpd h2 {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin: 30px 0;
  text-transform: uppercase;
}
.theme-styles-sections-hero-video__legal-data-container--UAtpd p,
.theme-styles-sections-hero-video__legal-data-container--UAtpd a,
.theme-styles-sections-hero-video__legal-data-container--UAtpd li {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-styles-sections-hero-video__legal-data-container--UAtpd p,
.theme-styles-sections-hero-video__legal-data-container--UAtpd li {
  margin-bottom: 12px;
}
.theme-styles-sections-hero-video__legal-data-container--UAtpd a {
  text-decoration: underline;
}
.theme-styles-sections-hero-video__legal-data-container--UAtpd ol,
.theme-styles-sections-hero-video__legal-data-container--UAtpd ul {
  padding-left: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .theme-styles-sections-hero-video__legal-data-container--UAtpd {
    padding: 30px 0px;
    border: none;
    font-size: 12px;
  }
  .theme-styles-sections-hero-video__legal-data-container--UAtpd h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .theme-styles-sections-hero-video__legal-data-container--UAtpd p,
  .theme-styles-sections-hero-video__legal-data-container--UAtpd h2,
  .theme-styles-sections-hero-video__legal-data-container--UAtpd li {
    font-size: 12px;
  }
}
.theme-styles-sections-hero-video__video_heading--rADxD {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  word-wrap: break-word;
}
.theme-styles-sections-hero-video__error_message--Doekx {
  color: red;
  align-items: center;
  justify-content: center;
}
.theme-styles-sections-hero-video__video_container--bslbQ {
  background-color: #eeeeee;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-hero-video__video_container--bslbQ video::-webkit-media-controls {
    display: none !important;
    /* Hides controls */
  }
  .theme-styles-sections-hero-video__video_container--bslbQ video::-moz-media-controls {
    display: none !important;
    /* For Firefox */
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-hero-video__video_container--bslbQ:hover .theme-styles-sections-hero-video__pauseButton--PmM5a {
    display: block;
  }
}
.theme-styles-sections-hero-video__youtube_wrapper--HeIzR {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.theme-styles-sections-hero-video__yt_video--v8OLI {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
}
.theme-styles-sections-hero-video__center-overlay--qrzKW {
  text-align: center;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}
[dir="rtl"] .theme-styles-sections-hero-video__center-overlay--qrzKW {
  transform: translate(50%, -50%);
}
.theme-styles-sections-hero-video__overlay-noimage--ILacw {
  margin: 50px 0;
}
.theme-styles-sections-hero-video__overlay-noimage--ILacw.theme-styles-sections-hero-video__youtube-noimage--qk0LW {
  display: none;
}
.theme-styles-sections-hero-video__overlay__image--EsXyV,
.theme-styles-sections-hero-video__overlay__color--ix70h {
  position: absolute;
  inset: 0;
}
.theme-styles-sections-hero-video__overlay__content--x4TSt {
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}
[dir="rtl"] .theme-styles-sections-hero-video__overlay__content--x4TSt {
  transform: translate(50%, -50%);
}
.theme-styles-sections-hero-video__overlay__playButton--vTRAH {
  width: 80px;
  height: 80px;
  opacity: 0.5;
  cursor: pointer;
}
.theme-styles-sections-hero-video__overlay--OL_Gz .theme-styles-sections-hero-video__btn--bOyHA {
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  text-transform: uppercase;
}
.theme-styles-sections-hero-video__pauseButton--PmM5a {
  width: 80px;
  height: 80px;
  opacity: 0.5;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  inset-inline-start: 50%;
  cursor: pointer;
  display: none;
}
[dir="rtl"] .theme-styles-sections-hero-video__pauseButton--PmM5a {
  transform: translate(50%, -50%);
}
.theme-styles-sections-hero-video__deafult-backround--zUOQe {
  background: #cccccc;
}


/*# sourceMappingURL=HeroVideoSectionChunk.css.map*/