/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/image-slide-show.less ***!
  \******************************************************************************************************************************************************************/
body {
  font-family: Verdana !important;
}
.theme-styles-sections-image-slide-show__slideWrapper--YQ810 img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  max-height: 540px;
  object-position: 0px 41%;
}
.theme-styles-sections-image-slide-show__dIszp--rwsaL .theme-styles-sections-image-slide-show__efzS3--U2PbJ {
  left: 5%;
  top: 47%;
}
.theme-styles-sections-image-slide-show__efzS3--U2PbJ .theme-styles-sections-image-slide-show__NpDWp--KvBDK {
  padding: 0.8rem 1.75rem;
  align-items: center;
  display: flex;
}
.theme-styles-sections-image-slide-show__efzS3--U2PbJ p {
  font-size: 1rem;
  font-family: Verdana;
  text-transform: uppercase;
  font-weight: 400;
}
@media (min-width: 1025px) {
  .theme-styles-sections-image-slide-show__efzS3--U2PbJ h2 {
    font-size: 3rem;
    font-weight: 700;
    font-family: Verdana;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 0;
  }
}
.theme-styles-sections-image-slide-show__slideWrapper--YQ810 .theme-styles-sections-image-slide-show__slick-dots--bf5in li.theme-styles-sections-image-slide-show__slick-active--gOO6c button {
  background-color: #A15A95;
  width: 60px;
  height: 10px;
}
.theme-styles-sections-image-slide-show__slideWrapper--YQ810 .theme-styles-sections-image-slide-show__slick-dots--bf5in li:not(.theme-styles-sections-image-slide-show__slick-active--gOO6c) button {
  filter: blur(2px);
  border-radius: 100%;
  background-color: #A15A9580;
  width: 10px;
  height: 10px;
}
.theme-styles-sections-image-slide-show__slideWrapper--YQ810 .theme-styles-sections-image-slide-show__slick-next--t0qqW {
  top: 50%;
  right: 10px;
  transform: unset;
}
.theme-styles-sections-image-slide-show__slideWrapper--YQ810 .theme-styles-sections-image-slide-show__slick-prev--Toq2c {
  top: 50%;
  transform: unset;
  left: 10px;
  z-index: 10;
}
.theme-styles-sections-image-slide-show__slideWrapper--YQ810 .theme-styles-sections-image-slide-show__slick-prev--Toq2c path,
.theme-styles-sections-image-slide-show__slideWrapper--YQ810 .theme-styles-sections-image-slide-show__slick-next--t0qqW path {
  stroke: #A15A95;
}
.theme-styles-sections-image-slide-show__slideWrapper--YQ810.theme-styles-sections-image-slide-show__slick-slider--Lf4cM:has(.theme-styles-sections-image-slide-show__slick-dots--bf5in) {
  padding-bottom: 20px;
}
.theme-styles-sections-image-slide-show__slideWrapper--YQ810 .theme-styles-sections-image-slide-show__slick-arrow--GmLoa + .theme-styles-sections-image-slide-show__slick-dots--bf5in {
  padding: 0;
}
@media (max-width: 767px) {
  .theme-styles-sections-image-slide-show__slideWrapper--YQ810 img {
    aspect-ratio: 1.08 / 1;
  }
  #theme-styles-sections-image-slide-show__section_687f20e215e7a579d29de88c--tZCof .theme-styles-sections-image-slide-show__efzS3--U2PbJ p {
    font-size: 0.75rem;
  }
  .theme-styles-sections-image-slide-show__efzS3--U2PbJ h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}


/*# sourceMappingURL=ImageSlideshowWitTextSectionChunk.css.map*/