/*!***************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/image-gallery.less ***!
  \***************************************************************************************************************************************************************/
/**color by character**/
/** Font family **/
/** Font weight **/
.theme-styles-sections-image-gallery__login-auth-container--lBRHR .theme-styles-sections-image-gallery__n2oQ6--bMKeC {
  padding: 0px !important;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR .theme-styles-sections-image-gallery__uiz1K--Nkkx3 {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR .theme-styles-sections-image-gallery__P1CJx--YK1PP {
  border: none !important;
  flex: 1;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR .theme-styles-sections-image-gallery__P1CJx--YK1PP img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR .theme-styles-sections-image-gallery__kkBOU--YnK6r {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="auth-container-auth-container__loginWrapper"] {
  padding: 0px !important;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="login__loginWrapper"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="auth-container__loginBannerWrapper"] {
  border: none !important;
  flex: 1;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="auth-container__loginBannerWrapper"] img {
  object-fit: cover;
  border-radius: 32px;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="auth-container__loginCard"] {
  max-width: 1300px;
  margin: auto;
  padding: 30px 20px;
  gap: 20px;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="auth-container__loginContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex: 1;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="login__loginTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="login__loginSubText"] {
  color: rgba(46, 43, 44, 0.5) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
  letter-spacing: -0.5px !important;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="login-otp__loginOtpWrapper"] {
  margin-top: 20px !important;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="term-privacy__byContinuingText"] {
  color: #2e2b2c !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="term-privacy__byContinuingText"] a {
  font-weight: 700 !important;
  color: #2e2b2c !important;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="mobile-number__inputTitle"] {
  display: none;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR .theme-styles-sections-image-gallery__react-international-phone-country-selector-button--RFg2e {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px!important;
  margin-right: 8px !important;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="react-international-phone-dial-code-preview mobile-number__dialCodePreview"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-right: none !important;
  border-radius: 12px 0 0 12px !important;
  border-inline: 1px solid rgba(0, 0, 0, 0.08) !important;
  font-weight: bold;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR .theme-styles-sections-image-gallery__react-international-phone-input--Drc7J {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 0 12px 12px 0 !important;
  border-left: none !important;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="login-mode-button__loginModeBtn"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="login-mode-button__loginModeBtn"] svg path {
  fill: #9e007e;
}
.theme-styles-sections-image-gallery__login-auth-container--lBRHR [class*="login-mode-button__loginModeLabel"] {
  width: auto !important;
  text-transform: capitalize !important;
  margin-inline-end: 0px !important;
}
.theme-styles-sections-image-gallery__forget-password-container--Xl2ju [class*="forget-password__forgetPasswordWrapper"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 40px;
  max-width: 500px;
}
.theme-styles-sections-image-gallery__forget-password-container--Xl2ju [class*="forgotPasswordTitle"] {
  color: #1a1a1a !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0px !important;
  line-height: 120% !important;
}
.theme-styles-sections-image-gallery__forget-password-container--Xl2ju form {
  position: relative;
}
.theme-styles-sections-image-gallery__forget-password-container--Xl2ju form label {
  left: 5px;
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-image-gallery__forget-password-container--Xl2ju form input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px !important;
}
.theme-styles-sections-image-gallery__forget-password-container--Xl2ju form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-image-gallery__forget-password-container--Xl2ju form button[type="submit"] {
  border-radius: 500px;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #9e007e;
}
.theme-styles-sections-image-gallery__forget-password-container--Xl2ju [class*="login-register-toggle__loginRegisterToggle"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 500px !important;
  color: #16191d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  gap: 10px;
  justify-content: center;
}
.theme-styles-sections-image-gallery__forget-password-container--Xl2ju [class*="login-register-toggle__loginRegisterToggle"] span {
  width: auto;
}
.theme-styles-sections-image-gallery__forget-password-container--Xl2ju [class*="login-register-toggle__loginRegisterToggle"] svg path {
  fill: #9e007e;
}
@media (max-width: 768px) {
  .theme-styles-sections-image-gallery__forget-password-container--Xl2ju [class*="forget-password__forgetPasswordWrapper"] {
    padding: 20px;
    margin: 0 20px;
  }
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS {
  margin-bottom: 50px;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__mainView"] {
  flex-direction: row-reverse;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__profilePageContainer"] {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__profileContent"] {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="fy-input__required"] {
  color: #9e007e;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-details__radioContent"] {
  padding: 10px 0;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS form [class*="profile-details__formLabel"] {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS form label {
  font-weight: bold;
  color: #1a1a1a !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS form input {
  padding: 10px 0px;
  font-size: 14px;
  color: #1a1a1a !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS form input::placeholder {
  color: rgba(46, 43, 44, 0.5) !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS form [class*="profile-address-page__commonBtn"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS form .theme-styles-sections-image-gallery__ojp_C--E7UZw {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #9e007e !important;
  background-color: transparent !important;
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS form button[type="submit"] {
  border-radius: 500px !important;
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #fff !important;
  background-color: #9e007e !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__navContainer"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 16px !important;
  padding: 20px !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="empty-state__heading"] {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS .theme-styles-sections-image-gallery__O32OW--ROKEV {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  font-family: Verdana !important;
  color: #1a1a1a !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__nav_"] {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 12px !important;
  padding: 15px 20px !important;
  margin-bottom: 10px;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__nav_"] span {
  color: #2e2b2c;
  font-size: 14px;
  font-weight: 400;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__nav_"] svg path {
  fill: #9e007e !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__navContainer"] ul > *:nth-child(1),
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__navContainer"] ul > *:nth-child(4) {
  display: none !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__selected"] {
  border: 1px solid #9e007e !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__selected"] svg path {
  fill: #9e007e !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__signOut"] {
  color: #9e007e !important;
}
.theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__accountHeader"] {
  margin-bottom: 10px;
  color: #1a1a1a !important;
}
@media (max-width: 768px) {
  .theme-styles-sections-image-gallery__profile-navigation-container--UrGOS {
    margin-top: 50px;
  }
  .theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="profile-navigation__profileContent"] {
    padding: 15px;
  }
  .theme-styles-sections-image-gallery__profile-navigation-container--UrGOS [class*="address-form__formContainer"] {
    flex-direction: column;
  }
}
.theme-styles-sections-image-gallery__collection-hero-banner--OpVys {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.theme-styles-sections-image-gallery__collection-banner-img--Q10D4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.theme-styles-sections-image-gallery__collection-hero-banner--OpVys::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.theme-styles-sections-image-gallery__collection-unofficial--MUAg2 .theme-styles-sections-image-gallery__collection-hero-banner--OpVys::after,
.theme-styles-sections-image-gallery__collection-dbyd--Tlb_i .theme-styles-sections-image-gallery__collection-hero-banner--OpVys::after {
  display: none;
}
.theme-styles-sections-image-gallery__collection-banner-img-mobile--RdNz7 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.theme-styles-sections-image-gallery__collection-banner-content--_IT1f {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 1300px;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 20px 40px;
  width: 100%;
  z-index: 3;
}
.theme-styles-sections-image-gallery__collection-unofficial--MUAg2 .theme-styles-sections-image-gallery__collection-banner-content--_IT1f,
.theme-styles-sections-image-gallery__collection-dbyd--Tlb_i .theme-styles-sections-image-gallery__collection-banner-content--_IT1f {
  display: none;
}
.theme-styles-sections-image-gallery__collection-banner-content--_IT1f h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.theme-styles-sections-image-gallery__collection-banner-content--_IT1f p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
@media (max-width: 768px) {
  .theme-styles-sections-image-gallery__collection-banner-content--_IT1f {
    top: auto;
    bottom: 0px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
    padding: 40px 20px;
  }
  .theme-styles-sections-image-gallery__collection-banner-img--Q10D4 {
    display: none;
  }
  .theme-styles-sections-image-gallery__collection-banner-img-mobile--RdNz7 {
    display: block;
  }
  .theme-styles-sections-image-gallery__collection-banner-content--_IT1f h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .theme-styles-sections-image-gallery__collection-banner-content--_IT1f p {
    font-size: 14px;
  }
}
.theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 {
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 250px;
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  align-items: center;
}
.theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 .theme-styles-sections-image-gallery__banner-overlay--edpoh {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
}
.theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 .theme-styles-sections-image-gallery__banner-content--QJ0DD {
  color: #fff;
  max-width: 50%;
}
.theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 150%;
  color: #000000;
}
.theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 p {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  margin-bottom: 16px;
}
.theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 .theme-styles-sections-image-gallery__banner-btn--rVTW0 {
  padding: 10px 24px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #9e007e;
  color: #9e007e;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}
.theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 .theme-styles-sections-image-gallery__banner-btn--rVTW0:hover {
  background: #9e007e;
  color: #fff;
}
@media (max-width: 768px) {
  .theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 {
    min-height: 170px;
  }
  .theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 .theme-styles-sections-image-gallery__banner-overlay--edpoh {
    padding: 20px 10px;
  }
  .theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 h2 {
    font-size: 14px;
  }
  .theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 p {
    font-size: 10px;
  }
  .theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 .theme-styles-sections-image-gallery__banner-btn--rVTW0 {
    font-size: 10px;
    padding: 7px 17px;
  }
  .theme-styles-sections-image-gallery__custom-banner-card--Kqnu8 .theme-styles-sections-image-gallery__banner-content--QJ0DD {
    max-width: 60%;
  }
}
html body {
  font-family: Verdana !important;
}
html body * {
  font-family: Verdana !important;
}
.theme-styles-sections-image-gallery__flexColumn--O9FPx {
  display: flex;
  flex-direction: column;
}
.theme-styles-sections-image-gallery__flexAlignCenter--IM_Uj {
  display: flex;
  align-items: center;
}
.theme-styles-sections-image-gallery__flexCenter--zeLQE {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-styles-sections-image-gallery__justifyStart--xULts {
  justify-content: flex-start;
}
.theme-styles-sections-image-gallery__justifyBetween--ZJQoc {
  justify-content: space-between;
}
.theme-styles-sections-image-gallery__slick-dots--GVQGZ li.theme-styles-sections-image-gallery__slick-active--tTMd9 button {
  background-color: #A15A95;
  width: 60px;
  height: 10px;
}
.theme-styles-sections-image-gallery__slick-dots--GVQGZ li:not(.theme-styles-sections-image-gallery__slick-active--tTMd9) button {
  filter: blur(2px);
  border-radius: 100%;
  background-color: #A15A9580;
  width: 10px;
  height: 10px;
}
.theme-styles-sections-image-gallery__slick-dots--GVQGZ {
  transform: translate(-50%, 100%) !important;
}
#theme-styles-sections-image-gallery__section_glamar-sdk-binding--PYs4I button {
  border: 1px solid #9E007E33 !important;
  background-color: rgba(158, 0, 126, 0.04) !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #9e007e !important;
  text-transform: uppercase !important;
  padding: 20px !important;
}
.theme-styles-sections-image-gallery__legal-data-container--bgfqW {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  max-width: 1300px;
  margin: auto;
  padding: 50px;
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-styles-sections-image-gallery__legal-data-container--bgfqW h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 0;
  margin-bottom: 50px;
  color: #9e007e;
}
.theme-styles-sections-image-gallery__legal-data-container--bgfqW h2 {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin: 30px 0;
  text-transform: uppercase;
}
.theme-styles-sections-image-gallery__legal-data-container--bgfqW p,
.theme-styles-sections-image-gallery__legal-data-container--bgfqW a,
.theme-styles-sections-image-gallery__legal-data-container--bgfqW li {
  color: rgba(26, 26, 26, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.theme-styles-sections-image-gallery__legal-data-container--bgfqW p,
.theme-styles-sections-image-gallery__legal-data-container--bgfqW li {
  margin-bottom: 12px;
}
.theme-styles-sections-image-gallery__legal-data-container--bgfqW a {
  text-decoration: underline;
}
.theme-styles-sections-image-gallery__legal-data-container--bgfqW ol,
.theme-styles-sections-image-gallery__legal-data-container--bgfqW ul {
  padding-left: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .theme-styles-sections-image-gallery__legal-data-container--bgfqW {
    padding: 30px 0px;
    border: none;
    font-size: 12px;
  }
  .theme-styles-sections-image-gallery__legal-data-container--bgfqW h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .theme-styles-sections-image-gallery__legal-data-container--bgfqW p,
  .theme-styles-sections-image-gallery__legal-data-container--bgfqW h2,
  .theme-styles-sections-image-gallery__legal-data-container--bgfqW li {
    font-size: 12px;
  }
}
.theme-styles-sections-image-gallery__titleBlock--TjJEc {
  text-align: center;
  padding-inline: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-image-gallery__titleBlock--TjJEc {
    padding-inline: 24px;
    gap: 8px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-image-gallery__titleBlock--TjJEc {
    padding-inline: 16px;
  }
}
.theme-styles-sections-image-gallery__imageGallery--rqjaP {
  border-radius: var(--bd-radius, 0);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.theme-styles-sections-image-gallery__imageGrid--SJZtV {
  --row-gap: 32px;
  --col-gap: 24px;
  --col-count: var(--item-count);
  padding-inline: 40px;
  display: grid;
  gap: var(--row-gap) var(--col-gap);
  grid-template-columns: repeat(auto-fit, calc((100% / var(--col-count)) - (var(--col-gap) * (var(--col-count) - 1) / var(--col-count))));
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-image-gallery__imageGrid--SJZtV {
    --row-gap: 24px;
    --col-gap: 16px;
    padding-inline: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-image-gallery__imageGrid--SJZtV {
    --row-gap: 14px;
    --col-gap: 14px;
    --col-count: var(--item-count-mobile);
    padding-inline: 16px;
  }
}
.theme-styles-sections-image-gallery__imageSlider--aYh8E {
  --gap: 24px;
  padding-inline: 40px;
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-image-gallery__imageSlider--aYh8E {
    --gap: 12px;
    padding-inline: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-image-gallery__imageSlider--aYh8E {
    padding: 0;
  }
}
.theme-styles-sections-image-gallery__imageSlider--aYh8E .slick-list {
  margin: 0 calc(var(--gap) / 2 * -1);
}
.theme-styles-sections-image-gallery__imageSlider--aYh8E .theme-styles-sections-image-gallery__sliderItem--gASOJ {
  padding: 0 calc(var(--gap) / 2);
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-image-gallery__imageSlider--aYh8E.theme-styles-sections-image-gallery__mobileItemLess--nh2Ck {
    padding-inline: 16px;
  }
}
@media only screen and (min-width: 769px) {
  .theme-styles-sections-image-gallery__hideOnDesktop--dSINn {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .theme-styles-sections-image-gallery__hideOnTablet--CmQgL {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .theme-styles-sections-image-gallery__hideOnMobile--JjqRU {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  .theme-styles-sections-image-gallery__showOnMobile--i2kza {
    display: none;
  }
}


/*# sourceMappingURL=ImageGallerySectionChunk.css.map*/