/*!****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/lens-type-find.less ***!
  \****************************************************************************************************************************************************************/
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T {
  padding: 50px 20px;
  background-color: #f9f9f9;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__container--tg0Qg {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__container--tg0Qg .theme-styles-sections-lens-type-find__sectionContentMobile--BPilk {
  display: none;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__container--tg0Qg .theme-styles-sections-lens-type-find__sectionContent--VeoMr h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1a1a1a;
  line-height: 120%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__container--tg0Qg .theme-styles-sections-lens-type-find__sectionContent--VeoMr p {
  font-size: 14px;
  color: #2e2b2c;
  line-height: 120%;
  margin-bottom: 30px;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH {
  position: relative;
  width: 60%;
  border-radius: 20px;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH picture {
  aspect-ratio: auto !important;
  height: 100%;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH .theme-styles-sections-lens-type-find__overlayContent--H0s_x {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(4px);
  border-radius: 0 0 20px 20px;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH .theme-styles-sections-lens-type-find__overlayContent--H0s_x h3 {
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 120%;
  margin-bottom: 10px;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH .theme-styles-sections-lens-type-find__overlayContent--H0s_x .theme-styles-sections-lens-type-find__textWithButton--hexaz {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH .theme-styles-sections-lens-type-find__overlayContent--H0s_x .theme-styles-sections-lens-type-find__overlayButton--p3YZk {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  background-color: #9e007e;
  border: 1px solid #9e007e;
  color: #fff;
  padding: 14px 44px;
  border-radius: 40px;
  cursor: pointer;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH .theme-styles-sections-lens-type-find__overlayContent--H0s_x p {
  font-size: 14px;
  max-width: 400px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 120%;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 {
  width: 40%;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 .theme-styles-sections-lens-type-find__sectionButton--CojTw {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #9e007e;
  color: #9e007e;
  padding: 14px 44px;
  border-radius: 40px;
  cursor: pointer;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 .theme-styles-sections-lens-type-find__tabButtons--KltMy {
  display: flex;
  gap: 2px;
  margin-bottom: 30px;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 .theme-styles-sections-lens-type-find__tabButtons--KltMy .theme-styles-sections-lens-type-find__tabButton--ZOuZ4 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 .theme-styles-sections-lens-type-find__tabButtons--KltMy .theme-styles-sections-lens-type-find__tabButton--ZOuZ4 .theme-styles-sections-lens-type-find__tabImageWrapper--_HlNd {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid transparent;
  background: none;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 .theme-styles-sections-lens-type-find__tabButtons--KltMy .theme-styles-sections-lens-type-find__tabButton--ZOuZ4 .theme-styles-sections-lens-type-find__tabLabel--QU_ku {
  display: inline-block;
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 .theme-styles-sections-lens-type-find__tabButtons--KltMy .theme-styles-sections-lens-type-find__tabButton--ZOuZ4.theme-styles-sections-lens-type-find__active--FkWRY .theme-styles-sections-lens-type-find__tabImageWrapper--_HlNd {
  border-color: #9e007e;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 .theme-styles-sections-lens-type-find__tabButtons--KltMy .theme-styles-sections-lens-type-find__tabButton--ZOuZ4.theme-styles-sections-lens-type-find__active--FkWRY .theme-styles-sections-lens-type-find__tabImageWrapper--_HlNd::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(158, 0, 126, 0.2);
  border-radius: 50%;
  pointer-events: none;
}
.theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 .theme-styles-sections-lens-type-find__tabButtons--KltMy .theme-styles-sections-lens-type-find__tabButton--ZOuZ4 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__container--tg0Qg {
    flex-direction: column;
    gap: 30px;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__container--tg0Qg .theme-styles-sections-lens-type-find__sectionContent--VeoMr {
    display: none;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__container--tg0Qg .theme-styles-sections-lens-type-find__sectionContentMobile--BPilk {
    display: block;
    text-align: center;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__container--tg0Qg .theme-styles-sections-lens-type-find__sectionContentMobile--BPilk h2 {
    font-size: 18px;
    font-weight: 700;
    color: #1a1a1a;
    line-height: 120%;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__container--tg0Qg .theme-styles-sections-lens-type-find__sectionContentMobile--BPilk p {
    font-size: 14px;
    color: #2e2b2c;
    line-height: 120%;
    margin: 0;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH,
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 {
    width: 100%;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH {
    text-align: center;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH .theme-styles-sections-lens-type-find__overlayContent--H0s_x {
    padding: 20px 10px;
    padding-bottom: 40px;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH .theme-styles-sections-lens-type-find__overlayContent--H0s_x h3 {
    font-size: 16px;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH .theme-styles-sections-lens-type-find__overlayContent--H0s_x p {
    font-size: 14px;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH .theme-styles-sections-lens-type-find__textWithButton--hexaz .theme-styles-sections-lens-type-find__overlayButton--p3YZk {
    padding: 16px 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    white-space: nowrap ;
    transform: translate(-50%, 50%);
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__leftBox--zAMIH picture {
    height: 350px;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 {
    text-align: center;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 .theme-styles-sections-lens-type-find__sectionButton--CojTw {
    padding: 14px;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 .theme-styles-sections-lens-type-find__tabButtons--KltMy {
    gap: 2px;
    margin-top: 20px;
  }
  .theme-styles-sections-lens-type-find__highlightedTabsSection--Lkq6T .theme-styles-sections-lens-type-find__rightContent--WjMy1 .theme-styles-sections-lens-type-find__tabButtons--KltMy .theme-styles-sections-lens-type-find__tabButton--ZOuZ4 .theme-styles-sections-lens-type-find__tabImageWrapper--_HlNd {
    width: 60px;
    height: 60px;
  }
}


/*# sourceMappingURL=LensTypeFindSectionChunk.css.map*/