/*!**************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/text-and-image-with-grid.less ***!
  \**************************************************************************************************************************************************************************/
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO {
  padding: 60px 20px;
  background: rgba(161, 90, 149, 0.05);
  /* Left Side */
  /* Right Grid */
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__container--o3scl {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 40px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__mobileOnly--Ycb3x {
  display: none;
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__ctaButton--b19SD {
  background: transparent;
  color: #9e007e;
  border: 1px solid #9e007e;
  padding: 12px 48px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__ctaButton--b19SD:hover {
  color: #fff;
  background: #9e007e;
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__leftContent--rdNHO h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 120%;
  letter-spacing: 0px;
  color: #1a1a1a;
  text-transform: uppercase;
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__leftContent--rdNHO p {
  font-size: 14px;
  line-height: 150%;
  color: #2e2b2c;
  margin-bottom: 24px;
  letter-spacing: -0.5px;
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__rightGrid--sY2hq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (max-width: 768px) {
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__rightGrid--sY2hq {
    grid-template-columns: 1fr;
  }
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd {
  position: relative;
  overflow: hidden;
  border-radius: 32px;
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd:nth-child(1) {
  transform: translateY(20px);
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd:nth-child(2) {
  transform: translateY(-20px);
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd .theme-styles-sections-text-and-image-with-grid__imageWrapper--d6c7e img {
  width: 100%;
  height: auto;
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd .theme-styles-sections-text-and-image-with-grid__imageWrapper--d6c7e .theme-styles-sections-text-and-image-with-grid__mobileImg--LJDx5 {
  display: none;
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd .theme-styles-sections-text-and-image-with-grid__imageWrapper--d6c7e .theme-styles-sections-text-and-image-with-grid__overlay--OXQME {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 16px;
  z-index: 2;
  text-align: center;
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd .theme-styles-sections-text-and-image-with-grid__imageWrapper--d6c7e .theme-styles-sections-text-and-image-with-grid__overlay--OXQME h3 {
  margin: 0 0 4px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.5px;
  color: #fff;
}
.theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd .theme-styles-sections-text-and-image-with-grid__imageWrapper--d6c7e .theme-styles-sections-text-and-image-with-grid__overlay--OXQME p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO {
    padding: 50px 20px;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__container--o3scl {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__ctaButton--b19SD {
    display: block;
    margin: auto;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__mobileOnly--Ycb3x {
    display: block;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__desktopOnly--y6KF9 {
    display: none;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__leftContent--rdNHO {
    text-align: center;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__leftContent--rdNHO h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__leftContent--rdNHO p {
    margin-bottom: 0px;
    font-size: 14px;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__rightGrid--sY2hq {
    gap: 10px;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__rightGrid--sY2hq .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd {
    transform: translateY(0px) !important;
    border-radius: 24px;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__rightGrid--sY2hq .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd .theme-styles-sections-text-and-image-with-grid__imageWrapper--d6c7e {
    max-height: 240px;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__rightGrid--sY2hq .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd .theme-styles-sections-text-and-image-with-grid__imageWrapper--d6c7e .theme-styles-sections-text-and-image-with-grid__overlay--OXQME {
    text-align: left;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__rightGrid--sY2hq .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd .theme-styles-sections-text-and-image-with-grid__imageWrapper--d6c7e .theme-styles-sections-text-and-image-with-grid__overlay--OXQME h3 {
    font-size: 16px;
  }
  .theme-styles-sections-text-and-image-with-grid__imageGridSection--V_9nO .theme-styles-sections-text-and-image-with-grid__rightGrid--sY2hq .theme-styles-sections-text-and-image-with-grid__imageCard--MFfTd .theme-styles-sections-text-and-image-with-grid__imageWrapper--d6c7e .theme-styles-sections-text-and-image-with-grid__overlay--OXQME p {
    font-size: 12px;
  }
}


/*# sourceMappingURL=TextAndImageWithGridSectionChunk.css.map*/