/*!***************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/less-loader/dist/cjs.js!./theme/styles/sections/ve-care-claim.less ***!
  \***************************************************************************************************************************************************************/
.theme-styles-sections-ve-care-claim__veCareClaim--Fe7oS {
  padding: 80px 20px;
}
.theme-styles-sections-ve-care-claim__container--o7H7v {
  max-width: 1000px;
  margin: 0 auto;
}
.theme-styles-sections-ve-care-claim__heading--B_dR_ {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #2e2b2c;
  margin-bottom: 20px;
}
.theme-styles-sections-ve-care-claim__steps--Wniyf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 25px;
}
.theme-styles-sections-ve-care-claim__stepCard--IOWu_ {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  padding: 40px 30px;
  text-align: center;
}
.theme-styles-sections-ve-care-claim__iconWrapper--_Stu9 img {
  width: 64px;
  margin: 0 auto 16px;
  border-radius: 50%;
}
.theme-styles-sections-ve-care-claim__stepTitle--kJjCQ {
  font-size: 16px;
  font-weight: 700;
  color: #2e2b2c;
  line-height: 120%;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.theme-styles-sections-ve-care-claim__stepDescription--_AGoc {
  font-size: 14px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.5);
}
.theme-styles-sections-ve-care-claim__terms--f1eLe {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  overflow: hidden;
}
.theme-styles-sections-ve-care-claim__termsHeader--xogAg {
  width: 100%;
  border: none;
  padding: 24px;
  font-size: 18px;
  font-weight: 700;
  color: rgba(26, 26, 26, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.theme-styles-sections-ve-care-claim__arrow--fiJiK img {
  width: 32px;
  transition: transform 0.3s ease;
}
.theme-styles-sections-ve-care-claim__open--Cj4Q7 img {
  transform: rotate(180deg);
}
.theme-styles-sections-ve-care-claim__termsContent--xag6F {
  padding: 30px 20px;
  padding-top: 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.theme-styles-sections-ve-care-claim__termsContent--xag6F ul {
  padding-left: 30px;
  list-style: disc;
  line-height: 150%;
}
.theme-styles-sections-ve-care-claim__termsContent--xag6F ul li {
  margin-bottom: 5px;
}
/* Mobile */
@media (max-width: 768px) {
  .theme-styles-sections-ve-care-claim__veCareClaim--Fe7oS {
    padding: 50px 20px;
  }
  .theme-styles-sections-ve-care-claim__heading--B_dR_ {
    font-size: 24px;
  }
  .theme-styles-sections-ve-care-claim__steps--Wniyf {
    grid-template-columns: 1fr;
  }
  .theme-styles-sections-ve-care-claim__stepCard--IOWu_ {
    padding: 30px;
  }
  .theme-styles-sections-ve-care-claim__termsHeader--xogAg {
    padding: 14px 24px;
    font-size: 16px;
  }
  .theme-styles-sections-ve-care-claim__arrow--fiJiK img {
    width: 27px;
  }
  .theme-styles-sections-ve-care-claim__termsContent--xag6F {
    padding: 20px;
    padding-top: 0px;
  }
}


/*# sourceMappingURL=VeCareClaimSectionChunk.css.map*/