@import "../../styles/main.less";

.notFoundContainer {
max-width: 1000px;
margin: auto;
padding: 40px 20px;

@media @mobile{
min-height: 80vh;
display: flex;
align-items: center;
padding: 40px 0;
}

  .container {
    text-align: center;



    .errorImgMobile{
      display: none;
      max-width: 100%;

      @media @mobile{
        display: block;
      }
    }

    h1{
      font-size: 38px;
      font-weight: 700;
      color:rgba(0, 0, 0, 0.8);
      letter-spacing: 0px;
      line-height: 120%;
      text-transform: uppercase;

      @media @mobile{
        font-size: 28px;
      }
    }

    .errorImgDesktop{
      max-width: 100%;

      @media @mobile{
       display: none;
      }
    }

    h2{
      font-size: 32px;
      font-weight: 700;
      color:rgba(0, 0, 0, 0.8);
      letter-spacing: 0px;
      line-height: 120%;
      margin-bottom: 16px;

        @media @mobile{
        font-size: 20px;
      }
    }

    p{
       font-size: 18px;
      font-weight: 400;
      color:rgba(0, 0, 0, 0.6);
      letter-spacing: 0px;
      line-height: 120%;
      margin-bottom: 24px;


        @media @mobile{
        font-size: 14px;
      }
    }
  
    button {
      padding: 15px 50px;
      background-color: rgba(158, 0, 126, 1);
      color: #fff;
      border-radius: 500px !important;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0px;

      @media @tablet {
        font-size: 14px;
        padding: 20px 45px;
      }
    }
  }
}
